Repository amundsen-io/amundsen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amundsen-io/amundsen-committers, @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd, @jinhyukchang, @allisonsuarez, @bolkedebruin, @dorianj, @dechoma, @dkunitsk, @Golodhros, @ttannis

issues with priority
  frontend/amundsen_application/models/data_issue.py
Owners: @amundsen-io/amundsen-committers

:sparkles: Init (#1552)
  frontend/amundsen_application/static/js/components/Badges/BadgeBrowseList/styles.scss
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

fix lint issue
  databuilder/databuilder/extractor/glue_extractor.py
Owners: @amundsen-io/amundsen-committers

Add flask
  frontend/requirements.txt
  metadata/requirements.txt
  search/requirements.txt
Owners: @amundsen-io/amundsen-committers

data freshness button (#1)
  frontend/amundsen_application/__init__.py
  frontend/amundsen_application/api/freshness/__init__.py
  frontend/amundsen_application/api/freshness/v0.py
  frontend/amundsen_application/base/base_data_freshness_client.py
  frontend/amundsen_application/static/jest.config.js
  frontend/amundsen_application/static/js/ducks/rootSaga.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/v0.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/sagas.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/types.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/DataFreshnessButton/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/tests/unit/api/freshness/__init__.py
  frontend/tests/unit/api/freshness/test_v0.py
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Delete default lineage button (#4)
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Fix: glue extractor issues (#1549)
  databuilder/databuilder/extractor/glue_extractor.py
  databuilder/tests/unit/extractor/test_glue_extractor.py
Owners: @amundsen-io/amundsen-committers

query formation works for search term and filters, need to implement multi search and decide on behavior for when a filter does not apply to a resource
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Addressing PR comments
  frontend/amundsen_application/base/base_issue_tracker_client.py
  frontend/amundsen_application/proxy/issue_tracker_clients/asana_client.py
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
Owners: @amundsen-io/amundsen-committers

mypy fix
  frontend/amundsen_application/base/base_issue_tracker_client.py
  frontend/amundsen_application/proxy/issue_tracker_clients/asana_client.py
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
Owners: @amundsen-io/amundsen-committers

verified some behavior and need to get proper functionality on multi search
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Minor css cleanup
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/styles.scss
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

way simpler thanks to Dmitriy
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Pagination implemented
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Addressing latest PR comments
  frontend/amundsen_application/base/base_issue_tracker_client.py
  frontend/amundsen_application/models/issue_results.py
  frontend/amundsen_application/proxy/issue_tracker_clients/asana_client.py
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
  frontend/tests/unit/api/issue/test_issue.py
Owners: @amundsen-io/amundsen-committers

feat: Allow override of default issue tracking project and improving sorting of issues displayed (#1557)
  frontend/amundsen_application/api/issue/issue.py
  frontend/amundsen_application/base/base_issue_tracker_client.py
  frontend/amundsen_application/models/issue_results.py
  frontend/amundsen_application/proxy/issue_tracker_clients/asana_client.py
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-custom.ts
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/issue/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/issue/api/v0.ts
  frontend/amundsen_application/static/js/ducks/issue/reducer.ts
  frontend/amundsen_application/static/js/ducks/issue/sagas.ts
  frontend/amundsen_application/static/js/ducks/issue/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/issue/types.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/interfaces/Issue.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/styles.scss
  frontend/docs/application_config.md
  frontend/tests/unit/api/issue/test_issue.py
  frontend/tests/unit/issue_tracker_clients/test_jira_client.py
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

feat: allow multiple applications
  common/amundsen_common/models/table.py
  common/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

enum
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

update test...
  frontend/tests/unit/api/metadata/test_v0.py
Owners: @amundsen-io/amundsen-committers

feat: allow multiple applications (#1569)
  common/amundsen_common/models/table.py
  common/setup.py
  frontend/tests/unit/api/metadata/test_v0.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Update Elasticsearch metadata extractor
  databuilder/README.md
  databuilder/databuilder/extractor/es_base_extractor.py
  databuilder/databuilder/extractor/es_metadata_extractor.py
  databuilder/tests/unit/extractor/test_es_metadata_extractor.py
Owners: @amundsen-io/amundsen-committers

Fix mypy errors
  databuilder/databuilder/extractor/es_base_extractor.py
  databuilder/tests/unit/extractor/test_es_metadata_extractor.py
Owners: @amundsen-io/amundsen-committers

Address feedback
  databuilder/README.md
  databuilder/databuilder/extractor/es_base_extractor.py
  databuilder/databuilder/extractor/es_metadata_extractor.py
  databuilder/tests/unit/extractor/test_es_metadata_extractor.py
Owners: @amundsen-io/amundsen-committers

Update column stats extractor tests
  databuilder/tests/unit/extractor/test_es_column_stats_extractor.py
Owners: @amundsen-io/amundsen-committers

Fix typo
  databuilder/tests/unit/extractor/test_es_column_stats_extractor.py
Owners: @amundsen-io/amundsen-committers

parse args correctly in endpoint to make request to es proxy
  search/search_service/api/search.py
  search/search_service/api/swagger_doc/search/search.yml
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Fixes #1570
  frontend/amundsen_application/api/metadata/v0.py
  frontend/tests/unit/api/metadata/test_v0.py
Owners: @amundsen-io/amundsen-committers

fix announcements with new ip
  frontend/amundsen_application/base/neo4j_announcement_client.py
  scripts/build_images_prod.sh
Owners: @amundsen-io/amundsen-committers

added kibana to docker-compose (#11)
  README.md
  docker-amundsen-local.yml
Owners: @amundsen-io/amundsen-committers

formatted response
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

execute returns a list of Response items not just a Response
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

but of cleanup
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

added pagination details to response
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

tested and made some fixes to format response, still writing unit tests
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

added search score
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

stopping point, writing tests
  search/search_service/models/resources.py
  search/tests/unit/api/search/test_search_api.py
  search/tests/unit/proxy/data/sample_response.json
  search/tests/unit/proxy/test_es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

doc: add a blog from aws
  README.md
Owners: @amundsen-io/amundsen-committers

feat: databricks sql dashboard extractor
  README.md
  databuilder/README.md
  databuilder/databuilder/extractor/dashboard/databricks_sql/__init__.py
  databuilder/databuilder/extractor/dashboard/databricks_sql/databricks_sql_dashboard_extractor.py
  databuilder/databuilder/extractor/dashboard/databricks_sql/databricks_sql_dashboard_utils.py
  frontend/amundsen_application/static/css/_icons-default.scss
  frontend/amundsen_application/static/images/icons/logo-databricks-sql.svg
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

feat: databricks sql dashboard extractor (#1575)
  README.md
  databuilder/README.md
  databuilder/databuilder/extractor/dashboard/databricks_sql/__init__.py
  databuilder/databuilder/extractor/dashboard/databricks_sql/databricks_sql_dashboard_extractor.py
  databuilder/databuilder/extractor/dashboard/databricks_sql/databricks_sql_dashboard_utils.py
  frontend/amundsen_application/static/css/_icons-default.scss
  frontend/amundsen_application/static/images/icons/logo-databricks-sql.svg
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

we want to respond with they keys in the mapping not the values
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

.github/CODEOWNERS:

# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @amundsen-io/amundsen-committers will be requested for
# review when someone opens a pull request.
*       @amundsen-io/amundsen-committers

/amundsen-kube-helm/ @feng-tao @jornh @javamonkey79 @mgorsk1 @verdan @sewardgw @youngyjd

common/*.py        @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
databuilder/*.py   @feng-tao @jinhyukchang @allisonsuarez @dorianj @verdan @mgorsk1 @youngyjd @dechoma @sewardgw @dkunitsk
frontend/amundsen_application/static/    @Golodhros @ttannis @allisonsuarez @feng-tao @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dechoma
frontend/*.py    @ttannis @feng-tao @allisonsuarez @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dkunitsk @dechoma
metadata/*.py    @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
search/*.py      @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
