Repository amundsen-io/amundsen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amundsen-io/amundsen-committers, @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd, @jinhyukchang, @allisonsuarez, @bolkedebruin, @dorianj, @dechoma, @dkunitsk, @Golodhros, @ttannis

.github/CODEOWNERS:

# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @amundsen-io/amundsen-committers will be requested for
# review when someone opens a pull request.
*       @amundsen-io/amundsen-committers

/amundsen-kube-helm/ @feng-tao @jornh @javamonkey79 @mgorsk1 @verdan @sewardgw @youngyjd

common/*.py        @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
databuilder/*.py   @feng-tao @jinhyukchang @allisonsuarez @dorianj @verdan @mgorsk1 @youngyjd @dechoma @sewardgw @dkunitsk
frontend/amundsen_application/static/    @Golodhros @ttannis @allisonsuarez @feng-tao @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dechoma
frontend/*.py    @ttannis @feng-tao @allisonsuarez @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dkunitsk @dechoma
metadata/*.py    @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
search/*.py      @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk

fixed unit tests
  search/tests/unit/proxy/fixtures.py
Owners: @amundsen-io/amundsen-committers

whitespace
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

feat: more flexible ES search proxy implementation (#1649)
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/fixtures.py
Owners: @amundsen-io/amundsen-committers

Correction on model names conflicting
  metadata/metadata_service/proxy/neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

fix neo4j proxy
  metadata/metadata_service/proxy/neo4j_proxy.py
  scripts/build_images_prod.sh
Owners: @amundsen-io/amundsen-committers

fix: Added support in helm chart for air-gapped deployment (#1614)
  amundsen-kube-helm/README.md
  amundsen-kube-helm/templates/helm/templates/deployment-neo4j.yaml
  amundsen-kube-helm/templates/helm/values.yaml
Owners: @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd

:tada: Init
  databuilder/databuilder/extractor/dashboard/apache_superset/apache_superset_table_extractor.py
  databuilder/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

:tada: Init (#1574)
  databuilder/databuilder/extractor/dashboard/apache_superset/apache_superset_table_extractor.py
  databuilder/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Fixed search for report
  search/search_service/proxy/es_proxy_utils.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

:bug: Do not generate column description node if text is empty
  databuilder/databuilder/models/table_metadata.py
Owners: @amundsen-io/amundsen-committers

fix login
  metadata/metadata_service/proxy/neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

:tada: Init
  databuilder/databuilder/publisher/neo4j_csv_publisher.py
Owners: @amundsen-io/amundsen-committers

user list with active/inactive flag (#13)
  frontend/amundsen_application/static/js/components/ResourceList/ResourceListHeader/constants.ts
  frontend/amundsen_application/static/js/components/ResourceList/ResourceListHeader/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/UserListItem/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

users status fix
  scripts/build_images_prod.sh
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Add Trino icon
  frontend/amundsen_application/static/css/_icons-default.scss
  frontend/amundsen_application/static/images/icons/logo-trino.svg
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Add Trino icon (#1656)
  frontend/amundsen_application/static/css/_icons-default.scss
  frontend/amundsen_application/static/images/icons/logo-trino.svg
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

fix: bigquery preview with numeric data type (#1658)
  frontend/amundsen_application/base/base_bigquery_preview_client.py
Owners: @amundsen-io/amundsen-committers

feat: add partition column badge
  databuilder/databuilder/extractor/delta_lake_metadata_extractor.py
Owners: @amundsen-io/amundsen-committers

Add config to prevent neo4j staleness removal task from removing data with missing publisher metadata
  databuilder/README.md
  databuilder/databuilder/task/neo4j_staleness_removal_task.py
  databuilder/setup.py
  databuilder/tests/unit/task/test_neo4j_staleness_removal_task.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

test code is updated: badge is added to partition column
  databuilder/tests/unit/extractor/test_deltalake_extractor.py
Owners: @amundsen-io/amundsen-committers

flake8, isort checks are done
  databuilder/databuilder/extractor/delta_lake_metadata_extractor.py
  databuilder/tests/unit/extractor/test_deltalake_extractor.py
Owners: @amundsen-io/amundsen-committers

Log searches and add tag to filter for features when clicking from the homepage
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/Tags/TagInfo/index.tsx
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterOperationSelector/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

feat: add partition column badge (#1661)
  databuilder/databuilder/extractor/delta_lake_metadata_extractor.py
  databuilder/tests/unit/extractor/test_deltalake_extractor.py
Owners: @amundsen-io/amundsen-committers

:tada: Init
  databuilder/databuilder/extractor/hive_table_last_updated_extractor.py
  databuilder/databuilder/extractor/hive_table_metadata_extractor.py
Owners: @amundsen-io/amundsen-committers

:bookmark: Releasing / Version tags.
  databuilder/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

add typing annotation in the function to address mypy requirements
  frontend/amundsen_application/base/base_bigquery_preview_client.py
Owners: @amundsen-io/amundsen-committers

fix: bigquery preview with numeric data type - issue #1658 (#1660)
  frontend/amundsen_application/base/base_bigquery_preview_client.py
Owners: @amundsen-io/amundsen-committers

feat: refactor hive extractor sql query refs (#1664)
  databuilder/databuilder/extractor/hive_table_last_updated_extractor.py
  databuilder/databuilder/extractor/hive_table_metadata_extractor.py
  databuilder/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

added frequent user feature
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/v0.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/sagas.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/types.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  metadata/metadata_service/__init__.py
  metadata/metadata_service/api/table.py
  metadata/metadata_service/api/user.py
  metadata/metadata_service/proxy/neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

tags in the tables
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

:tada: Init
  metadata/metadata_service/proxy/neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

:tada: Init
  databuilder/databuilder/extractor/generic_usage_extractor.py
  databuilder/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

feat: refactor generic usage extractor #1669
  databuilder/databuilder/extractor/generic_usage_extractor.py
  databuilder/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

feat: introduce resource reports client in neo4j proxy #1670
  metadata/metadata_service/proxy/neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

Using original method of reporting search metrics using action_logging
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

chore: Log searches and add tag to filter for features when clicking from the homepage (#1663)
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/Tags/TagInfo/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterOperationSelector/index.tsx
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

chore: remove py36 from github workflows
  .github/workflows/common_pull_request.yml
  .github/workflows/databuilder_pull_request.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend_pull_request.yml
  .github/workflows/metadata_pull_request.yml
  .github/workflows/monthly_release.yml
  .github/workflows/noop_pull_request.yml
  .github/workflows/search_pull_request.yml
Owners: @amundsen-io/amundsen-committers

add region argument to glue extractor boto3 client
  databuilder/databuilder/extractor/glue_extractor.py
Owners: @amundsen-io/amundsen-committers

add region property
  databuilder/databuilder/extractor/glue_extractor.py
Owners: @amundsen-io/amundsen-committers

added region_name_key to default config
  databuilder/databuilder/extractor/glue_extractor.py
Owners: @amundsen-io/amundsen-committers
