Repository amundsen-io/amundsen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amundsen-io/amundsen-committers, @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd, @jinhyukchang, @allisonsuarez, @bolkedebruin, @dorianj, @dechoma, @dkunitsk, @Golodhros, @ttannis

.github/CODEOWNERS:

# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @amundsen-io/amundsen-committers will be requested for
# review when someone opens a pull request.
*       @amundsen-io/amundsen-committers

/amundsen-kube-helm/ @feng-tao @jornh @javamonkey79 @mgorsk1 @verdan @sewardgw @youngyjd

common/*.py        @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
databuilder/*.py   @feng-tao @jinhyukchang @allisonsuarez @dorianj @verdan @mgorsk1 @youngyjd @dechoma @sewardgw @dkunitsk
frontend/amundsen_application/static/    @Golodhros @ttannis @allisonsuarez @feng-tao @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dechoma
frontend/*.py    @ttannis @feng-tao @allisonsuarez @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dkunitsk @dechoma
metadata/*.py    @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
search/*.py      @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk

fix
  databuilder/tests/unit/utils/__init__.py
  databuilder/tests/unit/utils/test_nested_column_parser.py
Owners: @amundsen-io/amundsen-committers

Cleanup
  databuilder/databuilder/utils/nested_column_parser.py
  databuilder/tests/unit/utils/test_nested_column_parser.py
Owners: @amundsen-io/amundsen-committers

??
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Add a nested column transformer
  databuilder/databuilder/transformer/nested_column_transformer.py
Owners: @amundsen-io/amundsen-committers

almost there
  frontend/amundsen_application/__init__.py
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/static/js/ducks/search/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/tests/sagas.spec.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Add config for nested columns - Enable/disable - Max column count for hiding nested columns
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

fixed response schema issue
  search/search_service/api/search.py
Owners: @amundsen-io/amundsen-committers

fixed response schema issue (#1585)
  search/search_service/api/search.py
Owners: @amundsen-io/amundsen-committers

almost done
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/tests/sagas.spec.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

fix #1572 - make where_clause_suffix an actual suffix
  databuilder/databuilder/extractor/redshift_metadata_extractor.py
  databuilder/tests/unit/extractor/test_redshift_metadata_extractor.py
Owners: @amundsen-io/amundsen-committers

Remove pyatlasclient version pinning
  databuilder/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

chore: remove pyatlasclient version pinning (#1587)
  databuilder/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Fix Tableau dashboard extractor to ignore dashboards of insufficient privileges
  databuilder/databuilder/extractor/dashboard/tableau/tableau_dashboard_table_extractor.py
  databuilder/tests/unit/extractor/dashboard/tableau/test_tableau_dashboard_table_extractor.py
Owners: @amundsen-io/amundsen-committers

:tada: Init
  databuilder/databuilder/extractor/atlas_search_data_extractor.py
  databuilder/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

fixes 1
  databuilder/databuilder/extractor/atlas_search_data_extractor.py
Owners: @amundsen-io/amundsen-committers

fix: add es v2 client config
  search/search_service/config.py
Owners: @amundsen-io/amundsen-committers

fix: add es v2 client config (#1592)
  search/search_service/config.py
Owners: @amundsen-io/amundsen-committers

fix: added page size argument for compatibility
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

fix: added page size argument for compatibility (#1593)
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

fix: added healthcheck to proxy
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Added config tests
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

proxy set incorrectly
  search/search_service/api/search.py
Owners: @amundsen-io/amundsen-committers

added search to b ase proxy
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

lint
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
Owners: @amundsen-io/amundsen-committers

sort imports
  search/search_service/api/search.py
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

New release for 2.12.0
  search/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Bumped search version to 2.12.0
  search/CHANGELOG.md
Owners: @amundsen-io/amundsen-committers

New release for 3.14.0
  frontend/setup.py
Owners: @ttannis, @feng-tao, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dkunitsk, @dechoma

New release for 6.5.0
  databuilder/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Bumped databuilder version to 6.5.0
  databuilder/CHANGELOG.md
Owners: @amundsen-io/amundsen-committers

Bumped frontend version to 3.14.0
  frontend/CHANGELOG.md
Owners: @amundsen-io/amundsen-committers

New release for 3.12.0
  metadata/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

New release for 0.24.0
  common/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Bumped metadata version to 3.12.0
  metadata/CHANGELOG.md
Owners: @amundsen-io/amundsen-committers

Bumped common version to 0.24.0
  common/CHANGELOG.md
Owners: @amundsen-io/amundsen-committers

Cleanup
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

introduce s3 support in openlineage extractor
  databuilder/databuilder/extractor/openlineage_extractor.py
Owners: @amundsen-io/amundsen-committers

refactor to use external iterators as source of Openlineage events
  databuilder/databuilder/extractor/openlineage_extractor.py
Owners: @amundsen-io/amundsen-committers

update readme of Openlineage extractor
  databuilder/README.md
Owners: @amundsen-io/amundsen-committers

coerce attrlist and dict to list and dict
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers
