Repository amundsen-io/amundsen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amundsen-io/amundsen-committers, @feng-tao, @jornh, @javamonkey79, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @Golodhros, @ttannis

Makes sure to use the new env variables
  frontend/amundsen_application/__init__.py
Owners: @amundsen-io/amundsen-committers

Fixes copy/paste from metadata
  frontend/amundsen_application/__init__.py
Owners: @amundsen-io/amundsen-committers

Makes sure to use the new env variables
  frontend/amundsen_application/__init__.py
Owners: @amundsen-io/amundsen-committers

Notices property added for Table
  common/amundsen_common/models/table.py
Owners: @amundsen-io/amundsen-committers

Added Atlas notices to table page
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/ResourceListItem/FeatureListItem/index.tsx
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/table.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ExploreButton/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj

Notices functionality added to Atlas proxy
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/tests/unit/proxy/test_atlas_proxy.py
Owners: @amundsen-io/amundsen-committers

fix: Makes sure to use the new env variables (#1253)
  frontend/amundsen_application/__init__.py
Owners: @amundsen-io/amundsen-committers

add ml feature ES index mapping
  common/amundsen_common/models/index_map.py
  common/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd

fix typos
  common/amundsen_common/models/index_map.py
Owners: @amundsen-io/amundsen-committers

feat: add ml feature ES index mapping (#1257)
  common/amundsen_common/models/index_map.py
  common/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd

add key to ES feature index
  common/amundsen_common/models/index_map.py
  common/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd

add key to ES feature index (#1258)
  common/amundsen_common/models/index_map.py
  common/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd

typos
  search/search_service/proxy/elasticsearch.py
Owners: @amundsen-io/amundsen-committers

ml feature search
  common/amundsen_common/models/index_map.py
  databuilder/databuilder/extractor/neo4j_search_data_extractor.py
  databuilder/databuilder/publisher/elasticsearch_constants.py
  databuilder/databuilder/publisher/elasticsearch_publisher.py
  databuilder/docs/dashboard_ingestion_guide.md
  databuilder/example/scripts/sample_data_loader.py
  databuilder/example/scripts/sample_data_loader_mysql.py
  databuilder/example/scripts/sample_data_loader_neptune.py
  databuilder/example/scripts/sample_tableau_data_loader.py
  search/README.md
  search/search_service/__init__.py
  search/search_service/api/document.py
  search/search_service/api/feature.py
  search/search_service/api/swagger_doc/document/feature_delete.yml
  search/search_service/api/swagger_doc/document/feature_post.yml
  search/search_service/api/swagger_doc/document/feature_put.yml
  search/search_service/api/swagger_doc/feature/search_feature.yml
  search/search_service/api/swagger_doc/feature/search_feature_filter.yml
  search/search_service/api/swagger_doc/template.yml
  search/search_service/models/feature.py
  search/search_service/models/table.py
  search/search_service/models/user.py
  search/search_service/proxy/atlas.py
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/setup.py
  search/tests/unit/api/document/test_document_feature_api.py
  search/tests/unit/api/document/test_document_features_api.py
  search/tests/unit/api/feature/fixtures.py
  search/tests/unit/api/feature/test_search_feature_api.py
  search/tests/unit/api/feature/test_search_feature_filter.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd

updates based on search service wip
  frontend/amundsen_application/api/search/v0.py
  frontend/amundsen_application/api/utils/search_utils.py
Owners: @amundsen-io/amundsen-committers

bumped common version to 0.15.2
  requirements-common.txt
Owners: @amundsen-io/amundsen-committers

Added metadata queries for neo4j to extract query components
  common/amundsen_common/models/table.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

Added metadata queries for neo4j to extract query components (#1259)
  common/amundsen_common/models/table.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

feat: Adds support of `USER_DETAIL_METHOD` to Neo4j (#1249)
  metadata/metadata_service/config.py
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/metadata_service/proxy/base_proxy.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

tests and fixes
  common/amundsen_common/models/index_map.py
  databuilder/databuilder/extractor/neo4j_search_data_extractor.py
  databuilder/databuilder/models/feature/feature_elasticsearch_document.py
  databuilder/requirements.txt
  databuilder/setup.py
  requirements-common.txt
  search/search_service/__init__.py
  search/search_service/api/swagger_doc/template.yml
  search/search_service/models/feature.py
  search/search_service/models/user.py
  search/search_service/proxy/elasticsearch.py
  search/setup.py
  search/tests/unit/api/document/test_document_feature_api.py
  search/tests/unit/api/document/test_document_features_api.py
  search/tests/unit/api/feature/fixtures.py
  search/tests/unit/api/feature/test_search_feature_api.py
  search/tests/unit/api/feature/test_search_feature_filter.py
  search/tests/unit/proxy/test_elasticsearch.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @bolkedebruin

isort
  databuilder/databuilder/publisher/elasticsearch_constants.py
  databuilder/example/scripts/sample_data_loader.py
  databuilder/example/scripts/sample_data_loader_mysql.py
  databuilder/example/scripts/sample_data_loader_neptune.py
Owners: @amundsen-io/amundsen-committers

feat: migrate amundsen-atlas-types (#1238)
  databuilder/MANIFEST.in
  databuilder/README.md
  databuilder/databuilder/publisher/atlas_csv_publisher.py
  databuilder/databuilder/types/__init__.py
  databuilder/databuilder/types/atlas/__init__.py
  databuilder/databuilder/types/atlas/schema/01_1_reader.json
  databuilder/databuilder/types/atlas/schema/01_2_table_schema.json
  databuilder/databuilder/types/atlas/schema/01_3_bookmark.json
  databuilder/databuilder/types/atlas/schema/01_4_report.json
  databuilder/databuilder/types/atlas/schema/01_column_schema.json
  databuilder/databuilder/types/atlas/schema/02_user.json
  databuilder/databuilder/types/atlas/schema/04_reader_referenceable_relation.json
  databuilder/databuilder/types/atlas/schema/04_user_reader_relation.json
  databuilder/databuilder/types/atlas/schema/05_1_hive_table_partition.json
  databuilder/databuilder/types/atlas/schema/05_table_partition_schema.json
  databuilder/databuilder/types/atlas/schema/06_user_table_owner_relation.json
  databuilder/databuilder/types/atlas/schema/__init__.py
  databuilder/databuilder/types/atlas/schema/dashboard/01_group.json
  databuilder/databuilder/types/atlas/schema/dashboard/02_dashboard.json
  databuilder/databuilder/types/atlas/schema/dashboard/03_query.json
  databuilder/databuilder/types/atlas/schema/dashboard/04_chart.json
  databuilder/databuilder/types/atlas/schema/dashboard/05_execution.json
  databuilder/databuilder/types/atlas/schema/dashboard/__init__.py
  databuilder/databuilder/types/atlas/types_def.py
  databuilder/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd

Changes PopularTables -> `PopularResources`
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/static/js/components/PopularResources/constants.ts
  frontend/amundsen_application/static/js/components/PopularResources/index.spec.tsx
  frontend/amundsen_application/static/js/components/PopularResources/index.tsx
  frontend/amundsen_application/static/js/components/PopularResources/styles.scss
  frontend/amundsen_application/static/js/components/PopularTables/constants.ts
  frontend/amundsen_application/static/js/components/PopularTables/index.tsx
  frontend/amundsen_application/static/js/ducks/popularTables/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/popularTables/api/v0.ts
  frontend/amundsen_application/static/js/ducks/popularTables/index.spec.ts
  frontend/amundsen_application/static/js/ducks/popularTables/reducer.ts
  frontend/amundsen_application/static/js/ducks/popularTables/sagas.ts
  frontend/amundsen_application/static/js/ducks/popularTables/types.ts
  frontend/amundsen_application/static/js/ducks/rootReducer.ts
  frontend/amundsen_application/static/js/ducks/rootSaga.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/interfaces/Resources.ts
  frontend/amundsen_application/static/js/pages/HomePage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/HomePage/index.tsx
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj

tries to check with the version upgrade
  requirements.txt
Owners: @amundsen-io/amundsen-committers

testing
  .github/workflows/deploy_docs.yml
Owners: @amundsen-io/amundsen-committers

updates
  mkdocs.yml
Owners: @amundsen-io/amundsen-committers

updates
  mkdocs.yml
Owners: @amundsen-io/amundsen-committers

fixes
  .github/workflows/deploy_docs.yml
  requirements.txt
Owners: @amundsen-io/amundsen-committers

bumps the amundsen common version
  databuilder/requirements.txt
  requirements-common.txt
Owners: @amundsen-io/amundsen-committers

fix: Fixes the Amundsen Builds (#1260)
  databuilder/requirements.txt
  mkdocs.yml
  requirements-common.txt
  requirements.txt
Owners: @amundsen-io/amundsen-committers

feat: ml feature search (#1256)
  databuilder/databuilder/extractor/neo4j_search_data_extractor.py
  databuilder/databuilder/models/feature/feature_elasticsearch_document.py
  databuilder/databuilder/publisher/elasticsearch_constants.py
  databuilder/databuilder/publisher/elasticsearch_publisher.py
  databuilder/docs/dashboard_ingestion_guide.md
  databuilder/example/scripts/sample_data_loader.py
  databuilder/example/scripts/sample_data_loader_mysql.py
  databuilder/example/scripts/sample_data_loader_neptune.py
  databuilder/example/scripts/sample_tableau_data_loader.py
  databuilder/setup.py
  search/README.md
  search/search_service/__init__.py
  search/search_service/api/document.py
  search/search_service/api/feature.py
  search/search_service/api/swagger_doc/document/feature_delete.yml
  search/search_service/api/swagger_doc/document/feature_post.yml
  search/search_service/api/swagger_doc/document/feature_put.yml
  search/search_service/api/swagger_doc/feature/search_feature.yml
  search/search_service/api/swagger_doc/feature/search_feature_filter.yml
  search/search_service/api/swagger_doc/template.yml
  search/search_service/models/feature.py
  search/search_service/models/table.py
  search/search_service/models/user.py
  search/search_service/proxy/atlas.py
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/setup.py
  search/tests/unit/api/document/test_document_feature_api.py
  search/tests/unit/api/document/test_document_features_api.py
  search/tests/unit/api/feature/fixtures.py
  search/tests/unit/api/feature/test_search_feature_api.py
  search/tests/unit/api/feature/test_search_feature_filter.py
  search/tests/unit/proxy/test_elasticsearch.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @bolkedebruin

feat: extend preview client to support feature sample
  frontend/amundsen_application/api/preview/v0.py
  frontend/amundsen_application/base/base_preview_client.py
  frontend/amundsen_application/static/js/ducks/feature/api/v0.ts
  frontend/amundsen_application/static/js/interfaces/Feature.ts
  frontend/amundsen_application/static/js/interfaces/index.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj

added method stub for classes that use base preview client interface
  frontend/amundsen_application/base/base_redash_preview_client.py
  frontend/amundsen_application/base/base_superset_preview_client.py
Owners: @amundsen-io/amundsen-committers

lint
  frontend/amundsen_application/api/preview/v0.py
  frontend/amundsen_application/base/base_redash_preview_client.py
Owners: @amundsen-io/amundsen-committers

.github/CODEOWNERS:

# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @amundsen-io/amundsen-committers will be requested for
# review when someone opens a pull request.
*       @amundsen-io/amundsen-committers

/amundsen-kube-helm/ @feng-tao @jornh @javamonkey79

common/*.py        @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd
databuilder/*.py   @feng-tao @jinhyukchang @allisonsuarez @dorianj @verdan @mgorsk1 @youngyjd
frontend/amundsen_application/static/    @Golodhros @ttannis @allisonsuarez @feng-tao @dorianj
frontend/*.py    @ttannis @feng-tao @allisonsuarez @dorianj @verdan
metadata/*.py    @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd
search/*.py      @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd
