Repository amundsen-io/amundsen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amundsen-io/amundsen-committers, @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd, @jinhyukchang, @allisonsuarez, @bolkedebruin, @dorianj, @dechoma, @dkunitsk, @Golodhros, @ttannis

change region parameter name and default config, add more info to glue documentation
  databuilder/README.md
  databuilder/databuilder/extractor/glue_extractor.py
Owners: @amundsen-io/amundsen-committers

chore: Log searches and add tag to filter for features when clicking from the homepage (#1663)
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/Tags/TagInfo/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterOperationSelector/index.tsx
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Addressing PR comments
  databuilder/databuilder/task/neo4j_staleness_removal_task.py
  databuilder/setup.py
  databuilder/tests/unit/task/test_neo4j_staleness_removal_task.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Small parentheses change
  databuilder/databuilder/task/neo4j_staleness_removal_task.py
Owners: @amundsen-io/amundsen-committers

feat: Add config to prevent neo4j staleness removal task from removing data with missing publisher metadata (#1662)
  databuilder/README.md
  databuilder/databuilder/task/neo4j_staleness_removal_task.py
  databuilder/setup.py
  databuilder/tests/unit/task/test_neo4j_staleness_removal_task.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Upgrade amundsen services versions on ECS installation
  docs/installation-aws-ecs/docker-ecs-amundsen.yml
Owners: @amundsen-io/amundsen-committers

Upgrade amundsen services versions on ECS installation (#1675)
  docs/installation-aws-ecs/docker-ecs-amundsen.yml
Owners: @amundsen-io/amundsen-committers

:rotating_light: black linter
  databuilder/databuilder/extractor/feast_extractor.py
  databuilder/tests/unit/extractor/test_feast_extractor.py
Owners: @amundsen-io/amundsen-committers

:sparkles: Initial commit for feast upgrade
  databuilder/databuilder/extractor/feast_extractor.py
  databuilder/example/sample_data/feasture_store/data/driver_stats.parquet
  databuilder/example/sample_data/feasture_store/data/online_store.db
  databuilder/example/sample_data/feasture_store/data/registry.db
  databuilder/example/sample_data/feasture_store/example.py
  databuilder/example/sample_data/feasture_store/feature_store.yaml
  databuilder/example/scripts/sample_feast_loader.py
Owners: @amundsen-io/amundsen-committers

:wastebasket: Remove binary files
  databuilder/example/sample_data/feature_store/data/driver_stats.parquet
  databuilder/example/sample_data/feature_store/data/online_store.db
  databuilder/example/sample_data/feature_store/data/registry.db
  databuilder/example/sample_data/feature_store/example.py
  databuilder/example/sample_data/feature_store/feature_store.yaml
  databuilder/tests/unit/resources/extractor/feast/fs/data/driver_stats.parquet
Owners: @amundsen-io/amundsen-committers

:page_facing_up: Add Amundsen licence
  databuilder/example/sample_data/feature_store/example.py
  databuilder/tests/unit/resources/extractor/feast/fs/example.py
Owners: @amundsen-io/amundsen-committers

:wastebasket: Delete old binaries
  databuilder/tests/unit/resources/extractor/feast/fs/data/online_store.db
  databuilder/tests/unit/resources/extractor/feast/fs/data/registry.db
Owners: @amundsen-io/amundsen-committers

:white_check_mark: Remove binary files and add setup and teardown method for feast testing
  databuilder/setup.cfg
  databuilder/tests/unit/extractor/test_feast_extractor.py
  databuilder/tests/unit/resources/extractor/feast/fs/data/registry.db
Owners: @amundsen-io/amundsen-committers

:rotating_light: black linter
  databuilder/databuilder/extractor/feast_extractor.py
  databuilder/example/sample_data/feature_store/example.py
  databuilder/tests/unit/resources/extractor/feast/fs/example.py
Owners: @amundsen-io/amundsen-committers

:test_tube: Teardown method
  databuilder/tests/unit/extractor/test_feast_extractor.py
Owners: @amundsen-io/amundsen-committers

:pushpin: Fix feast version
  databuilder/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

:sparkles: Upgrade feast
  databuilder/databuilder/extractor/feast_extractor.py
  databuilder/setup.py
  databuilder/tests/unit/extractor/test_feast_extractor.py
  databuilder/tests/unit/resources/extractor/feast/fs/data/driver_stats.parquet
  databuilder/tests/unit/resources/extractor/feast/fs/data/online_store.db
  databuilder/tests/unit/resources/extractor/feast/fs/data/registry.db
  databuilder/tests/unit/resources/extractor/feast/fs/example.py
  databuilder/tests/unit/resources/extractor/feast/fs/feature_store.yaml
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

:art: Fix typo and change sample data example
  databuilder/example/sample_data/feature_store/data/driver_stats.parquet
  databuilder/example/sample_data/feature_store/data/online_store.db
  databuilder/example/sample_data/feature_store/data/registry.db
  databuilder/example/sample_data/feature_store/example.py
  databuilder/example/sample_data/feature_store/feature_store.yaml
Owners: @amundsen-io/amundsen-committers

:pushpin: Set feast 0.14
  databuilder/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Upgrade feast
  databuilder/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

.github/CODEOWNERS:

# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @amundsen-io/amundsen-committers will be requested for
# review when someone opens a pull request.
*       @amundsen-io/amundsen-committers

/amundsen-kube-helm/ @feng-tao @jornh @javamonkey79 @mgorsk1 @verdan @sewardgw @youngyjd

common/*.py        @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
databuilder/*.py   @feng-tao @jinhyukchang @allisonsuarez @dorianj @verdan @mgorsk1 @youngyjd @dechoma @sewardgw @dkunitsk
frontend/amundsen_application/static/    @Golodhros @ttannis @allisonsuarez @feng-tao @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dechoma
frontend/*.py    @ttannis @feng-tao @allisonsuarez @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dkunitsk @dechoma
metadata/*.py    @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
search/*.py      @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
