Repository amundsen-io/amundsen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amundsen-io/amundsen-committers, @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd, @jinhyukchang, @allisonsuarez, @bolkedebruin, @dorianj, @dechoma, @dkunitsk, @Golodhros, @ttannis

.github/CODEOWNERS:

# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @amundsen-io/amundsen-committers will be requested for
# review when someone opens a pull request.
*       @amundsen-io/amundsen-committers

/amundsen-kube-helm/ @feng-tao @jornh @javamonkey79 @mgorsk1 @verdan @sewardgw @youngyjd

common/*.py        @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
databuilder/*.py   @feng-tao @jinhyukchang @allisonsuarez @dorianj @verdan @mgorsk1 @youngyjd @dechoma @sewardgw @dkunitsk
frontend/amundsen_application/static/    @Golodhros @ttannis @allisonsuarez @feng-tao @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dechoma
frontend/*.py    @ttannis @feng-tao @allisonsuarez @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dkunitsk @dechoma
metadata/*.py    @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
search/*.py      @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk

bumped common
  requirements-common.txt
Owners: @amundsen-io/amundsen-committers

fixed 'AttrDict' object has no attribute 'get' error
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Fix Tableau dashboard extractor to ignore dashboards of insufficient privileges (#1590)
  databuilder/databuilder/extractor/dashboard/tableau/tableau_dashboard_table_extractor.py
  databuilder/tests/unit/extractor/dashboard/tableau/test_tableau_dashboard_table_extractor.py
Owners: @amundsen-io/amundsen-committers

added index to get document
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

recreated mappings with dsl to use documents correctly
  search/search_service/proxy/es_mappings.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

provide es client to use
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

cleanup and fix in mapped field instead of field
  search/search_service/proxy/es_mappings.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

support multi value
  search/search_service/proxy/es_mappings.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

added logging
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

change func call
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

should b efixed
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

oops
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

cleaned up
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

fix
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

lint
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

fix: updated UpdateDocumentRequest model to make value optional
  common/amundsen_common/models/search.py
Owners: @amundsen-io/amundsen-committers

Update setup.py
  common/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

fix: updated UpdateDocumentRequest model to make value optional (#1617)
  common/amundsen_common/models/search.py
  common/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

fix: Adding missing secretName in ingress configuration. Helm improvements proposal. (#1604)
  amundsen-kube-helm/templates/helm/Chart.yaml
  amundsen-kube-helm/templates/helm/requirements.yaml
  amundsen-kube-helm/templates/helm/templates/configmap-frontend.yaml
  amundsen-kube-helm/templates/helm/templates/configmap-metadata.yaml
  amundsen-kube-helm/templates/helm/templates/configmap-search.yaml
  amundsen-kube-helm/templates/helm/templates/configmaps.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-frontend.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-metadata.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-search.yaml
  amundsen-kube-helm/templates/helm/templates/ingress-frontend.yaml
  amundsen-kube-helm/templates/helm/values.yaml
Owners: @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd

PowerBI reports model first commit
  common/__init__.py
  common/amundsen_common/models/reports.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk, @amundsen-io/amundsen-committers

Added proxy functions to receive neo4j PowerBI data
  metadata/metadata_service/proxy/neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

added route and get function for powerbi extraction (neo4j)
  metadata/__init__.py
  metadata/metadata_service/__init__.py
  metadata/metadata_service/api/report.py
  metadata/metadata_service/models/__init__.py
  metadata/metadata_service/models/reports.py
  metadata/metadata_service/proxy/neo4j_proxy.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk, @amundsen-io/amundsen-committers

Functional document update
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/api/utils/request_utils.py
  frontend/amundsen_application/api/utils/search_utils.py
  requirements-common.txt
Owners: @amundsen-io/amundsen-committers

Report searching ES tested
  search/search_service/__init__.py
  search/search_service/api/report.py
  search/search_service/models/report.py
  search/search_service/proxy/elasticsearch.py
Owners: @amundsen-io/amundsen-committers

rewrote es update document to not get document just update directly
  search/search_service/api/document_update.py
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_mappings.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

linting
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

fixed type annotations
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

more type fixing
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

finally actually fixed typing issue
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

getatt istead of .get
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

result is dict so use get
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

loggigng
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

fixed dummy bug of the century
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

remove leftover code
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

fix: error on search with pagination (#1622)
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

removed check
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

mypy fix
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

added error if key returns more than one doc
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

updated unit tests
  frontend/tests/unit/api/metadata/test_v0.py
Owners: @amundsen-io/amundsen-committers

test fix 2
  frontend/tests/unit/api/metadata/test_v0.py
Owners: @amundsen-io/amundsen-committers
