Repository amundsen-io/amundsen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amundsen-io/amundsen-committers, @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd, @jinhyukchang, @allisonsuarez, @bolkedebruin, @dorianj, @dechoma, @dkunitsk, @Golodhros, @ttannis

fixed hit # check
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

2nd round of feedback implemented, cleaup
  search/search_service/api/document_update.py
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_proxy_utils.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

lint
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

import fix
  search/search_service/api/search.py
Owners: @amundsen-io/amundsen-committers

feat: v2/document API (#1611)
  requirements-common.txt
  search/search_service/__init__.py
  search/search_service/api/document_update.py
  search/search_service/api/search.py
  search/search_service/api/swagger_doc/search/document_delete.yml
  search/search_service/api/swagger_doc/search/document_post.yml
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_proxy_utils.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

almost there
  frontend/amundsen_application/__init__.py
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/static/js/ducks/search/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/tests/sagas.spec.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

FE search API correctly requests search service and responds, need to make the ts changes needed to show changes in FE
  frontend/amundsen_application/api/search/v1.py
Owners: @amundsen-io/amundsen-committers

cleanup
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.tsx
  frontend/amundsen_application/static/js/ducks/search/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

SEARCH IS FUNCTIONAL WITH NEW API
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.tsx
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

almost done
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/tests/sagas.spec.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

correct mappings for resource results
  frontend/amundsen_application/api/search/v0.py
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
Owners: @amundsen-io/amundsen-committers

Majority of the work done for filter operation selection using new search api
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/amundsen_application/static/js/components/Tags/TagInfo/index.tsx
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/ducks/search/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/tests/sagas.spec.ts
  frontend/amundsen_application/static/js/features/BadgeList/index.tsx
  frontend/amundsen_application/static/js/fixtures/search/filters.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
  frontend/amundsen_application/static/js/interfaces/SearchFilterInput.ts
  frontend/amundsen_application/static/js/pages/DashboardPage/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableHeaderBullets/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/docs/application_config.md
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

unit test fixing again, having trouble running lo caly
  frontend/tests/unit/api/metadata/test_v0.py
Owners: @amundsen-io/amundsen-committers

had the wrong route
  frontend/tests/unit/api/metadata/test_v0.py
Owners: @amundsen-io/amundsen-committers

delete
  frontend/tests/unit/api/metadata/test_v0.py
Owners: @amundsen-io/amundsen-committers

search routes added for report
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/api/search/v0.py
  frontend/amundsen_application/api/utils/search_utils.py
Owners: @amundsen-io/amundsen-committers

hotfix on metadata report
  frontend/amundsen_application/api/metadata/v0.py
Owners: @amundsen-io/amundsen-committers

Fixing resource specific search with filters and clear filters behavior
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/types.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Fixing js tests and betterer issues
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/amundsen_application/static/js/components/SearchBar/index.tsx
  frontend/amundsen_application/static/js/ducks/search/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/tests/sagas.spec.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Fixing python test and lint/betterer
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/tests/unit/utils/test_search_utils.py
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma, @amundsen-io/amundsen-committers

Betterer improvements/test fixes
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/SearchBar/index.tsx
  frontend/amundsen_application/static/js/components/Tags/TagInfo/index.tsx
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
  frontend/amundsen_application/static/js/pages/DashboardPage/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableHeaderBullets/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

fix: added missing fields to mappings
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

fix: added missing fields to mappings
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

added descriptions to unit test results
  search/tests/unit/proxy/fixtures.py
  search/tests/unit/proxy/test_es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

fix: added missing description fields to mappings (#1629)
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/fixtures.py
  search/tests/unit/proxy/test_es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

removed v0 because it is not needed or accesible anymore, and added unit tests for v1
  frontend/amundsen_application/api/search/v0.py
  frontend/amundsen_application/api/search/v1.py
  frontend/tests/unit/api/search/test_v0.py
  frontend/tests/unit/api/search/test_v1.py
Owners: @amundsen-io/amundsen-committers

a bit of cleanup from utils, not done yet
  frontend/amundsen_application/api/utils/search_utils.py
Owners: @amundsen-io/amundsen-committers

lint fixes
  frontend/amundsen_application/__init__.py
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/tests/unit/api/search/test_v1.py
  frontend/tests/unit/utils/test_search_utils.py
Owners: @amundsen-io/amundsen-committers

lint
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
Owners: @amundsen-io/amundsen-committers

test _transform_filters
  frontend/tests/unit/api/search/test_v1.py
Owners: @amundsen-io/amundsen-committers

lint
  frontend/tests/unit/api/search/test_v1.py
Owners: @amundsen-io/amundsen-committers

rewrite cleaner
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/api/utils/search_utils.py
Owners: @amundsen-io/amundsen-committers

lint
  frontend/amundsen_application/api/utils/search_utils.py
Owners: @amundsen-io/amundsen-committers

Adding description and timestamp to dashboard mapping and adding js tests
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.spec.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Addressing PR comments
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.tsx
  frontend/amundsen_application/static/js/components/SearchBar/index.tsx
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/pages/DashboardPage/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterOperationSelector/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterOperationSelector/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

lint
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Verified that badge is primitive string type during search, cleaned up check
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Changing the name of the config that optionally restricts filter operations to be more clear on what it does
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterOperationSelector/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterOperationSelector/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

If a filter term is deleted, remove the category from the filter state instead of keeping it stored as an undefined value
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Bumping major FE version
  frontend/setup.py
Owners: @ttannis, @feng-tao, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dkunitsk, @dechoma

.github/CODEOWNERS:

# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @amundsen-io/amundsen-committers will be requested for
# review when someone opens a pull request.
*       @amundsen-io/amundsen-committers

/amundsen-kube-helm/ @feng-tao @jornh @javamonkey79 @mgorsk1 @verdan @sewardgw @youngyjd

common/*.py        @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
databuilder/*.py   @feng-tao @jinhyukchang @allisonsuarez @dorianj @verdan @mgorsk1 @youngyjd @dechoma @sewardgw @dkunitsk
frontend/amundsen_application/static/    @Golodhros @ttannis @allisonsuarez @feng-tao @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dechoma
frontend/*.py    @ttannis @feng-tao @allisonsuarez @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dkunitsk @dechoma
metadata/*.py    @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
search/*.py      @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
