Repository amundsen-io/amundsen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amundsen-io/amundsen-committers, @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd, @jinhyukchang, @allisonsuarez, @bolkedebruin, @dorianj, @dechoma, @dkunitsk, @Golodhros, @ttannis

Using destructuring instead of delete for removing empty filter
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

feat: FE document update with v2/document search service endpoint use (#1619)
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/api/utils/request_utils.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/tests/unit/api/metadata/test_v0.py
Owners: @amundsen-io/amundsen-committers

chore: bumped search to 3.0.0
  search/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

changed default proxy client
  search/search_service/config.py
Owners: @amundsen-io/amundsen-committers

fix: add missing fields for dashboard uri
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

fix: add missing fields for dashboard uri (#1631)
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

chore: bumped search to 3.0.0 (#1630)
  search/search_service/config.py
  search/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

fix: added uri and url fields to dashboard mapping function
  frontend/amundsen_application/api/utils/search_utils.py
Owners: @amundsen-io/amundsen-committers

patch version bump
  frontend/setup.py
Owners: @ttannis, @feng-tao, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dkunitsk, @dechoma

fix: added uri and url fields to dashboard mapping function (#1635)
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/setup.py
Owners: @amundsen-io/amundsen-committers, @ttannis, @feng-tao, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dkunitsk, @dechoma

Updating input placeholder text and hint text for search filters
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Minor fixes
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

feat: Updating input placeholder text and hint text for search filters (#1636)
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

feat: general document mappings for ES
  databuilder/databuilder/publisher/document_mappings.py
Owners: @amundsen-io/amundsen-committers

use strtobool to help csv_extractor handle bool fields
  databuilder/databuilder/extractor/csv_extractor.py
  databuilder/databuilder/models/application.py
  databuilder/databuilder/models/dashboard/dashboard_usage.py
  databuilder/databuilder/models/query/query.py
  databuilder/databuilder/models/query/query_execution.py
  databuilder/databuilder/models/query/query_join.py
  databuilder/databuilder/models/query/query_where.py
  databuilder/databuilder/models/table_metadata.py
  databuilder/databuilder/models/table_stats.py
  databuilder/databuilder/models/user.py
  databuilder/databuilder/models/user_elasticsearch_document.py
  databuilder/example/sample_data/sample_application.csv
Owners: @amundsen-io/amundsen-committers

Adapt to PowerBiTable and description PROPERTY
  metadata/metadata_service/proxy/neo4j_proxy.py
  search/search_service/models/report.py
Owners: @amundsen-io/amundsen-committers

listagem de reports
  frontend/amundsen_application/api/search/v0.py
  frontend/amundsen_application/static/.env
  frontend/amundsen_application/static/js/components/ResourceList/PaginatedApiResourceList/index.tsx
  frontend/amundsen_application/static/js/components/ResourceList/PaginatedResourceList/index.tsx
  frontend/amundsen_application/static/js/components/ResourceList/ResourceListHeader/index.tsx
  frontend/amundsen_application/static/js/components/ResourceList/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/ReportListItem/constants.ts
  frontend/amundsen_application/static/js/components/ResourceListItem/ReportListItem/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/index.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/index.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/tests/index.spec.tsx
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/types.ts
  frontend/amundsen_application/static/js/ducks/search/utils.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/search/inlineResults.ts
  frontend/amundsen_application/static/js/interfaces/Report.ts
  frontend/amundsen_application/static/js/interfaces/Resources.ts
  frontend/amundsen_application/static/js/pages/SearchPage/ResourceSelector/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/ResourceSelector/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/SourceLink/index.spec.tsx
  frontend/amundsen_application/static/js/utils/navigationUtils.ts
  search/search_service/api/report.py
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

notes and chnages to come on what is general vs resource specific mapping
  databuilder/databuilder/publisher/document_mappings.py
Owners: @amundsen-io/amundsen-committers

update docker environment and image versions for ecs deployment
  docs/installation-aws-ecs/docker-ecs-amundsen.yml
Owners: @amundsen-io/amundsen-committers

update docker environment and image versions for ecs deployment
  docs/installation-aws-ecs/docker-ecs-amundsen.yml
Owners: @amundsen-io/amundsen-committers

feat: made search proxy class easier to customize
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

New release for 3.12.0
  metadata/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Bumped metadata version to 3.12.0
  metadata/CHANGELOG.md
Owners: @amundsen-io/amundsen-committers

New release for 4.1.0
  frontend/setup.py
Owners: @ttannis, @feng-tao, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dkunitsk, @dechoma

New release for 3.1.0
  search/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

New release for 6.5.0
  databuilder/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Bumped frontend version to 4.1.0
  frontend/CHANGELOG.md
Owners: @amundsen-io/amundsen-committers

Bumped search version to 3.1.0
  search/CHANGELOG.md
Owners: @amundsen-io/amundsen-committers

New release for 0.25.0
  common/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Bumped databuilder version to 6.5.0
  databuilder/CHANGELOG.md
Owners: @amundsen-io/amundsen-committers

Bumped common version to 0.25.0
  common/CHANGELOG.md
Owners: @amundsen-io/amundsen-committers

Fix imports
  databuilder/databuilder/extractor/es_metadata_extractor.py
Owners: @amundsen-io/amundsen-committers

neo4j ip
  frontend/amundsen_application/base/neo4j_announcement_client.py
Owners: @amundsen-io/amundsen-committers

Address feedback
  databuilder/databuilder/extractor/es_base_extractor.py
  databuilder/setup.py
  databuilder/tests/unit/extractor/test_es_column_stats_extractor.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Fix import sort order
  databuilder/databuilder/extractor/es_base_extractor.py
Owners: @amundsen-io/amundsen-committers

release 1.0.3
  frontend/amundsen_application/base/base_databricks_preview_client.py
  frontend/amundsen_application/static/.env
  scripts/build_images_prod.sh
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

feat: Support for ES 7, ES field names containing dots, ES field sort order (#1648)
  databuilder/README.md
  databuilder/databuilder/extractor/es_base_extractor.py
  databuilder/databuilder/extractor/es_metadata_extractor.py
  databuilder/setup.py
  databuilder/tests/unit/extractor/test_es_column_stats_extractor.py
  databuilder/tests/unit/extractor/test_es_metadata_extractor.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk

removed unused import
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

updated default implementation
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

updated fixtores to reflect updated query
  search/tests/unit/proxy/fixtures.py
Owners: @amundsen-io/amundsen-committers

.github/CODEOWNERS:

# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @amundsen-io/amundsen-committers will be requested for
# review when someone opens a pull request.
*       @amundsen-io/amundsen-committers

/amundsen-kube-helm/ @feng-tao @jornh @javamonkey79 @mgorsk1 @verdan @sewardgw @youngyjd

common/*.py        @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
databuilder/*.py   @feng-tao @jinhyukchang @allisonsuarez @dorianj @verdan @mgorsk1 @youngyjd @dechoma @sewardgw @dkunitsk
frontend/amundsen_application/static/    @Golodhros @ttannis @allisonsuarez @feng-tao @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dechoma
frontend/*.py    @ttannis @feng-tao @allisonsuarez @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dkunitsk @dechoma
metadata/*.py    @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
search/*.py      @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
