Repository amundsen-io/amundsen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amundsen-io/amundsen-committers, @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd, @jinhyukchang, @allisonsuarez, @bolkedebruin, @dorianj, @dechoma, @dkunitsk, @Golodhros, @ttannis

Further generalize applications
  databuilder/databuilder/models/application.py
  databuilder/setup.py
  databuilder/tests/unit/models/test_application.py
  metadata/metadata_service/api/swagger_doc/template.yml
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/setup.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
  requirements-common.txt
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk, @bolkedebruin

lint
  databuilder/databuilder/models/application.py
  databuilder/tests/unit/models/test_application.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

lint again
  metadata/metadata_service/proxy/neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

mypy
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Owners: @amundsen-io/amundsen-committers

Feat: Further generalize applications (#1577)
  databuilder/databuilder/models/application.py
  databuilder/setup.py
  databuilder/tests/unit/models/test_application.py
  metadata/metadata_service/api/swagger_doc/template.yml
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/setup.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
  requirements-common.txt
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @dorianj, @verdan, @mgorsk1, @youngyjd, @dechoma, @sewardgw, @dkunitsk, @bolkedebruin

Frontend work to support generalized applications
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_dropdowns.scss
  frontend/amundsen_application/static/css/_layouts.scss
  frontend/amundsen_application/static/images/icons/Application.svg
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/table.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/pages/ProfilePage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ExploreButton/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageButton/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/WriterDropdown/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/WriterDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/WriterDropdown/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/WriterLink/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/tests/unit/issue_tracker_clients/test_jira_client.py
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Addressing most of the PR comments
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/images/icons/application.svg
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/WriterDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/tests/unit/issue_tracker_clients/test_jira_client.py
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma, @amundsen-io/amundsen-committers

doc: add a blog from aws (#1576)
  README.md
Owners: @amundsen-io/amundsen-committers

tests taking shape, removed prelim models, will put reeq/resp schemas in common
  search/search_service/models/resources.py
  search/search_service/models/results.py
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/fixtures.py
  search/tests/unit/proxy/test_es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

added common req/resp/filters model
  common/amundsen_common/models/search.py
  search/search_service/api/search.py
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/test_es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

marshmallow request validation
  common/amundsen_common/models/search.py
  search/search_service/api/search.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Minor styling fixes
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/styles.scss
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

WIP - Add nested column parser
  databuilder/databuilder/utils/nested_column_parser.py
Owners: @amundsen-io/amundsen-committers

Fix recursive parsing
  databuilder/databuilder/utils/nested_column_parser.py
Owners: @amundsen-io/amundsen-committers

Cleanup + fix edge cases
  databuilder/databuilder/utils/nested_column_parser.py
Owners: @amundsen-io/amundsen-committers

fix some edge cases with double nesting
  databuilder/databuilder/utils/nested_column_parser.py
Owners: @amundsen-io/amundsen-committers

Adding JS tests for dropdown
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

unit tests
  search/tests/unit/proxy/data/sample_response.json
  search/tests/unit/proxy/fixtures.py
  search/tests/unit/proxy/test_es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

cleanup + feedback imp
  search/search_service/__init__.py
  search/search_service/api/search.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

deleted test file for api not needed
  search/tests/unit/api/search/test_search_api.py
Owners: @amundsen-io/amundsen-committers

lint from common
  common/amundsen_common/models/search.py
Owners: @amundsen-io/amundsen-committers

mypy
  common/amundsen_common/models/search.py
Owners: @amundsen-io/amundsen-committers

lint and cleanup
  search/search_service/api/search.py
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/fixtures.py
  search/tests/unit/proxy/test_es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

mypy + flake
  search/search_service/api/search.py
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/fixtures.py
  search/tests/unit/proxy/test_es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

sorted imports
  search/search_service/__init__.py
  search/search_service/api/search.py
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/test_es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

feedback small
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

bump common version
  common/setup.py
Owners: @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

renamed endpoint to v2/search
  search/search_service/__init__.py
Owners: @amundsen-io/amundsen-committers

AMDResource -> AmundsenResource
  search/search_service/api/search.py
Owners: @amundsen-io/amundsen-committers

feat: search v2 API (#1556)
  common/amundsen_common/models/search.py
  common/setup.py
  search/search_service/__init__.py
  search/search_service/api/search.py
  search/search_service/api/swagger_doc/search/search.yml
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/fixtures.py
  search/tests/unit/proxy/test_es_search_proxy.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Refactor to pull out separate supported apps for the dropdown menu component
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/AirflowMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/DatabricksMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/GenericMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

chore: bump amundsen common to 0.23.0
  requirements-common.txt
Owners: @amundsen-io/amundsen-committers

chore: bump amundsen common to 0.23.0 (#1580)
  requirements-common.txt
Owners: @amundsen-io/amundsen-committers

Addressing PR comments
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/AirflowMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/DatabricksMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/GenericMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

feat: Frontend work to support multiple generalized applications (#1578)
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_dropdowns.scss
  frontend/amundsen_application/static/css/_layouts.scss
  frontend/amundsen_application/static/images/icons/application.svg
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/table.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/pages/ProfilePage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/AirflowMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/DatabricksMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/GenericMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/ExploreButton/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageButton/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/WriterLink/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/tests/unit/issue_tracker_clients/test_jira_client.py
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Reordering initial table app checks to be in the accurate spot
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Reordering initial table app checks to be in the accurate spot (#1581)
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

a lot for search changes
  frontend/amundsen_application/__init__.py
  frontend/amundsen_application/api/search/v0.py
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/amundsen_application/static/js/components/Tags/TagInfo/index.tsx
  frontend/amundsen_application/static/js/ducks/search/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/api/v1.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/tests/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/types.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Add tests for nested column parser
  databuilder/databuilder/utils/nested_column_parser.py
  databuilder/tests/unit/utils/__init__.py
  databuilder/tests/unit/utils/test_nested_column_parser.py
Owners: @amundsen-io/amundsen-committers

fix tests
  databuilder/databuilder/utils/nested_column_parser.py
  databuilder/tests/unit/utils/test_nested_column_parser.py
Owners: @amundsen-io/amundsen-committers

.github/CODEOWNERS:

# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @amundsen-io/amundsen-committers will be requested for
# review when someone opens a pull request.
*       @amundsen-io/amundsen-committers

/amundsen-kube-helm/ @feng-tao @jornh @javamonkey79 @mgorsk1 @verdan @sewardgw @youngyjd

common/*.py        @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
databuilder/*.py   @feng-tao @jinhyukchang @allisonsuarez @dorianj @verdan @mgorsk1 @youngyjd @dechoma @sewardgw @dkunitsk
frontend/amundsen_application/static/    @Golodhros @ttannis @allisonsuarez @feng-tao @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dechoma
frontend/*.py    @ttannis @feng-tao @allisonsuarez @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dkunitsk @dechoma
metadata/*.py    @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
search/*.py      @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
