Repository amundsen-io/amundsen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @amundsen-io/amundsen-committers, @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd, @jinhyukchang, @allisonsuarez, @bolkedebruin, @dorianj, @dechoma, @dkunitsk, @Golodhros, @ttannis

Fix lint issues
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

FE search API correctly requests search service and responds, need to make the ts changes needed to show changes in FE
  frontend/amundsen_application/api/search/v1.py
Owners: @amundsen-io/amundsen-committers

fix test
  frontend/amundsen_application/static/js/config/index.spec.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

fix tests
  frontend/amundsen_application/static/js/config/index.spec.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

correct mappings for resource results
  frontend/amundsen_application/api/search/v0.py
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
Owners: @amundsen-io/amundsen-committers

feat: Add config for nested columns feature (#1595)
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

feat: Helm chart improvements (#1545)
  amundsen-kube-helm/README.md
  amundsen-kube-helm/templates/helm/requirements.yaml
  amundsen-kube-helm/templates/helm/templates/configmaps.yaml
  amundsen-kube-helm/templates/helm/templates/ingress-frontend.yaml
  amundsen-kube-helm/templates/helm/values.yaml
Owners: @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd

SEARCH IS FUNCTIONAL WITH NEW API
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.tsx
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
Owners: @amundsen-io/amundsen-committers, @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Fix nested columns bug - nested level was getting bumped incorrectly due to recursive scope bug.
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.spec.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

variable name change
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Fix: nested columns bug (#1602)
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.spec.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

use docker links for ecs deployment
  docs/installation-aws-ecs/docker-ecs-amundsen.yml
Owners: @amundsen-io/amundsen-committers

Adding missing secretName in ingress configuration. Introducing Bitnami charts.
  amundsen-kube-helm/templates/helm/Chart.yaml
  amundsen-kube-helm/templates/helm/requirements.yaml
  amundsen-kube-helm/templates/helm/templates/ingress-frontend.yaml
Owners: @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd

Split configmap into indivudual ones and added checksum for deployment reload on change. Also added metadata and search config class support.
  amundsen-kube-helm/templates/helm/templates/configmap-frontend.yaml
  amundsen-kube-helm/templates/helm/templates/configmap-metadata.yaml
  amundsen-kube-helm/templates/helm/templates/configmap-search.yaml
  amundsen-kube-helm/templates/helm/templates/configmaps.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-frontend.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-metadata.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-search.yaml
  amundsen-kube-helm/templates/helm/values.yaml
Owners: @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd

cleanup
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.tsx
  frontend/amundsen_application/static/js/ducks/search/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

fix: new search API fixes (#1594)
  search/search_service/api/search.py
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Adding single apply and clear buttons to apply to all search filters
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.ts
  frontend/amundsen_application/static/js/interfaces/SearchFilterInput.ts
  frontend/amundsen_application/static/js/interfaces/index.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/styles.scss
  frontend/amundsen_application/static/js/pages/SearchPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

Improve betterer results
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.spec.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

lint
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.spec.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

use docker links for ecs deployment (#1603)
  docs/installation-aws-ecs/docker-ecs-amundsen.yml
Owners: @amundsen-io/amundsen-committers

feat: v2/document API
  common/amundsen_common/models/search.py
  search/search_service/__init__.py
  search/search_service/api/document_update.py
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

feat: Adding single apply and clear buttons to apply to all search filters (#1605)
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.ts
  frontend/amundsen_application/static/js/interfaces/SearchFilterInput.ts
  frontend/amundsen_application/static/js/interfaces/index.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/styles.scss
  frontend/amundsen_application/static/js/pages/SearchPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

implemented get document by key
  search/search_service/api/document_update.py
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

Search filter behavior fix
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/search/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

implementation complete, need tests
  search/search_service/api/document_update.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

cleanup and fixes
  search/search_service/api/document_update.py
  search/search_service/api/swagger_doc/search/document_delete.yml
  search/search_service/api/swagger_doc/search/document_post.yml
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

lint
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

lint
  common/amundsen_common/models/search.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

feat: update es document request model
  common/amundsen_common/models/search.py
  common/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

Fixing neo4j's helm deployment to support air-gapped setup
  amundsen-kube-helm/README.md
  amundsen-kube-helm/templates/helm/templates/deployment-neo4j.yaml
  amundsen-kube-helm/templates/helm/values.yaml
Owners: @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd

Fixing neo4j's helm deployment to support air-gapped setup
  amundsen-kube-helm/README.md
Owners: @feng-tao, @jornh, @javamonkey79, @mgorsk1, @verdan, @sewardgw, @youngyjd

Addressing PR comment
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

fix: Search filtering behavior fix (#1612)
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/search/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
Owners: @Golodhros, @ttannis, @allisonsuarez, @feng-tao, @dorianj, @verdan, @mgorsk1, @sewardgw, @youngyjd, @dechoma

added operation field for option to add or overwrite field value
  common/amundsen_common/models/search.py
Owners: @amundsen-io/amundsen-committers

feat: update es document request model (#1613)
  common/amundsen_common/models/search.py
  common/setup.py
Owners: @amundsen-io/amundsen-committers, @feng-tao, @jinhyukchang, @allisonsuarez, @verdan, @bolkedebruin, @mgorsk1, @dorianj, @youngyjd, @dechoma, @sewardgw, @dkunitsk

updated function to use operation add/overwrite
  search/search_service/api/document_update.py
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

better error handling
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

broke update method down to make it less complex
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

type annotation fixes
  search/search_service/api/document_update.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

sorted imports
  search/search_service/__init__.py
  search/search_service/api/document_update.py
  search/search_service/proxy/es_search_proxy.py
Owners: @amundsen-io/amundsen-committers

.github/CODEOWNERS:

# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @amundsen-io/amundsen-committers will be requested for
# review when someone opens a pull request.
*       @amundsen-io/amundsen-committers

/amundsen-kube-helm/ @feng-tao @jornh @javamonkey79 @mgorsk1 @verdan @sewardgw @youngyjd

common/*.py        @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
databuilder/*.py   @feng-tao @jinhyukchang @allisonsuarez @dorianj @verdan @mgorsk1 @youngyjd @dechoma @sewardgw @dkunitsk
frontend/amundsen_application/static/    @Golodhros @ttannis @allisonsuarez @feng-tao @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dechoma
frontend/*.py    @ttannis @feng-tao @allisonsuarez @dorianj @verdan @mgorsk1 @sewardgw @youngyjd @dkunitsk @dechoma
metadata/*.py    @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
search/*.py      @feng-tao @jinhyukchang @allisonsuarez @verdan @bolkedebruin @mgorsk1 @dorianj @youngyjd @dechoma @sewardgw @dkunitsk
