Repository amundsen-io/amundsen, pull requests merged in 2021-09, with the labels that each got.

#1463 fix: Reset tabs after loading a new table page
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Labels: area:frontend, category:ui

#1475 docs: add a blog from convoy
  README.md
Labels: area:dev-tools

#1476 docs: Improve the documentation of Databuilder
  databuilder/README.md
  databuilder/databuilder/transformer/base_transformer.py
Labels: area:databuilder, area:dev-tools, area:docs

#1464 feat: Adding ability to include conditions along with node and relation types in the neo4j staleness removal task
  databuilder/README.md
  databuilder/databuilder/task/neo4j_staleness_removal_task.py
  databuilder/tests/unit/task/test_neo4j_staleness_removal_task.py
Labels: area:databuilder, area:dev-tools, area:docs

#1484 chore: bump flaskoidc deps
  frontend/setup.py
  metadata/setup.py
  search/setup.py
Labels: area:frontend, area:metadata, area:search

#1485 feat: Modifying the create issue action to send a link to the table from which the issue was created
  frontend/amundsen_application/api/issue/issue.py
  frontend/amundsen_application/base/base_issue_tracker_client.py
  frontend/amundsen_application/proxy/issue_tracker_clients/asana_client.py
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/issue/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/issue/api/v0.ts
  frontend/amundsen_application/static/js/ducks/issue/tests/index.spec.ts
  frontend/amundsen_application/static/js/interfaces/Issue.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/index.tsx
  frontend/tests/unit/api/issue/test_issue.py
  frontend/tests/unit/issue_tracker_clients/test_jira_client.py
Labels: area:frontend, category:api, category:ui

#1487 fix: Pandas Column Stats Extractor error cast type: str to float
  databuilder/databuilder/extractor/pandas_profiling_column_stats_extractor.py
Labels: area:databuilder

#1488 feat: support popular_resources() in mysql_proxy
  metadata/metadata_service/client/rds_client.py
  metadata/metadata_service/proxy/mysql_proxy.py
  metadata/tests/unit/proxy/test_mysql_proxy.py
Labels: keep fresh, area:metadata, category:proxy

#1491 feat: Add bigquery column mode when consuming bigquery metadata
  databuilder/databuilder/extractor/bigquery_metadata_extractor.py
  databuilder/tests/unit/extractor/test_bigquery_metadata_extractor.py
Labels: area:databuilder

#1500 feat: stat is_metric field
  common/amundsen_common/models/table.py
  common/setup.py
Labels: area:common, category:models

#1502 feat: Adding configurable description template for reporting issues
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-custom.ts
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/index.tsx
  frontend/docs/application_config.md
Labels: area:frontend, category:ui, area:docs

#1495 chore: Bump databuilder version to 6.1.0
  databuilder/setup.py
Labels: area:databuilder

#1504 fix: Apache Superset Chart extractor
  databuilder/databuilder/extractor/dashboard/apache_superset/apache_superset_chart_extractor.py
  databuilder/setup.py
Labels: area:databuilder

#1503 feat: added TableStats model
  databuilder/databuilder/models/table_stats.py
  databuilder/tests/unit/models/test_table_stats.py
Labels: area:databuilder, category:models

#1505 chore: bumped databuilder to 6.2.0 + @dkunitsk added as code owner
  .github/CODEOWNERS
  databuilder/setup.py
Labels: area:databuilder, area:dev-tools

#1506 fix: sample oracle extractor
  databuilder/example/scripts/sample_oracle_loader.py
Labels: area:databuilder

#1509 feat: extend search result click logging
  frontend/amundsen_application/static/js/components/ResourceListItem/DashboardListItem/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/FeatureListItem/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/TableListItem/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/UserListItem/index.tsx
  frontend/amundsen_application/static/js/ducks/log/api/v0.ts
Labels: area:frontend, category:ui

#1489 Feat: Show Nested Table Columns
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/jest.config.js
  frontend/amundsen_application/static/js/components/EditableText/index.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/NestingArrow.tsx
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.spec.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/styles.scss
  frontend/amundsen_application/static/js/fixtures/metadata/table.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/package.json
Labels: area:frontend, category:api, category:ui
