Repository amundsen-io/amundsen, pull requests merged in 2021-08, with the labels that each got.

#1409 fix: Add replicas to metadata template
  amundsen-kube-helm/templates/helm/templates/deployment-metadata.yaml
Labels: area:helm

#1410 fix: Adjust elastic healthcheck test case to prevent mypy failing.
  search/tests/unit/proxy/test_elasticsearch.py
Labels: area:search

#1408 feat: more general notices
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
Labels: area:frontend, category:ui

#1415 fix: Make bigquery usage extractor handle missing datasetId in log entry
  databuilder/databuilder/extractor/bigquery_usage_extractor.py
Labels: area:databuilder

#1416 Chore: Bump databuilder version to 6.0.1
  databuilder/setup.py
Labels: area:databuilder

#1422 fix: Handle ParseException when reading schema property
  databuilder/databuilder/extractor/delta_lake_metadata_extractor.py
Labels: area:databuilder

#1421 fix: change back FE healthcheck
  frontend/amundsen_application/api/__init__.py
  frontend/amundsen_application/api/healthcheck.py
  frontend/setup.py
  frontend/tests/unit/api/test_healthcheck.py
Labels: area:frontend, category:api

#1426 docs: adding docs for notices generalization
  frontend/docs/application_config.md
Labels: area:frontend, area:docs

#1427 fix: Fixed postgresql extractor airflow DAG
  databuilder/example/dags/postgres_sample_dag.py
Labels: area:databuilder

#1429 fix: unpacking AtlasEntity named tuple in the wrong order
  databuilder/databuilder/models/atlas_serializable.py
Labels: area:databuilder, category:models

#1435 fix: Removing hardcoded K8s Cluster Domain
  amundsen-kube-helm/README.md
  amundsen-kube-helm/templates/helm/Chart.yaml
  amundsen-kube-helm/templates/helm/templates/configmaps.yaml
  amundsen-kube-helm/templates/helm/values.yaml
Labels: area:dev-tools, area:helm

#1414 Feat: Add deeplinking into entity pages
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/components/TabsComponent/constants.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnLineage/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/constants.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/constants.ts
  frontend/amundsen_application/static/js/pages/DashboardPage/index.tsx
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
  frontend/amundsen_application/static/js/pages/ProfilePage/constants.ts
  frontend/amundsen_application/static/js/pages/ProfilePage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/ProfilePage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageList/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/js/utils/index.spec.ts
  frontend/amundsen_application/static/js/utils/logUtils.ts
  frontend/amundsen_application/static/js/utils/navigationUtils.ts
Labels: area:frontend, category:ui

#1445 chore: Updates the package versions
  docker-amundsen.yml
Labels: area:dev-tools

#1446 feat: Added custom icons css file
  frontend/amundsen_application/static/css/_icons-custom.scss
  frontend/amundsen_application/static/css/_icons-default.scss
  frontend/amundsen_application/static/css/_icons.scss
Labels: area:frontend, category:ui

#1452 docs: add minimum usage to docs
  databuilder/docs/models.md
Labels: area:databuilder, area:docs

#1455 fix: Sample data (application)
  databuilder/example/sample_data/sample_application.csv
Labels: area:databuilder

#1073 feat: Add generic data quality checks
  frontend/amundsen_application/__init__.py
  frontend/amundsen_application/api/quality/__init__.py
  frontend/amundsen_application/api/quality/v0.py
  frontend/amundsen_application/base/base_quality_client.py
  frontend/amundsen_application/config.py
  frontend/amundsen_application/models/quality.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/SVGIcons/FailureIcon.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/SuccessIcon.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/constants.ts
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/rootSaga.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/api.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/v0.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/sagas.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/types.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/table.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableQualityChecks/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableQualityChecks/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableQualityChecks/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableQualityChecks/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Labels: keep fresh, area:frontend, category:api, category:ui, category:models

#1456 fix: Application model backwards compatibility
  databuilder/databuilder/models/application.py
  databuilder/setup.py
Labels: area:databuilder, category:models

#1457 docs: Add youngyjd to codeowners
  .github/CODEOWNERS
Labels: area:dev-tools

#1454 chore: fix gh license wf
  .github/workflows/license.yml
  common/amundsen_common/entity/__init__.py
  common/amundsen_common/models/api/__init__.py
  common/amundsen_common/models/badge.py
  common/amundsen_common/models/generation_code.py
  common/amundsen_common/models/tag.py
  common/tests/unit/models/__init__.py
  common/tests/unit/utils/__init__.py
  databuilder/databuilder/extractor/generic_usage_extractor.py
  databuilder/databuilder/extractor/pandas_profiling_column_stats_extractor.py
  databuilder/databuilder/models/feature/__init__.py
  databuilder/databuilder/models/query/base.py
  databuilder/databuilder/types/__init__.py
  databuilder/databuilder/types/atlas/__init__.py
  databuilder/databuilder/types/atlas/schema/__init__.py
  databuilder/databuilder/types/atlas/schema/dashboard/__init__.py
  databuilder/databuilder/types/atlas/types_def.py
  databuilder/databuilder/utils/atlas.py
  databuilder/example/scripts/sample_pandas_profiling_column_stats_loader.py
  databuilder/tests/unit/extractor/test_es_column_stats_extractor.py
  databuilder/tests/unit/extractor/test_es_metadata_extractor.py
  databuilder/tests/unit/extractor/test_pandas_profiling_column_stats_extractor.py
  databuilder/tests/unit/models/query/__init__.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/Lineage/GraphContainer/index.tsx
  frontend/amundsen_application/static/js/components/Lineage/GraphLoading/index.tsx
  frontend/amundsen_application/static/js/components/Lineage/indext.tsx
  metadata/metadata_service/api/feature.py
Labels: area:common, area:databuilder, area:frontend, area:metadata, category:api, area:dev-tools, category:ui, category:models

#1458 chore: fix license CI for new file
  frontend/amundsen_application/api/quality/__init__.py
Labels: area:frontend, category:api

#1444 feat: OpenLineage extractor for databuilder
  databuilder/README.md
  databuilder/databuilder/extractor/openlineage_extractor.py
  databuilder/example/sample_data/openlineage/sample_openlineage_events.ndjson
  databuilder/tests/unit/extractor/test_openlineage_extractor.py
Labels: area:databuilder, area:dev-tools, area:docs

#1466 fix: Postgres extractor example
  databuilder/example/scripts/sample_postgres_loader.py
Labels: area:databuilder
