Repository amundsen-io/amundsen, pull requests merged in 2021-06, with the labels that each got.

#1180 fix: add optional list to atlas_search_extractor
  databuilder/databuilder/extractor/atlas_search_data_extractor.py
Labels: area:databuilder

#1138 feat: introduce atlas serializable for dashboards
  .github/workflows/databuilder_pull_request.yml
  common/amundsen_common/utils/atlas.py
  common/tests/unit/utils/test_atlas_utils.py
  databuilder/README.md
  databuilder/databuilder/extractor/dashboard/apache_superset/apache_superset_metadata_extractor.py
  databuilder/databuilder/loader/file_system_atlas_csv_loader.py
  databuilder/databuilder/models/atlas_entity.py
  databuilder/databuilder/models/atlas_relationship.py
  databuilder/databuilder/models/atlas_serializable.py
  databuilder/databuilder/models/dashboard/dashboard_chart.py
  databuilder/databuilder/models/dashboard/dashboard_last_modified.py
  databuilder/databuilder/models/dashboard/dashboard_metadata.py
  databuilder/databuilder/models/dashboard/dashboard_query.py
  databuilder/databuilder/models/dashboard/dashboard_table.py
  databuilder/databuilder/publisher/atlas_csv_publisher.py
  databuilder/databuilder/serializers/atlas_serializer.py
  databuilder/databuilder/utils/atlas.py
  databuilder/requirements.txt
  databuilder/tests/unit/loader/test_file_system_atlas_csv_loader.py
  databuilder/tests/unit/models/dashboard/test_dashboard_chart.py
  databuilder/tests/unit/models/dashboard/test_dashboard_last_modified.py
  databuilder/tests/unit/models/dashboard/test_dashboard_metadata.py
  databuilder/tests/unit/models/dashboard/test_dashboard_query.py
  databuilder/tests/unit/models/dashboard/test_dashboard_table.py
  databuilder/tests/unit/models/test_atlas_serializable.py
  databuilder/tests/unit/publisher/test_atlas_csv_publisher.py
  databuilder/tests/unit/resources/atlas_csv_publisher/entities/000_Actor.csv
  databuilder/tests/unit/resources/atlas_csv_publisher/entities/000_City.csv
  databuilder/tests/unit/resources/atlas_csv_publisher/entities/000_Movie.csv
  databuilder/tests/unit/resources/atlas_csv_publisher/relationships/001_Movie_City.csv
  databuilder/tests/unit/resources/fs_atlas_csv_loader/movies/entities/000_Actor.csv
  databuilder/tests/unit/resources/fs_atlas_csv_loader/movies/entities/000_City.csv
  databuilder/tests/unit/resources/fs_atlas_csv_loader/movies/entities/000_Movie.csv
  databuilder/tests/unit/resources/fs_atlas_csv_loader/movies/relationships/001_Movie_City.csv
  metadata/metadata_service/proxy/atlas_proxy.py
Labels: area:common, area:databuilder, area:dev-tools, area:docs, area:metadata, category:models, category:proxy

#1181 chore: get latest code from main
  .github/workflows/databuilder_pull_request.yml
  README.md
  amundsen-kube-helm/templates/helm/values.yaml
  common/amundsen_common/models/table.py
  common/amundsen_common/utils/atlas.py
  common/setup.py
  common/tests/unit/utils/test_atlas_utils.py
  databuilder/README.md
  databuilder/databuilder/extractor/atlas_search_data_extractor.py
  databuilder/databuilder/extractor/dashboard/apache_superset/apache_superset_metadata_extractor.py
  databuilder/databuilder/loader/file_system_atlas_csv_loader.py
  databuilder/databuilder/models/atlas_entity.py
  databuilder/databuilder/models/atlas_relationship.py
  databuilder/databuilder/models/atlas_serializable.py
  databuilder/databuilder/models/dashboard/dashboard_chart.py
  databuilder/databuilder/models/dashboard/dashboard_last_modified.py
  databuilder/databuilder/models/dashboard/dashboard_metadata.py
  databuilder/databuilder/models/dashboard/dashboard_query.py
  databuilder/databuilder/models/dashboard/dashboard_table.py
  databuilder/databuilder/publisher/atlas_csv_publisher.py
  databuilder/databuilder/serializers/atlas_serializer.py
  databuilder/databuilder/utils/atlas.py
  databuilder/requirements.txt
  databuilder/tests/unit/loader/test_file_system_atlas_csv_loader.py
  databuilder/tests/unit/models/dashboard/test_dashboard_chart.py
  databuilder/tests/unit/models/dashboard/test_dashboard_last_modified.py
  databuilder/tests/unit/models/dashboard/test_dashboard_metadata.py
  databuilder/tests/unit/models/dashboard/test_dashboard_query.py
  databuilder/tests/unit/models/dashboard/test_dashboard_table.py
  databuilder/tests/unit/models/test_atlas_serializable.py
  databuilder/tests/unit/publisher/test_atlas_csv_publisher.py
  databuilder/tests/unit/resources/atlas_csv_publisher/entities/000_Actor.csv
  databuilder/tests/unit/resources/atlas_csv_publisher/entities/000_City.csv
  databuilder/tests/unit/resources/atlas_csv_publisher/entities/000_Movie.csv
  databuilder/tests/unit/resources/atlas_csv_publisher/relationships/001_Movie_City.csv
  databuilder/tests/unit/resources/fs_atlas_csv_loader/movies/entities/000_Actor.csv
  databuilder/tests/unit/resources/fs_atlas_csv_loader/movies/entities/000_City.csv
  databuilder/tests/unit/resources/fs_atlas_csv_loader/movies/entities/000_Movie.csv
  databuilder/tests/unit/resources/fs_atlas_csv_loader/movies/relationships/001_Movie_City.csv
  metadata/metadata_service/__init__.py
  metadata/metadata_service/config.py
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/setup.py
  search/requirements.txt
  search/search_service/config.py
  search/setup.cfg
Labels: area:common, area:databuilder, area:dev-tools, area:docs, area:helm, category:models

#1183 feat: bump up amundsen-common to 0.13.0
  common/setup.py
Labels: area:common

#1184 fix: add amundsen-common requirement for databuilder
  databuilder/requirements.txt
Labels: area:databuilder

#1152 feat: FE ML features additonal metadata endpoints
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/static/js/ducks/lineage/api/v0.ts
  frontend/setup.py
  frontend/tests/unit/api/metadata/test_v0.py
Labels: area:frontend, category:api, category:ui

#1182 feat: support mysql in metadata service
  metadata/docs/proxy/mysql.md
  metadata/metadata_service/__init__.py
  metadata/metadata_service/cli/__init__.py
  metadata/metadata_service/cli/rds_command.py
  metadata/metadata_service/client/__init__.py
  metadata/metadata_service/client/rds_client.py
  metadata/metadata_service/config.py
  metadata/metadata_service/proxy/mysql_proxy.py
  metadata/requirements.txt
  metadata/tests/unit/cli/__init__.py
  metadata/tests/unit/cli/test_rds_command.py
  metadata/tests/unit/proxy/test_mysql_proxy.py
Labels: area:docs, area:metadata, category:proxy, keep fresh

#1173 test: Increase test coverage for atlas proxy
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/requirements.txt
  metadata/tests/unit/proxy/fixtures/atlas_test_data.py
  metadata/tests/unit/proxy/test_atlas_proxy.py
Labels: area:metadata, category:proxy

#1193 docs: Fix broken anchor link in readme
  docs/installation.md
Labels: area:docs

#1194 chore: update requirement file in metadata
  .github/workflows/metadata_pull_request.yml
  metadata/requirements.txt
  metadata/setup.py
Labels: area:dev-tools, area:metadata

#1190 feat: Add databuilder models for Feature
  databuilder/databuilder/extractor/neptune_search_data_extractor.py
  databuilder/databuilder/models/badge.py
  databuilder/databuilder/models/dashboard/dashboard_owner.py
  databuilder/databuilder/models/feature/feature_elasticsearch_document.py
  databuilder/databuilder/models/feature/feature_generation_code.py
  databuilder/databuilder/models/feature/feature_metadata.py
  databuilder/databuilder/models/feature/feature_watermark.py
  databuilder/databuilder/models/owner.py
  databuilder/databuilder/models/table_metadata.py
  databuilder/databuilder/models/table_owner.py
  databuilder/docs/models.md
  databuilder/tests/unit/extractor/dashboard/mode_analytics/test_mode_dashboard_owner_extractor.py
  databuilder/tests/unit/models/feature/test_feature_generation_code.py
  databuilder/tests/unit/models/feature/test_feature_metadata.py
  databuilder/tests/unit/models/feature/test_feature_watermark.py
  databuilder/tests/unit/models/test_badge.py
  databuilder/tests/unit/models/test_owner.py
  databuilder/tests/unit/models/test_table_owner.py
Labels: area:databuilder, area:docs, category:models

#1197 Docs: add AWS Neptune to metadata*s Readme
  metadata/README.md
Labels: area:dev-tools, area:docs, area:metadata

#1201 feat: Add databuilder models for Feature
  databuilder/databuilder/extractor/neptune_search_data_extractor.py
  databuilder/databuilder/models/badge.py
  databuilder/databuilder/models/dashboard/dashboard_owner.py
  databuilder/databuilder/models/feature/feature_elasticsearch_document.py
  databuilder/databuilder/models/feature/feature_generation_code.py
  databuilder/databuilder/models/feature/feature_metadata.py
  databuilder/databuilder/models/feature/feature_watermark.py
  databuilder/databuilder/models/owner.py
  databuilder/databuilder/models/table_metadata.py
  databuilder/databuilder/models/table_owner.py
  databuilder/docs/models.md
  databuilder/setup.py
  databuilder/tests/unit/extractor/dashboard/mode_analytics/test_mode_dashboard_owner_extractor.py
  databuilder/tests/unit/models/feature/test_feature_generation_code.py
  databuilder/tests/unit/models/feature/test_feature_metadata.py
  databuilder/tests/unit/models/feature/test_feature_watermark.py
  databuilder/tests/unit/models/test_badge.py
  databuilder/tests/unit/models/test_owner.py
  databuilder/tests/unit/models/test_table_owner.py
Labels: area:databuilder, area:docs, category:models

#1199 feat: Generic Usage Extractor with Scala custom sql script for Snowflake
  README.md
  databuilder/README.md
  databuilder/databuilder/extractor/generic_usage_extractor.py
  databuilder/example/scripts/sample_snowflake_table_usage.scala
  databuilder/tests/unit/extractor/test_generic_usage_extractor.py
Labels: area:databuilder, area:dev-tools, area:docs

#1198 Docs: add information about default ES indexes to search Readme
  search/README.md
Labels: area:dev-tools, area:docs, area:search

#1204 chore: add myself as codeowner for other services
  .github/CODEOWNERS
Labels: area:dev-tools

#1207 fix: Allow support for Jira cloud (preserves backward compatibility)
  frontend/amundsen_application/config.py
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
  frontend/docs/flask_config.md
  frontend/requirements.txt
Labels: area:docs, area:frontend

#1185 feat: Add feature discovery route and page
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/.betterer.ts
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/ducks/feature/api/api.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/api/v0.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.ts
  frontend/amundsen_application/static/js/ducks/feature/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/sagas.ts
  frontend/amundsen_application/static/js/ducks/feature/types.ts
  frontend/amundsen_application/static/js/ducks/rootReducer.ts
  frontend/amundsen_application/static/js/ducks/rootSaga.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/feature.ts
  frontend/amundsen_application/static/js/index.tsx
  frontend/amundsen_application/static/js/interfaces/Feature.ts
  frontend/amundsen_application/static/js/interfaces/Resources.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/constants.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
  frontend/amundsen_application/static/js/pages/FeaturePage/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/SourceLink/index.spec.tsx
Labels: area:frontend, category:ui

#1163 refactor: shared dependencies unification
  .dockerignore
  .github/workflows/common_pull_request.yml
  .github/workflows/databuilder_pull_request.yml
  .github/workflows/frontend_pull_request.yml
  .github/workflows/metadata_pull_request.yml
  .github/workflows/search_pull_request.yml
  Dockerfile.frontend.local
  Dockerfile.frontend.public
  Dockerfile.metadata.public
  Dockerfile.search.public
  common/MANIFEST.in
  common/Makefile
  common/requirements-common.txt
  common/requirements-dev.txt
  common/requirements.txt
  common/setup.cfg
  common/setup.py
  databuilder/MANIFEST.in
  databuilder/Makefile
  databuilder/databuilder/models/feature/feature_generation_code.py
  databuilder/databuilder/models/feature/feature_metadata.py
  databuilder/requirements-dev.txt
  databuilder/requirements.txt
  databuilder/setup.cfg
  databuilder/setup.py
  docker-amundsen-atlas.yml
  docker-amundsen-local.yml
  frontend/MANIFEST.in
  frontend/Makefile
  frontend/docs/installation.md
  frontend/local.Dockerfile
  frontend/requirements-common.txt
  frontend/requirements-dev.txt
  frontend/requirements.txt
  frontend/setup.cfg
  frontend/setup.py
  frontend/tests/unit/api/metadata/test_v0.py
  metadata/MANIFEST.in
  metadata/Makefile
  metadata/README.md
  metadata/requirements-common.txt
  metadata/requirements-dev.txt
  metadata/requirements.txt
  metadata/setup.cfg
  metadata/setup.py
  metadata/tests/conftest.py
  metadata/tests/unit/api/feature/test_feature_detail_api.py
  requirements-common.txt
  requirements-dev.txt
  search/MANIFEST.in
  search/Makefile
  search/README.md
  search/public.Dockerfile
  search/requirements-common.txt
  search/requirements-dev.txt
  search/requirements.txt
  search/setup.cfg
  search/setup.py
  search/tests/unit/test_swagger.py
Labels: area:common, area:databuilder, area:dev-tools, area:docs, area:frontend, area:metadata, area:search, category:models

#1209 fix: update sharded_table filter in BigQuery extractor
  databuilder/databuilder/extractor/base_bigquery_extractor.py
  databuilder/databuilder/extractor/bigquery_metadata_extractor.py
  databuilder/databuilder/extractor/bigquery_usage_extractor.py
  databuilder/databuilder/extractor/bigquery_watermark_extractor.py
Labels: area:databuilder

#1211 fix: Add forgotten init file to databuilder/models/feature module
  databuilder/databuilder/extractor/bigquery_watermark_extractor.py
  databuilder/databuilder/models/feature/__init__.py
  databuilder/setup.py
Labels: area:databuilder, category:models

#1214 fix: bug #1213 relates to AWS creds Neptune
  databuilder/example/scripts/sample_data_loader_neptune.py
Labels: area:databuilder

#1217 fix: Update README to GenericUsageExtractor
  databuilder/README.md
Labels: area:databuilder, area:dev-tools, area:docs

#1216 fix: Fix db key constraints
  databuilder/databuilder/models/schema/schema_constant.py
  databuilder/tests/unit/models/schema/test_schema.py
Labels: area:databuilder, category:models

#1220 fix: rds databuilder dependencies
  databuilder/requirements.txt
  databuilder/setup.py
Labels: area:databuilder

#1222 feat: update feature models
  databuilder/databuilder/models/feature/feature_generation_code.py
  databuilder/databuilder/models/feature/feature_metadata.py
  databuilder/setup.py
  databuilder/tests/unit/models/feature/test_feature_generation_code.py
  databuilder/tests/unit/models/feature/test_feature_metadata.py
  databuilder/tests/unit/models/feature/test_feature_watermark.py
Labels: area:databuilder, category:models

#1224 fix: Databuilder docs
  databuilder/README.md
Labels: area:databuilder, area:dev-tools, area:docs

#1227 fix: Update databuider README GenericUsageExtractor config
  databuilder/README.md
Labels: area:databuilder, area:dev-tools, area:docs

#1219 fix: Update queries to align with Feature databuilder model
  common/amundsen_common/models/feature.py
  common/amundsen_common/models/generation_code.py
  common/setup.py
  metadata/metadata_service/api/feature.py
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/metadata_service/proxy/base_proxy.py
  metadata/metadata_service/proxy/gremlin_proxy.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/api/feature/test_feature_detail_api.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Labels: area:common, area:metadata, category:api, category:models, category:proxy

#1232 fix: Update common model to align with databuilder model
  common/amundsen_common/models/feature.py
  common/amundsen_common/models/generation_code.py
  common/setup.py
Labels: area:common, category:models

#1237 chore: bumped common
  metadata/requirements.txt
Labels: area:metadata

#1235 refactor: bw-incompatible cleanup of usage models
  databuilder/databuilder/extractor/neptune_search_data_extractor.py
  databuilder/databuilder/models/column_usage_model.py
  databuilder/databuilder/models/dashboard/dashboard_usage.py
  databuilder/databuilder/models/feature/feature_watermark.py
  databuilder/databuilder/models/table_column_usage.py
  databuilder/databuilder/models/usage/usage.py
  databuilder/docs/models.md
  databuilder/example/sample_data/sample_column_usage.csv
  databuilder/example/scripts/sample_data_loader.py
  databuilder/example/scripts/sample_data_loader_mysql.py
  databuilder/example/scripts/sample_data_loader_neptune.py
  databuilder/tests/unit/models/dashboard/test_dashboard_usage.py
  databuilder/tests/unit/models/feature/test_feature_watermark.py
  databuilder/tests/unit/models/test_owner.py
  databuilder/tests/unit/models/test_table_column_usage.py
  databuilder/tests/unit/models/usage/test_usage.py
  databuilder/tests/unit/transformer/test_bigquery_usage_transformer.py
Labels: area:databuilder, area:docs, category:models

#1241 fix: bw-incompatible update to user elasticsearch index
  common/amundsen_common/models/index_map.py
  common/setup.py
Labels: area:common, category:models

#1242 fix: bump databuilder version
  databuilder/setup.py
Labels: area:databuilder

#1240 Feat: Add Features as a Metadata Entity
  common/amundsen_common/models/query.py
  databuilder/requirements.txt
  databuilder/setup.py
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/api/utils/metadata_utils.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/.betterer.ts
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/ducks/feature/api/api.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/api/v0.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.ts
  frontend/amundsen_application/static/js/ducks/feature/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/sagas.ts
  frontend/amundsen_application/static/js/ducks/feature/types.ts
  frontend/amundsen_application/static/js/ducks/lineage/api/v0.ts
  frontend/amundsen_application/static/js/ducks/rootReducer.ts
  frontend/amundsen_application/static/js/ducks/rootSaga.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/feature.ts
  frontend/amundsen_application/static/js/index.tsx
  frontend/amundsen_application/static/js/interfaces/Feature.ts
  frontend/amundsen_application/static/js/interfaces/Resources.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/constants.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
  frontend/amundsen_application/static/js/pages/FeaturePage/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/SourceLink/index.spec.tsx
  frontend/setup.py
  frontend/tests/unit/api/metadata/test_v0.py
  metadata/metadata_service/api/feature.py
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/metadata_service/proxy/base_proxy.py
  metadata/metadata_service/proxy/gremlin_proxy.py
  metadata/metadata_service/proxy/mysql_proxy.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/api/feature/test_feature_detail_api.py
  metadata/tests/unit/api/feature/test_feature_lineage_api.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
  requirements-common.txt
Labels: area:common, area:databuilder, area:frontend, area:metadata, category:api, category:models, category:ui

#1244 docs: Update README.md
  README.md
Labels: area:dev-tools

#1158 feat: Databuilder & Metadata Query Components
  databuilder/databuilder/models/query/__init__.py
  databuilder/databuilder/models/query/query.py
  databuilder/databuilder/models/query/query_execution.py
  databuilder/databuilder/models/query/query_join.py
  databuilder/databuilder/models/query/query_where.py
  databuilder/docs/assets/query-assets.png
  databuilder/docs/query_metadata_guide.md
  databuilder/tests/unit/models/query/__init__.py
  databuilder/tests/unit/models/query/test_query.py
  databuilder/tests/unit/models/query/test_query_execution.py
  databuilder/tests/unit/models/query/test_query_join.py
  databuilder/tests/unit/models/query/test_query_where.py
Labels: area:common, area:databuilder, area:docs, area:search, category:models

#1245 chore: bump search version 2.5.1 -> 2.6.0
  amundsen-kube-helm/templates/helm/values.yaml
  search/CHANGELOG.md
  search/setup.py
Labels: area:helm, area:search

#1234 feat: search ML features frontend components
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/OwnerEditor/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceList/ResourceListHeader/constants.ts
  frontend/amundsen_application/static/js/components/ResourceList/ResourceListHeader/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceList/ResourceListHeader/index.tsx
  frontend/amundsen_application/static/js/components/ResourceList/ResourceListHeader/styles.scss
  frontend/amundsen_application/static/js/components/ResourceListItem/FeatureListItem/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/FeatureListItem/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/styles.scss
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/SearchItemList/SearchItem/index.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/SearchItemList/index.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/SearchItemList/tests/index.spec.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/constants.ts
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/index.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/tests/index.spec.tsx
  frontend/amundsen_application/static/js/components/StorySection/index.spec.tsx
  frontend/amundsen_application/static/js/components/StorySection/index.tsx
  frontend/amundsen_application/static/js/config/config-custom.ts
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/types.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/feature.ts
  frontend/amundsen_application/static/js/fixtures/search/inlineResults.ts
  frontend/amundsen_application/static/js/interfaces/Feature.ts
  frontend/amundsen_application/static/js/interfaces/Resources.ts
  frontend/amundsen_application/static/js/pages/SearchPage/ResourceSelector/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/ResourceSelector/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
  frontend/amundsen_application/static/package.json
Labels: area:frontend, area:search, category:ui

#1247 docs: update the owner file
  .github/CODEOWNERS
  OWNERS.md
Labels: area:dev-tools

#1250 feat: refactor ElasticsearchProxy queries
  search/search_service/proxy/elasticsearch.py
Labels: area:search, category:proxy

#1248 !refactor: Updates Amundsen to use new version of FlaskOIDC
  docs/authentication/oidc.md
  frontend/amundsen_application/__init__.py
  frontend/amundsen_application/oidc_config.py
  frontend/setup.py
  metadata/setup.py
  search/setup.py
Labels: area:docs, area:frontend, area:metadata, area:search

#1252 fix: change badge name and category to lower case
  databuilder/databuilder/models/badge.py
  databuilder/tests/unit/models/test_badge.py
Labels: area:databuilder, category:models

#1253 fix: Makes sure to use the new env variables
  frontend/amundsen_application/__init__.py
Labels: area:frontend

#1257 feat: add ml feature ES index mapping
  common/amundsen_common/models/index_map.py
  common/setup.py
Labels: area:common, category:models

#1258 fix: add key to ES feature index
  common/amundsen_common/models/index_map.py
  common/setup.py
Labels: area:common, category:models

#1259 feat: Query components metadata
  common/amundsen_common/models/table.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Labels: area:common, area:metadata, category:models, category:proxy

#1249 feat: Adds support of `USER_DETAIL_METHOD` to Neo4j
  metadata/metadata_service/config.py
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/metadata_service/proxy/base_proxy.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Labels: area:frontend, area:metadata, category:proxy

#1238 feat: migrate amundsen-atlas-types
  databuilder/MANIFEST.in
  databuilder/README.md
  databuilder/databuilder/publisher/atlas_csv_publisher.py
  databuilder/databuilder/types/__init__.py
  databuilder/databuilder/types/atlas/__init__.py
  databuilder/databuilder/types/atlas/schema/01_1_reader.json
  databuilder/databuilder/types/atlas/schema/01_2_table_schema.json
  databuilder/databuilder/types/atlas/schema/01_3_bookmark.json
  databuilder/databuilder/types/atlas/schema/01_4_report.json
  databuilder/databuilder/types/atlas/schema/01_column_schema.json
  databuilder/databuilder/types/atlas/schema/02_user.json
  databuilder/databuilder/types/atlas/schema/04_reader_referenceable_relation.json
  databuilder/databuilder/types/atlas/schema/04_user_reader_relation.json
  databuilder/databuilder/types/atlas/schema/05_1_hive_table_partition.json
  databuilder/databuilder/types/atlas/schema/05_table_partition_schema.json
  databuilder/databuilder/types/atlas/schema/06_user_table_owner_relation.json
  databuilder/databuilder/types/atlas/schema/__init__.py
  databuilder/databuilder/types/atlas/schema/dashboard/01_group.json
  databuilder/databuilder/types/atlas/schema/dashboard/02_dashboard.json
  databuilder/databuilder/types/atlas/schema/dashboard/03_query.json
  databuilder/databuilder/types/atlas/schema/dashboard/04_chart.json
  databuilder/databuilder/types/atlas/schema/dashboard/05_execution.json
  databuilder/databuilder/types/atlas/schema/dashboard/__init__.py
  databuilder/databuilder/types/atlas/types_def.py
  databuilder/setup.py
Labels: area:databuilder, area:dev-tools, area:docs

#1260 fix: Fixes the Amundsen Builds
  databuilder/requirements.txt
  mkdocs.yml
  requirements-common.txt
  requirements.txt
Labels: area:databuilder, area:dev-tools

#1246 feat: ML Feature search API work
  common/amundsen_common/models/feature.py
  frontend/amundsen_application/api/search/v0.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
  frontend/amundsen_application/static/js/features/BadgeList/index.tsx
Labels: area:common, area:frontend, category:api, category:models, category:ui

#1265 chore: bumped version of common to 0.15.3
  common/setup.py
Labels: area:common

#1264 refactor: remove hard pins in requirements-common.txt
  common/setup.py
  frontend/setup.py
  metadata/setup.py
  requirements-common.txt
  search/setup.py
Labels: area:common, area:frontend, area:metadata, area:search

#1266 chore: bump common in databuilder
  databuilder/requirements.txt
  databuilder/setup.py
Labels: area:databuilder

#1262 feat: extend preview client to support ML feature sample data for tab
  frontend/amundsen_application/api/preview/v0.py
  frontend/amundsen_application/base/base_bigquery_preview_client.py
  frontend/amundsen_application/base/base_preview_client.py
  frontend/amundsen_application/base/base_redash_preview_client.py
  frontend/amundsen_application/base/base_superset_preview_client.py
  frontend/amundsen_application/static/js/ducks/feature/api/v0.ts
  frontend/amundsen_application/static/js/interfaces/Feature.ts
  frontend/amundsen_application/static/js/interfaces/index.ts
  frontend/tests/unit/api/preview/test_v0.py
  frontend/tests/unit/base/test_preview_client.py
  requirements-common.txt
Labels: area:frontend, category:api, category:ui

#1267 refactor: undo the great unpinning
  common/requirements-common.txt
  common/setup.py
  frontend/setup.py
  metadata/setup.py
  requirements-common.txt
  search/setup.py
Labels: area:common, area:frontend, area:metadata, area:search

#1275 docs: update readme to fix the badges
  .github/titleLint.yml
  README.md
Labels: area:dev-tools

#1276 fix: null check for availability
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/ResourceListItem/FeatureListItem/index.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/index.tsx
Labels: area:frontend, category:ui

#1263 Feat: ML Feature Generation Code Tab
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/ResourceListItem/FeatureListItem/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/styles.scss
  frontend/amundsen_application/static/js/ducks/feature/api/api.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/api/v0.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.ts
  frontend/amundsen_application/static/js/ducks/feature/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/sagas.ts
  frontend/amundsen_application/static/js/ducks/feature/types.ts
  frontend/amundsen_application/static/js/ducks/rootSaga.ts
  frontend/amundsen_application/static/js/features/CodeBlock/index.tsx
  frontend/amundsen_application/static/js/features/CodeBlock/styles.scss
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/feature.ts
  frontend/amundsen_application/static/js/interfaces/Feature.ts
  frontend/amundsen_application/static/js/pages/DashboardPage/QueryListItem/CodeBlock.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/QueryListItem/index.spec.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/QueryListItem/index.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/QueryListItem/styles.scss
  frontend/amundsen_application/static/js/pages/FeaturePage/GenerationCode/constants.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/GenerationCode/index.spec.tsx
  frontend/amundsen_application/static/js/pages/FeaturePage/GenerationCode/index.tsx
  frontend/amundsen_application/static/js/pages/FeaturePage/GenerationCode/styles.scss
  frontend/amundsen_application/static/js/pages/FeaturePage/constants.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/constants.ts
Labels: area:frontend, category:ui

#1277 fix: filter names mismatch
  frontend/amundsen_application/api/utils/search_utils.py
Labels: area:frontend, category:api

#1269 style: Make consecutive paragraph visually distinguishable
  frontend/amundsen_application/static/css/_layouts.scss
Labels: area:frontend, category:ui

#1281 chore: bumped common to 0.18.0
  common/setup.py
Labels: area:common

#1208 feat: intorduce atlas dashboard bookmarks
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/setup.py
  metadata/tests/unit/proxy/test_atlas_proxy.py
Labels: area:common, area:frontend, area:metadata, category:proxy

#1202 feat: Lineage Graph visualization beta
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_animations.scss
  frontend/amundsen_application/static/images/icons/Lineage.svg
  frontend/amundsen_application/static/js/components/Lineage/Graph/chart.spec.ts
  frontend/amundsen_application/static/js/components/Lineage/Graph/chart.ts
  frontend/amundsen_application/static/js/components/Lineage/Graph/constants.ts
  frontend/amundsen_application/static/js/components/Lineage/Graph/index.spec.tsx
  frontend/amundsen_application/static/js/components/Lineage/Graph/index.tsx
  frontend/amundsen_application/static/js/components/Lineage/Graph/styles.scss
  frontend/amundsen_application/static/js/components/Lineage/Graph/types.ts
  frontend/amundsen_application/static/js/components/Lineage/Graph/wrapper.ts
  frontend/amundsen_application/static/js/components/Lineage/GraphContainer/index.spec.tsx
  frontend/amundsen_application/static/js/components/Lineage/GraphContainer/index.tsx
  frontend/amundsen_application/static/js/components/Lineage/GraphContainer/styles.scss
  frontend/amundsen_application/static/js/components/Lineage/GraphLoading/index.tsx
  frontend/amundsen_application/static/js/components/Lineage/GraphLoading/styles.scss
  frontend/amundsen_application/static/js/components/Lineage/indext.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/LeftArrowIcon.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/RightArrowIcon.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/index.tsx
  frontend/amundsen_application/static/js/ducks/lineage/api/api.spec.ts
  frontend/amundsen_application/static/js/ducks/lineage/api/v0.ts
  frontend/amundsen_application/static/js/ducks/lineage/index.spec.ts
  frontend/amundsen_application/static/js/ducks/lineage/reducer.ts
  frontend/amundsen_application/static/js/ducks/lineage/sagas.ts
  frontend/amundsen_application/static/js/index.tsx
  frontend/amundsen_application/static/js/interfaces/Lineage.ts
  frontend/amundsen_application/static/js/pages/LineagePage/constants.ts
  frontend/amundsen_application/static/js/pages/LineagePage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/LineagePage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageButton/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageButton/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageLink/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/js/utils/index.spec.ts
  frontend/amundsen_application/static/js/utils/navigationUtils.ts
  frontend/amundsen_application/static/package-lock.json
  frontend/amundsen_application/static/package.json
Labels: area:frontend, category:ui

#1284 fix: Minor cleanup for Features
  frontend/amundsen_application/static/js/pages/FeaturePage/GenerationCode/index.tsx
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
Labels: area:frontend, category:ui

#1196 feat: Elasticsearch Metadata Extractors
  databuilder/README.md
  databuilder/databuilder/extractor/es_base_extractor.py
  databuilder/databuilder/extractor/es_column_stats_extractor.py
  databuilder/databuilder/extractor/es_metadata_extractor.py
  databuilder/tests/unit/extractor/test_es_column_stats_extractor.py
  databuilder/tests/unit/extractor/test_es_metadata_extractor.py
  frontend/amundsen_application/static/css/_icons.scss
  frontend/amundsen_application/static/images/icons/logo-elasticsearch.svg
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
Labels: area:databuilder, area:dev-tools, area:docs, area:frontend, category:ui

#1286 docs: Update Verifying setup as per latest example
  docs/installation.md
Labels: area:docs

#1288 Feat: Feature Discovery Preview Data
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_typography-default.scss
  frontend/amundsen_application/static/js/ducks/feature/api/v0.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.ts
  frontend/amundsen_application/static/js/ducks/feature/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/sagas.ts
  frontend/amundsen_application/static/js/ducks/feature/types.ts
  frontend/amundsen_application/static/js/ducks/rootSaga.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/v0.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/types.ts
  frontend/amundsen_application/static/js/features/PreviewData/constants.ts
  frontend/amundsen_application/static/js/features/PreviewData/index.spec.tsx
  frontend/amundsen_application/static/js/features/PreviewData/index.tsx
  frontend/amundsen_application/static/js/features/PreviewData/styles.scss
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/feature.ts
  frontend/amundsen_application/static/js/fixtures/metadata/previewData.ts
  frontend/amundsen_application/static/js/interfaces/Feature.ts
  frontend/amundsen_application/static/js/interfaces/PreviewData.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/interfaces/index.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/constants.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/DataPreviewButton/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/DataPreviewButton/styles.scss
  frontend/amundsen_application/static/js/stories/typography.story.tsx
Labels: area:frontend, category:ui
