Repository amundsen-io/amundsen, pull requests merged in 2021-05, with the labels that each got.

#1084 feat: Pre-work needed for the lineage graph visualization
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/lineage/api/api.spec.ts
  frontend/amundsen_application/static/js/ducks/lineage/api/v0.ts
  frontend/amundsen_application/static/js/ducks/lineage/index.spec.ts
  frontend/amundsen_application/static/js/ducks/lineage/reducer.ts
  frontend/amundsen_application/static/js/ducks/lineage/sagas.ts
  frontend/amundsen_application/static/js/ducks/lineage/types.ts
  frontend/amundsen_application/static/js/ducks/rootReducer.ts
  frontend/amundsen_application/static/js/ducks/rootSaga.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/v0.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/sagas.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/types.ts
  frontend/amundsen_application/static/js/ducks/utilMethods.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnLineage/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/table.ts
  frontend/amundsen_application/static/js/interfaces/Lineage.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/interfaces/index.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageLink/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageList/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/requirements.txt
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Labels: area:frontend, category:api, category:ui

#1066 Atlas Dashboard Support
  .github/boring-cyborg.yml
  databuilder/README.md
  databuilder/databuilder/extractor/atlas_search_data_extractor.py
  databuilder/example/scripts/sample_atlas_search_extractor.py
  docker-amundsen-atlas.yml
  metadata/docs/proxy/atlas/popular_tables.md
  metadata/docs/proxy/atlas_proxy.md
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/tests/unit/proxy/fixtures/atlas_test_data.py
  metadata/tests/unit/proxy/test_atlas_proxy.py
  search/docs/atlas-search.md
Labels: area:databuilder, area:dev-tools, area:metadata, area:search, category:proxy

#1059 feat: ML Features common schema and metadata API definition
  .github/workflows/metadata_pull_request.yml
  common/amundsen_common/models/badge.py
  common/amundsen_common/models/feature.py
  common/amundsen_common/models/lineage.py
  common/amundsen_common/models/query.py
  common/amundsen_common/models/table.py
  common/amundsen_common/models/tag.py
  common/setup.py
  metadata/metadata_service/__init__.py
  metadata/metadata_service/api/feature.py
  metadata/metadata_service/api/swagger_doc/feature/detail_get.yml
  metadata/metadata_service/api/swagger_doc/template.yml
  metadata/metadata_service/entity/dashboard_detail.py
  metadata/metadata_service/entity/resource_type.py
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/metadata_service/proxy/base_proxy.py
  metadata/metadata_service/proxy/gremlin_proxy.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/requirements.txt
Labels: area:common, area:dev-tools, area:metadata, category:api, category:models, category:proxy

#1110 Fix: dashboard in atlas metadata proxy
  metadata/metadata_service/proxy/atlas_proxy.py
Labels: area:metadata, category:proxy

#1088 Fix: Update Amundsen Common to 0.10.0
  frontend/requirements.txt
  search/requirements.txt
Labels: area:frontend, area:search

#1091 feat: Implement ML Feature Details API
  metadata/metadata_service/api/feature.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/api/feature/feature_test_case.py
  metadata/tests/unit/api/feature/test_feature_detail_api.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Labels: area:common, area:dev-tools, area:frontend, area:metadata, category:api, category:models, category:proxy

#1112 fix: Update search PR workflow to use search directory
  .github/workflows/search_pull_request.yml
Labels: area:dev-tools

#1115 perf: Update ModeDashboardUsageExtractor to discovery endpoint
  databuilder/README.md
  databuilder/databuilder/extractor/dashboard/mode_analytics/mode_dashboard_usage_extractor.py
  databuilder/databuilder/rest_api/query_merger.py
  databuilder/tests/unit/extractor/dashboard/mode_analytics/test_mode_dashboard_usage_extractor.py
Labels: area:databuilder, area:dev-tools

#1108 feat: Implement Feature Tag, Badge, Description and Owner APIs
  metadata/metadata_service/api/badge.py
  metadata/metadata_service/api/feature.py
  metadata/metadata_service/api/swagger_doc/feature/lineage_get.yml
  metadata/metadata_service/api/swagger_doc/feature/owner_delete.yml
  metadata/metadata_service/api/swagger_doc/feature/owner_put.yml
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/metadata_service/proxy/base_proxy.py
  metadata/metadata_service/proxy/gremlin_proxy.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/api/feature/test_feature_badge_api.py
  metadata/tests/unit/api/feature/test_feature_description_api.py
  metadata/tests/unit/api/feature/test_feature_owner_api.py
  metadata/tests/unit/api/feature/test_feature_tag_api.py
  metadata/tests/unit/proxy/test_statsd_utilities.py
Labels: area:frontend, area:metadata, category:api, category:proxy

#1123 chore: make it a bit friendlier
  .github/boring-cyborg.yml
Labels: area:dev-tools

#1122 feat: ML Feature Generation Code API
  metadata/metadata_service/__init__.py
  metadata/metadata_service/api/feature.py
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/metadata_service/proxy/base_proxy.py
  metadata/metadata_service/proxy/gremlin_proxy.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Labels: area:metadata, category:api, category:proxy

#1106 Updates the databuilder directory name after deprecating databuilder submodule
  docs/installation.md
Labels: area:docs

#1125 docs: fix some broken links
  README.md
Labels: area:dev-tools, area:docs

#1126 chore: update ModePaginatedRestApiQuery default parameters
  databuilder/databuilder/rest_api/mode_analytics/mode_paginated_rest_api_query.py
Labels: area:databuilder

#1109 Fix: Make BigQuery extractors support Relational Metadata store
  databuilder/databuilder/extractor/base_bigquery_extractor.py
  databuilder/databuilder/extractor/bigquery_usage_extractor.py
  databuilder/databuilder/extractor/bigquery_watermark_extractor.py
  databuilder/tests/unit/extractor/test_bigquery_usage_extractor.py
  databuilder/tests/unit/extractor/test_bigquery_watermark_extractor.py
Labels: area:databuilder

#1105 feat: Pandas-Profiling TableColumnStats Extractor
  .github/boring-cyborg.yml
  README.md
  databuilder/README.md
  databuilder/databuilder/extractor/pandas_profiling_column_stats_extractor.py
  databuilder/example/sample_data/pandas_profiling/table_report.json
  databuilder/example/scripts/sample_pandas_profiling_column_stats_loader.py
  databuilder/setup.cfg
  databuilder/tests/unit/extractor/test_pandas_profiling_column_stats_extractor.py
Labels: area:databuilder, area:dev-tools

#1129 feat: support skipping configured Mode spaces
  databuilder/README.md
  databuilder/databuilder/extractor/dashboard/mode_analytics/mode_dashboard_extractor.py
  databuilder/tests/unit/extractor/dashboard/mode_analytics/test_mode_dashboard_extractor.py
Labels: area:databuilder, area:dev-tools, area:docs

#1130 chore: bump up databuilder version to 4.4.1
  databuilder/setup.py
Labels: area:databuilder

#1134 fix: typo aws_secret_access_key in neptune csv publisher
  databuilder/databuilder/publisher/neptune_csv_publisher.py
Labels: area:databuilder

#1120 fix: search_table API swagger file bug fix
  search/search_service/api/swagger_doc/table/search_table_filter.yml
Labels: area:search, category:api

#1103 feat: Atlas Lineage support
  common/amundsen_common/utils/__init__.py
  common/amundsen_common/utils/atlas_utils.py
  common/tests/unit/utils/__init__.py
  common/tests/unit/utils/test_atlas_utils.py
  frontend/amundsen_application/api/utils/metadata_utils.py
  frontend/setup.cfg
  frontend/tests/unit/utils/test_metadata_utils.py
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/setup.cfg
  metadata/tests/unit/proxy/fixtures/atlas_test_data.py
  metadata/tests/unit/proxy/test_atlas_proxy.py
Labels: area:common, area:frontend, area:metadata, category:api, category:proxy

#1139 fix: atlas proxy fix
  metadata/metadata_service/proxy/atlas_proxy.py
Labels: area:metadata, category:proxy

#1140 feat: use chart_names in dashboard basic search
  search/search_service/proxy/elasticsearch.py
  search/setup.cfg
Labels: area:search, category:proxy

#1144 fix: pytest setup.cfg section fix
  search/setup.cfg
Labels: area:search

#1147 feat: FE ML Feature get_feature_metadata
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/api/utils/metadata_utils.py
  frontend/tests/unit/api/metadata/test_v0.py
Labels: area:frontend, category:api

#1154 fix: remove a comment in the Search Service user model get_id function that conflicts with implementation
  search/search_service/models/user.py
Labels: area:search, category:models

#1155 feat: Common query models
  common/amundsen_common/models/table.py
  common/setup.py
Labels: area:common, category:models

#1156 feat: ML Feature Lineage
  metadata/metadata_service/api/feature.py
  metadata/tests/unit/api/feature/test_feature_lineage_api.py
Labels: area:metadata, category:api

#1153 feat: Merge feature discovery work into protected branch
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/api/utils/metadata_utils.py
  frontend/tests/unit/api/metadata/test_v0.py
  metadata/metadata_service/api/feature.py
  metadata/tests/unit/api/feature/test_feature_lineage_api.py
  search/search_service/models/user.py
Labels: area:frontend, area:metadata, area:search, category:api, category:models

#1160 feat: Configuration option to init custom routes
  metadata/metadata_service/__init__.py
  metadata/metadata_service/config.py
Labels: area:metadata

#1141 feat: Search service adding suport for AWS Elasticsearch
  search/requirements.txt
  search/search_service/config.py
  search/setup.cfg
Labels: area:search, category:proxy

#1159 docs: Fix installation link
  README.md
Labels: area:dev-tools

#1169 fix: 1157 issue - metadata sql alchemy for iodc component
  metadata/setup.py
Labels: area:metadata

#1165 fix: Helm service versions moved up to latest ones
  amundsen-kube-helm/templates/helm/values.yaml
Labels: area:helm

#1164 docs: Fix doc links in README.md
  README.md
Labels: area:dev-tools

#1167 fix: aws config
  search/search_service/config.py
Labels: area:search
