Repository amundsen-io/amundsen, pull requests merged in 2021-07, with the labels that each got.

#1300 fix: use simple analyzer for Feature ES index
  common/amundsen_common/models/index_map.py
Labels: area:common, category:models

#1301 chore: bump common
  common/setup.py
Labels: area:common

#1294 feat: ML Feature Lineage Tab
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/feature/reducer.ts
  frontend/amundsen_application/static/js/ducks/feature/sagas.ts
  frontend/amundsen_application/static/js/ducks/lineage/api/v0.ts
  frontend/amundsen_application/static/js/ducks/lineage/types.ts
  frontend/amundsen_application/static/js/ducks/rootSaga.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/feature.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
Labels: area:frontend, category:ui

#1304 docs: databuilder/README: add es version
  databuilder/README.md
Labels: area:databuilder, area:dev-tools, area:docs

#1303 fix: while using glue search table with filters for more than 10…
  databuilder/databuilder/extractor/glue_extractor.py
Labels: area:databuilder

#1306 chore: Bumped version to 5.2.2
  databuilder/setup.py
Labels: area:databuilder

#1309 fix: change atlas search extractor table key format from qualifiedName to uri
  databuilder/databuilder/extractor/atlas_search_data_extractor.py
Labels: area:databuilder

#1290 fix: Table Lineage - Upstream rendering adjustments
  frontend/amundsen_application/static/js/components/Lineage/Graph/chart.spec.ts
  frontend/amundsen_application/static/js/components/Lineage/Graph/chart.ts
  frontend/amundsen_application/static/js/components/Lineage/Graph/types.ts
  frontend/amundsen_application/static/js/components/Lineage/GraphContainer/index.spec.tsx
  frontend/amundsen_application/static/js/fixtures/globalState.ts
Labels: area:frontend, category:ui

#1308 Fix: Remove inheritance error due to missing function in NeptuneGremlinProxy
  metadata/metadata_service/proxy/gremlin_proxy.py
Labels: area:metadata, category:proxy

#1311 Fix: ResourceList and ResourceListItem UI elements CSS
  frontend/amundsen_application/static/js/components/ResourceList/ResourceListHeader/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceList/ResourceListHeader/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/TableListItem/index.tsx
Labels: area:frontend, category:ui

#1314 fix: Fixes the docker push build
  frontend/Makefile
Labels: area:frontend

#1128 docs: Add troubleshooting notes for neo4j container
  .gitignore
  docs/installation.md
  docs/vscode-end-of-line-setting.png
  docs/windows_troubleshooting.md
Labels: area:dev-tools, area:docs

#1315 style: fix flake8 databuilder lints
  databuilder/databuilder/extractor/atlas_search_data_extractor.py
  databuilder/databuilder/extractor/dashboard/apache_superset/apache_superset_chart_extractor.py
  databuilder/databuilder/extractor/dashboard/apache_superset/apache_superset_metadata_extractor.py
  databuilder/databuilder/extractor/dbt_extractor.py
  databuilder/databuilder/extractor/hive_table_last_updated_extractor.py
  databuilder/databuilder/models/atlas_serializable.py
  databuilder/databuilder/models/schema/schema.py
  databuilder/databuilder/publisher/atlas_csv_publisher.py
  databuilder/databuilder/publisher/elasticsearch_publisher.py
  databuilder/databuilder/publisher/neo4j_csv_publisher.py
  databuilder/databuilder/task/task.py
  databuilder/example/scripts/sample_dbt_loader.py
  databuilder/example/scripts/sample_deltalake_metadata.py
  databuilder/example/scripts/sample_feast_loader.py
  databuilder/example/scripts/sample_pandas_profiling_column_stats_loader.py
  databuilder/setup.cfg
  databuilder/tests/unit/extractor/test_csv_extractor.py
  databuilder/tests/unit/extractor/test_kafka_source_extractor.py
  databuilder/tests/unit/publisher/test_mysql_csv_publisher.py
  databuilder/tests/unit/publisher/test_neo4j_csv_publisher.py
Labels: area:databuilder, category:models

#1320 fix: Handle action logger exceptions in search handlers
  frontend/amundsen_application/api/search/v0.py
Labels: area:frontend, category:api

#1280 feat: Making notices more general (real)
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/docs/application_config.md
Labels: area:docs, area:frontend, category:ui

#1318 fix: Standardize the user serialization
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Labels: area:metadata, category:proxy

#1312 fix: aws session token that is required for neptune to be called
  databuilder/example/scripts/sample_neptune_data_cleanup_job.py
Labels: area:databuilder

#1322 docs: update frontend installation doc paths
  frontend/docs/installation.md
Labels: area:docs, area:frontend

#1305 feat: search_service/config: fail on bad AWS ES config
  search/search_service/config.py
  search/setup.cfg
Labels: area:search

#1321 style: parametrizing notices test cases
  frontend/amundsen_application/static/js/config/index.spec.ts
Labels: area:frontend, category:ui

#1324 docs: update Notice file
  NOTICE
Labels: area:dev-tools

#1328 feat: Allow counting reads from different GCP project id as config in bigquery_usage_extactor
  databuilder/databuilder/extractor/bigquery_usage_extractor.py
  databuilder/tests/unit/extractor/test_bigquery_usage_extractor.py
Labels: area:databuilder

#1326 feat: add complex delta type rendering on frontend
  databuilder/example/sample_data/sample_col.csv
  databuilder/example/sample_data/sample_table.csv
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.spec.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.ts
Labels: area:databuilder, area:frontend, category:ui

#1293 fix: Atlas lineage multiple parents
  metadata/metadata_service/proxy/atlas_proxy.py
Labels: area:metadata, category:proxy

#1332 fix: update setup.py frontend-oidc
  frontend/setup.py
Labels: area:frontend

#1331 docs: update readme with contributor graph
  README.md
Labels: area:dev-tools

#1336 chore: bump frontend image in helm chart
  amundsen-kube-helm/templates/helm/values.yaml
Labels: area:helm

#1345 chore: Release metadata 3.8.0
  metadata/setup.py
Labels: area:metadata

#1348 chore: Revert "feat search_service/config: fail on bad AWS ES config (#1305)"
  search/search_service/config.py
  search/setup.cfg
Labels: area:search

#1334 fix: timeout for tornado
  metadata/metadata_service/proxy/gremlin_proxy.py
Labels: area:metadata, category:proxy

#1330 fix: Add Feast Serving URL to Feast Extractor
  databuilder/databuilder/extractor/feast_extractor.py
  databuilder/example/scripts/sample_feast_loader.py
  databuilder/tests/unit/extractor/test_feast_extractor.py
Labels: area:databuilder

#1347 feat: Enhancement: add logging for total extracted records
  databuilder/databuilder/task/task.py
Labels: area:databuilder

#1351 chore: Update README.md with ES Table connector
  README.md
Labels: area:dev-tools

#1329 feat: support complex & nested column extraction for delta
  databuilder/README.md
  databuilder/databuilder/extractor/delta_lake_metadata_extractor.py
  databuilder/tests/unit/extractor/test_deltalake_extractor.py
Labels: area:databuilder, area:dev-tools, area:docs

#1346 fix: metadata oidc image build
  Dockerfile.frontend.public
  Dockerfile.metadata.public
  metadata/Makefile
  metadata/setup.py
Labels: area:metadata

#1359 feat: Common models to support better health checks
  common/amundsen_common/models/api/__init__.py
  common/amundsen_common/models/api/health_check.py
  common/setup.py
Labels: area:common, category:models

#1360 chore: bump databuilder version
  databuilder/setup.py
Labels: area:databuilder

#1361 chore: Bumped version
  databuilder/setup.py
Labels: area:databuilder

#1364 chore: update codeowners
  .github/CODEOWNERS
  OWNERS.md
Labels: area:dev-tools

#1367 chore: update slack link
  README.md
Labels: area:dev-tools

#1365 refactor: Updates Postgres extractor to not use information_schema
  databuilder/databuilder/extractor/base_postgres_metadata_extractor.py
  databuilder/databuilder/extractor/postgres_metadata_extractor.py
  databuilder/example/scripts/sample_postgres_loader.py
  databuilder/tests/unit/extractor/test_postgres_metadata_extractor.py
Labels: area:databuilder

#1369 chore: Added @sewardgw to *.py codeowner
  .github/CODEOWNERS
Labels: area:dev-tools

#1368 fix: key generation in databuilder query models.
  databuilder/databuilder/models/query/base.py
  databuilder/databuilder/models/query/query.py
  databuilder/databuilder/models/query/query_where.py
  databuilder/tests/unit/models/query/test_base.py
  databuilder/tests/unit/models/query/test_query.py
  databuilder/tests/unit/models/query/test_query_execution.py
  databuilder/tests/unit/models/query/test_query_join.py
  databuilder/tests/unit/models/query/test_query_where.py
Labels: area:databuilder, category:models

#1353 feat: blanket uneditable schema option
  amundsen-kube-helm/templates/helm/templates/deployment-frontend.yaml
  amundsen-kube-helm/templates/helm/values.yaml
  frontend/amundsen_application/api/utils/metadata_utils.py
  frontend/amundsen_application/config.py
  frontend/docs/flask_config.md
  frontend/tests/unit/utils/test_metadata_utils.py
Labels: area:docs, area:frontend, area:helm, category:api

#1370 feat: Add Salesforce extractor
  databuilder/README.md
  databuilder/databuilder/extractor/salesforce_extractor.py
  databuilder/setup.py
  databuilder/tests/unit/extractor/test_salesforce_extractor.py
Labels: area:databuilder, area:dev-tools, area:docs

#1378 fix: add description_source when inserting table/column description in mysql_proxy
  metadata/metadata_service/proxy/mysql_proxy.py
Labels: area:metadata, category:proxy

#1373 fix: nested delta edge case
  databuilder/databuilder/extractor/delta_lake_metadata_extractor.py
  databuilder/tests/unit/extractor/test_deltalake_extractor.py
Labels: area:databuilder, keep fresh

#1342 feat: Update feature tags in search on user action
  frontend/amundsen_application/api/metadata/v0.py
  frontend/setup.py
  frontend/tests/unit/api/metadata/test_v0.py
  search/search_service/proxy/elasticsearch.py
  search/setup.py
  search/tests/unit/proxy/test_elasticsearch.py
Labels: area:frontend, area:search, category:api, category:proxy

#1371 docs: Use HTTPS Git clone command instead of SSH in installation documentation
  docs/installation.md
Labels: area:docs

#1391 fix: deployment-frontend env nested & quote issue
  amundsen-kube-helm/templates/helm/templates/deployment-frontend.yaml
Labels: area:helm

#1375 feat: Adding regional endpoint url for NeptunePublisher
  databuilder/databuilder/publisher/neptune_csv_publisher.py
  docs/tutorials/how-to-use-amundsen-with-aws-neptune.md
Labels: area:databuilder, area:docs

#1389 fix: return empty list from exceptions in fetch_columns on deltalake extractor
  databuilder/databuilder/extractor/delta_lake_metadata_extractor.py
  databuilder/tests/unit/extractor/test_deltalake_extractor.py
Labels: area:databuilder

#1379 test: Trigger ci on all services for changes to common
  .github/workflows/databuilder_pull_request.yml
  .github/workflows/frontend_pull_request.yml
  .github/workflows/metadata_pull_request.yml
  .github/workflows/search_pull_request.yml
Labels: area:dev-tools

#1283 !refactor: Updates the Amudnsen Helm chart to make it work with latest flaskoidc
  amundsen-kube-helm/README.md
  amundsen-kube-helm/templates/helm/templates/configmaps.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-frontend.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-metadata.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-search.yaml
  amundsen-kube-helm/templates/helm/templates/secret-oidc-config.yaml
  amundsen-kube-helm/templates/helm/values.yaml
Labels: area:common, area:dev-tools, area:frontend, area:helm, category:api, category:ui, keep fresh

#1388 feat: Added support for Google tag manager
  frontend/amundsen_application/static/package-lock.json
  frontend/amundsen_application/static/package.json
Labels: area:frontend, category:ui

#1394 chore: bump databuilder version to 5.2.5
  databuilder/setup.py
Labels: area:databuilder

#1390 fix: added version to feature name
  frontend/amundsen_application/static/js/components/ResourceListItem/FeatureListItem/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/FeatureListItem/index.tsx
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
Labels: area:frontend, category:ui

#1395 chore: bump databuilder version to 5.2.6
  databuilder/setup.py
Labels: area:databuilder

#1357 feat: Add Oracle extractor loader to Amundsen
  databuilder/README.md
  databuilder/databuilder/extractor/oracle_metadata_extractor.py
  databuilder/example/scripts/sample_oracle_loader.py
  databuilder/setup.py
  databuilder/tests/unit/extractor/test_oracle_metadata_extractor.py
  frontend/amundsen_application/static/css/_icons.scss
  frontend/amundsen_application/static/images/icons/logo-oracle.svg
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
Labels: area:databuilder, area:dev-tools, area:docs, area:frontend, category:ui

#1386 chore: Upgrades ES to 7.13.3
  databuilder/databuilder/publisher/elasticsearch_publisher.py
  databuilder/requirements.txt
  databuilder/tests/unit/publisher/test_elasticsearch_publisher.py
  docker-amundsen-local.yml
  docker-amundsen.yml
  search/requirements.txt
  search/search_service/config.py
  search/search_service/proxy/elasticsearch.py
  search/tests/unit/proxy/test_elasticsearch.py
Labels: area:databuilder, area:dev-tools, area:search, category:proxy

#1380 docs: Fix links to point to correct branch and mono-repo
  docs/developer_guide.md
  docs/roadmap.md
  docs/tutorials/badges.md
  docs/tutorials/data-preview-with-superset.md
  docs/tutorials/how-to-use-amundsen-with-aws-neptune.md
Labels: area:docs, keep fresh
