Repository amundsen-io/amundsen, pull requests merged in 2021-10, with the labels that each got.

#1515 Fix: Column description index incorrect
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/testDataBuilder.ts
Labels: area:frontend, category:ui

#1499 feat: s3 preview client
  frontend/amundsen_application/base/base_s3_preview_client.py
  frontend/amundsen_application/base/examples/example_s3_json_preview_client.py
  frontend/docs/examples/s3_preview_client.md
Labels: keep fresh, area:frontend, area:docs

#1508 feat: Report an issue - allow user to set ticket priority
  frontend/amundsen_application/api/issue/issue.py
  frontend/amundsen_application/base/base_issue_tracker_client.py
  frontend/amundsen_application/models/data_issue.py
  frontend/amundsen_application/proxy/issue_tracker_clients/asana_client.py
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/issue/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/issue/api/v0.ts
  frontend/amundsen_application/static/js/ducks/issue/tests/index.spec.ts
  frontend/amundsen_application/static/js/interfaces/Issue.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/styles.scss
  frontend/tests/unit/api/issue/test_issue.py
  frontend/tests/unit/issue_tracker_clients/test_jira_client.py
Labels: area:frontend, category:api, category:ui, category:models

#1519 fix: missed field on API
  frontend/amundsen_application/api/log/v0.py
  frontend/amundsen_application/static/js/ducks/log/api/v0.ts
Labels: area:frontend, category:api, category:ui
