Repository amundsen-io/amundsen, pull requests merged in 2021-11, with the labels that each got.

#1552 fix: browse badges paddding
  frontend/amundsen_application/static/js/components/Badges/BadgeBrowseList/styles.scss
Labels: area:frontend, category:ui

#1549 Fix: glue extractor issues
  databuilder/databuilder/extractor/glue_extractor.py
  databuilder/tests/unit/extractor/test_glue_extractor.py
Labels: keep fresh, area:databuilder

#1557 feat: Allow override of default issue tracking project and improving sorting of issues displayed
  frontend/amundsen_application/api/issue/issue.py
  frontend/amundsen_application/base/base_issue_tracker_client.py
  frontend/amundsen_application/models/issue_results.py
  frontend/amundsen_application/proxy/issue_tracker_clients/asana_client.py
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-custom.ts
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/issue/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/issue/api/v0.ts
  frontend/amundsen_application/static/js/ducks/issue/reducer.ts
  frontend/amundsen_application/static/js/ducks/issue/sagas.ts
  frontend/amundsen_application/static/js/ducks/issue/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/issue/types.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/interfaces/Issue.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/styles.scss
  frontend/docs/application_config.md
  frontend/tests/unit/api/issue/test_issue.py
  frontend/tests/unit/issue_tracker_clients/test_jira_client.py
Labels: area:frontend, category:api, category:ui, category:models, area:docs

#1569 feat: allow multiple applications
  common/amundsen_common/models/table.py
  common/setup.py
  frontend/tests/unit/api/metadata/test_v0.py
Labels: area:common, area:frontend, category:models

#1577 Feat: Further generalize applications
  databuilder/databuilder/models/application.py
  databuilder/setup.py
  databuilder/tests/unit/models/test_application.py
  metadata/metadata_service/api/swagger_doc/template.yml
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/setup.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
  requirements-common.txt
Labels: area:databuilder, area:metadata, category:api, category:proxy, category:models

#1576 docs: add a blog from aws
  README.md
Labels: area:dev-tools

#1556 feat: search v2 API
  common/amundsen_common/models/search.py
  common/setup.py
  search/search_service/__init__.py
  search/search_service/api/search.py
  search/search_service/api/swagger_doc/search/search.yml
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/fixtures.py
  search/tests/unit/proxy/test_es_search_proxy.py
Labels: area:common, category:api, area:search, category:proxy, category:models

#1578 feat: Frontend work to support multiple generalized applications
  frontend/amundsen_application/proxy/issue_tracker_clients/jira_client.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_dropdowns.scss
  frontend/amundsen_application/static/css/_layouts.scss
  frontend/amundsen_application/static/images/icons/application.svg
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/table.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/pages/ProfilePage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/AirflowMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/DatabricksMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/GenericMenu/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/ExploreButton/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageButton/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/WriterLink/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/tests/unit/issue_tracker_clients/test_jira_client.py
Labels: area:frontend, category:ui

#1581 fix: Minor fix to ensure apps aren't duplicated in the application dropdown
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/TableDetailPage/ApplicationDropdown/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Labels: area:frontend, category:ui

#1585 fix: response schema issue in new search API
  search/search_service/api/search.py
Labels: category:api, area:search

#1587 chore: remove pyatlasclient version pinning
  databuilder/setup.py
Labels: area:databuilder

#1592 fix: add es v2 client config
  search/search_service/config.py
Labels: area:search

#1593 fix: added page size argument for compatibility
  search/search_service/proxy/es_search_proxy.py
Labels: area:search, category:proxy
