Repository amundsen-io/amundsen, pull requests merged in 2021-12, with the labels that each got.

#1595 feat: Add config for nested columns feature
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
Labels: area:frontend, category:ui

#1545 feat: Helm chart improvements
  amundsen-kube-helm/README.md
  amundsen-kube-helm/templates/helm/requirements.yaml
  amundsen-kube-helm/templates/helm/templates/configmaps.yaml
  amundsen-kube-helm/templates/helm/templates/ingress-frontend.yaml
  amundsen-kube-helm/templates/helm/values.yaml
Labels: keep fresh, area:dev-tools, area:helm

#1602 Fix: nested columns bug
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.spec.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.ts
Labels: area:frontend, category:ui

#1594 fix: new search API fixes
  search/search_service/api/search.py
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_search_proxy.py
Labels: category:api, area:search, category:proxy

#1603 fix: use docker links for ecs deployment
  docs/installation-aws-ecs/docker-ecs-amundsen.yml
Labels: area:dev-tools, area:docs

#1605 feat: Adding single apply and clear buttons to apply to all search filters
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.ts
  frontend/amundsen_application/static/js/interfaces/SearchFilterInput.ts
  frontend/amundsen_application/static/js/interfaces/index.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/styles.scss
  frontend/amundsen_application/static/js/pages/SearchPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.tsx
Labels: area:frontend, category:ui

#1612 fix: Search filtering behavior fix
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/search/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
Labels: area:frontend, category:ui

#1613 feat: update es document request model
  common/amundsen_common/models/search.py
  common/setup.py
Labels: area:common, category:models

#1590 fix: Tableau dashboard extractor to ignore dashboards of insufficient privileges
  databuilder/databuilder/extractor/dashboard/tableau/tableau_dashboard_table_extractor.py
  databuilder/tests/unit/extractor/dashboard/tableau/test_tableau_dashboard_table_extractor.py
Labels: keep fresh, area:databuilder

#1617 fix: updated UpdateDocumentRequest model to make value optional
  common/amundsen_common/models/search.py
  common/setup.py
Labels: area:common, category:models

#1604 fix: Adding missing secretName in ingress configuration. Helm improvements proposal.
  amundsen-kube-helm/templates/helm/Chart.yaml
  amundsen-kube-helm/templates/helm/requirements.yaml
  amundsen-kube-helm/templates/helm/templates/configmap-frontend.yaml
  amundsen-kube-helm/templates/helm/templates/configmap-metadata.yaml
  amundsen-kube-helm/templates/helm/templates/configmap-search.yaml
  amundsen-kube-helm/templates/helm/templates/configmaps.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-frontend.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-metadata.yaml
  amundsen-kube-helm/templates/helm/templates/deployment-search.yaml
  amundsen-kube-helm/templates/helm/templates/ingress-frontend.yaml
  amundsen-kube-helm/templates/helm/values.yaml
Labels: keep fresh, area:helm

#1622 fix: error on search with pagination
  search/search_service/proxy/es_search_proxy.py
Labels: area:search, category:proxy

#1611 feat: v2/document API
  requirements-common.txt
  search/search_service/__init__.py
  search/search_service/api/document_update.py
  search/search_service/api/search.py
  search/search_service/api/swagger_doc/search/document_delete.yml
  search/search_service/api/swagger_doc/search/document_post.yml
  search/search_service/proxy/base.py
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_proxy_utils.py
  search/search_service/proxy/es_search_proxy.py
Labels: area:common, category:api, area:search, category:proxy, category:models

#1629 fix: added missing description fields to mappings
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/fixtures.py
  search/tests/unit/proxy/test_es_search_proxy.py
Labels: area:search, category:proxy

#1623 feat: Use new search endpoint in FE and add search filter operation selection
  frontend/amundsen_application/__init__.py
  frontend/amundsen_application/api/search/v0.py
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.tsx
  frontend/amundsen_application/static/js/components/SearchBar/index.tsx
  frontend/amundsen_application/static/js/components/Tags/TagInfo/index.tsx
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/ducks/search/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/search/api/v0.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/search/tests/sagas.spec.ts
  frontend/amundsen_application/static/js/ducks/search/types.ts
  frontend/amundsen_application/static/js/features/BadgeList/index.tsx
  frontend/amundsen_application/static/js/fixtures/search/filters.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
  frontend/amundsen_application/static/js/interfaces/SearchFilterInput.ts
  frontend/amundsen_application/static/js/pages/DashboardPage/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterOperationSelector/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterOperationSelector/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableHeaderBullets/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/docs/application_config.md
  frontend/setup.py
  frontend/tests/unit/api/search/test_v0.py
  frontend/tests/unit/api/search/test_v1.py
  frontend/tests/unit/utils/test_search_utils.py
Labels: area:frontend, category:api, category:ui

#1619 feat: FE document update with v2/document search service endpoint use
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/api/utils/request_utils.py
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/tests/unit/api/metadata/test_v0.py
Labels: area:frontend, category:api

#1631 fix: add missing field for dashboard uri
  search/search_service/proxy/es_search_proxy.py
Labels: area:search, category:proxy

#1630 chore: bumped search to 3.0.0
  search/search_service/config.py
  search/setup.py
Labels: area:search

#1635 fix: added uri and url fields to dashboard mapping function
  frontend/amundsen_application/api/utils/search_utils.py
  frontend/setup.py
Labels: area:frontend, category:api

#1636 feat: Updating input placeholder text and hint text for search filters
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
Labels: area:frontend, category:ui
