Repository amundsen-io/amundsen, pull requests merged in 2022-12, with the labels that each got.

#2038 feat: add configurable message to lineage tabs
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/static/css/_list-group.scss
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/interfaces/Lineage.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageList/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageList/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/tests/unit/api/metadata/test_v0.py
Labels: area:frontend, category:api, category:ui

#2043 feat: tweaks styling of Alerts
  frontend/amundsen_application/static/js/components/Alert/alert.story.tsx
  frontend/amundsen_application/static/js/components/Alert/index.tsx
  frontend/amundsen_application/static/js/components/Alert/styles.scss
  frontend/docs/application_config.md
  frontend/docs/img/notices-alert-table.png
  frontend/docs/img/notices-warning-dashboard.png
  frontend/docs/img/notices-warning-table.png
Labels: area:frontend, category:ui, area:docs

#2045 feat: extends resource notices to support extra information
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_buttons-default.scss
  frontend/amundsen_application/static/css/_popovers.scss
  frontend/amundsen_application/static/js/components/Alert/alert.story.tsx
  frontend/amundsen_application/static/js/components/Alert/index.spec.tsx
  frontend/amundsen_application/static/js/components/Alert/index.tsx
  frontend/amundsen_application/static/js/components/DefinitionList/definitionList.story.tsx
  frontend/amundsen_application/static/js/components/DefinitionList/index.spec.tsx
  frontend/amundsen_application/static/js/components/DefinitionList/index.tsx
  frontend/amundsen_application/static/js/components/DefinitionList/styles.scss
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/features/Feedback/styles.scss
  frontend/amundsen_application/static/js/pages/DashboardPage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/DataPreviewButton/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/DataPreviewButton/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/docs/application_config.md
Labels: area:frontend, category:ui, area:docs

#2037 Fix: Corrected position of arguments in _par
  metadata/metadata_service/proxy/gremlin_proxy.py
Labels: area:metadata, category:proxy

#2057 Fixes UI crashing on "search page" if we multiple filters with the same category are added (issue #2053)
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
Labels: area:frontend, category:ui

#2056 Chore: Bump databuilder version to 7.4.3
  databuilder/setup.py
Labels: area:databuilder

#2060 doc: add two new docs to readme
  README.md
Labels: area:dev-tools

#2052 docs: proposal for issue triage process
  CONTRIBUTING.md
  MAINTAINING.md
  README.md
  docs/img/issue_process_diagram.png
  docs/img/process/issue_process_diagram.png
  docs/issue_labeling.md
Labels: area:dev-tools, area:docs

#2062 docs: updates labeling doc with lowercase labels; updates templates, readme
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  README.md
  docs/issue_labeling.md
Labels: type:documentation, area:docs, area:dev-tools

#2049 docs: Update databuilder docs ES version reference
  databuilder/README.md
Labels: type:documentation, area:databuilder, area:all, area:docs, area:dev-tools

#2064 docs: Edit docs for clarity and fix typos
  docs/installation.md
Labels: area:docs
