Repository amundsen-io/amundsen, pull requests merged in 2022-03, with the labels that each got.

#1751 fix: array index out of bound in some cases
  search/search_service/proxy/es_search_proxy.py
Labels: area:search, category:proxy

#1752 fix: Fix browser search integration
  frontend/amundsen_application/api/__init__.py
  frontend/amundsen_application/static/templates/index.html
  frontend/amundsen_application/static/templates/opensearch.xml
  frontend/amundsen_application/static/webpack.common.ts
Labels: area:frontend, category:api, category:ui

#1753 docs: document the opensearch.xml file
  frontend/docs/search_from_browser.md
Labels: area:frontend, area:docs

#1756 fix: Minor styling fixes for Report an issue modal
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/styles.scss
Labels: area:frontend, category:ui

#1694 feat: Delta table partition watermarks
  databuilder/databuilder/extractor/delta_lake_metadata_extractor.py
  databuilder/tests/unit/extractor/test_deltalake_extractor.py
  requirements-dev.txt
Labels: area:databuilder, category:models

#1754 feat: configurable default filter values
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
Labels: area:frontend, category:api, category:ui

#1755 fix: Handle more cases in the Hive parser for nested column support
  databuilder/databuilder/models/type_metadata.py
  databuilder/databuilder/utils/hive_complex_type_parser.py
  databuilder/setup.py
  databuilder/tests/unit/models/test_fixtures/table_metadata_fixtures.py
  databuilder/tests/unit/models/test_table_metadata.py
  databuilder/tests/unit/models/test_type_metadata.py
  databuilder/tests/unit/utils/test_hive_complex_type_parser.py
Labels: area:databuilder, category:models

#1762 fix: dashboard query
  databuilder/databuilder/task/search/search_data_queries.py
  databuilder/setup.py
Labels: area:databuilder

#1764 feat: support for feature tours
  frontend/amundsen_application/static/js/features/NavBar/index.spec.tsx
  frontend/amundsen_application/static/js/features/NavBar/index.tsx
  frontend/docs/application_config.md
Labels: area:frontend, category:ui, area:docs

#1765 chore: adds explicit npm registry on .npmrc
  frontend/amundsen_application/static/.npmrc
Labels: area:frontend, category:ui

#1769 chore: Bump databuilder version to 6.7.4
  databuilder/setup.py
Labels: area:databuilder

#1767 feat: toggle filter component
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/ToggleSwitch/ToggleSwitch.tsx
  frontend/amundsen_application/static/js/components/ToggleSwitch/index.spec.tsx
  frontend/amundsen_application/static/js/components/ToggleSwitch/index.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterSection/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/ToggleFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/ToggleFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/ToggleFilter/styles.scss
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/styles.scss
  frontend/amundsen_application/static/package-lock.json
  frontend/amundsen_application/static/package.json
  frontend/docs/application_config.md
Labels: area:frontend, category:ui, area:docs

#1785 feat: Add TypeMetadata to ResourceType enums
  common/amundsen_common/entity/resource_type.py
  common/setup.py
  requirements-common.txt
Labels: area:common

#1788 fix: Type_Metadata ResourceType needs to match the node label format
  common/amundsen_common/entity/resource_type.py
  common/setup.py
Labels: area:common

#1653 fix: Update dbt_extractor - issue-1615
  databuilder/databuilder/extractor/dbt_extractor.py
Labels: keep fresh, area:databuilder

#1776 feat: Update metadata neo4j proxy column query to retrieve its TypeMetadata
  metadata/metadata_service/__init__.py
  metadata/metadata_service/api/swagger_doc/template.yml
  metadata/metadata_service/api/swagger_doc/type_metadata/badge_delete.yml
  metadata/metadata_service/api/swagger_doc/type_metadata/badge_put.yml
  metadata/metadata_service/api/swagger_doc/type_metadata/description_get.yml
  metadata/metadata_service/api/swagger_doc/type_metadata/description_put.yml
  metadata/metadata_service/api/type_metadata.py
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/metadata_service/proxy/base_proxy.py
  metadata/metadata_service/proxy/gremlin_proxy.py
  metadata/metadata_service/proxy/mysql_proxy.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Labels: area:metadata, category:api, category:proxy

#1789 feat: add boolean config for adding publisher metadata to neo4j node
  databuilder/databuilder/publisher/neo4j_csv_publisher.py
Labels: area:databuilder
