Repository amundsen-io/amundsen, pull requests merged in 2022-04, with the labels that each got.

#1791 feat: Enable Support for Teradata Metadata Scanner
  databuilder/databuilder/extractor/base_teradata_metadata_extractor.py
  databuilder/databuilder/extractor/teradata_metadata_extractor.py
  databuilder/example/scripts/sample_teradata_loader.py
  databuilder/setup.py
  databuilder/tests/unit/extractor/test_teradata_metadata_extractor.py
  frontend/amundsen_application/static/css/_icons-default.scss
  frontend/amundsen_application/static/images/icons/logo-teradata.svg
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
Labels: area:databuilder, area:frontend, category:ui

#1792 fix: Add schema name to Lineage graph node labels
  frontend/amundsen_application/static/js/components/Lineage/Graph/chart.ts
  frontend/amundsen_application/static/js/components/Lineage/Graph/constants.ts
Labels: area:frontend, category:ui

#1798 fix: Use frontend resources for frontend deployment
  amundsen-kube-helm/templates/helm/templates/deployment-frontend.yaml
Labels: area:helm

#1799 fix: Fix neo4j proxy column query retrieval of type metadata, adding logging
  metadata/metadata_service/api/type_metadata.py
  metadata/metadata_service/proxy/neo4j_proxy.py
Labels: area:metadata, category:api, category:proxy

#1802 feat: Moving location of the column stats icon
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/features/ColumnList/constants.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/styles.scss
Labels: area:frontend, category:ui

#1804 Fix: Version bump for 'google-auth' package to fix gcp impersonation for bigquery
  databuilder/setup.py
Labels: area:databuilder

#1809 feat: Reducing width of left side panel on resource detail pages
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_layouts.scss
  frontend/amundsen_application/static/js/components/TabsComponent/styles.scss
  frontend/amundsen_application/static/js/pages/DashboardPage/constants.ts
  frontend/amundsen_application/static/js/pages/DashboardPage/index.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/styles.scss
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableIssues/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/styles.scss
Labels: area:frontend, category:ui

#1723 fix: helm chart: Add forgotten annotations to ingress template.
  amundsen-kube-helm/templates/helm/templates/ingress-frontend.yaml
Labels: stale, area:helm

#1815 fix: Improve Lineage chart UI
  frontend/amundsen_application/static/js/components/Lineage/Graph/chart.ts
  frontend/amundsen_application/static/js/components/Lineage/Graph/constants.ts
  frontend/amundsen_application/static/js/components/Lineage/Graph/index.spec.tsx
Labels: area:frontend, category:ui

#1827 fix: adds support for simple wildcards on page tour configuration paths
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/features/NavBar/index.tsx
  frontend/docs/application_config.md
Labels: area:frontend, category:ui, area:docs

#1821 fix: Improve Lineage chart UI -- follow-up
  frontend/amundsen_application/static/js/components/Lineage/Graph/chart.ts
  frontend/amundsen_application/static/js/components/Lineage/Graph/constants.ts
Labels: area:frontend, category:ui

#1823 fix: issue with neo4j query for ES data
  databuilder/databuilder/task/search/search_data_queries.py
Labels: area:databuilder

#1829 chore: bump databuilder to 6.7.5
  databuilder/setup.py
Labels: area:databuilder

#1819 feat: added highlight options to search API definition
  common/amundsen_common/models/search.py
  common/setup.py
  requirements-common.txt
Labels: area:common, category:models

#1831 feat: Create right side column details panel
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_layouts.scss
  frontend/amundsen_application/static/js/components/Table/index.spec.tsx
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/components/Table/styles.scss
  frontend/amundsen_application/static/js/components/Table/testDataBuilder.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/constants.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnStats/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnStats/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/js/utils/index.spec.ts
  frontend/amundsen_application/static/js/utils/navigationUtils.ts
Labels: area:frontend, category:ui

#1834 fix: added default value to optional field in search request
  common/amundsen_common/models/search.py
  common/setup.py
  requirements-common.txt
Labels: area:common, category:models

#1835 fix: added highlight options to request
  frontend/amundsen_application/api/utils/search_utils.py
Labels: area:frontend, category:api

#1837 fix: Loading/display for column lineage in column details panel
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnLineage/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnLineage/styles.scss
  frontend/amundsen_application/static/js/features/ColumnList/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Labels: area:frontend, category:ui
