Repository amundsen-io/amundsen, pull requests merged in 2022-05, with the labels that each got.

#1838 feat: add version meta field and term_vector to mappings
  databuilder/databuilder/publisher/elasticsearch_publisher.py
  databuilder/databuilder/task/search/document_mappings.py
  databuilder/databuilder/task/search/search_metadata_to_elasticsearch_task.py
  databuilder/requirements.txt
  databuilder/setup.py
Labels: area:databuilder

#1848 fix: toggle filter should clear when off
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/ToggleFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/ToggleFilter/index.tsx
Labels: area:frontend, category:ui

#1847 refactor: Refactor various column details and add TypeMetadata to TableColumn model
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/Table/index.spec.tsx
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/components/Table/testDataBuilder.tsx
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/v0.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/sagas.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/types.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDescEditableText/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/testDataBuilder.ts
  frontend/amundsen_application/static/js/fixtures/metadata/table.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/ListSortingDropdown/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ListSortingDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Labels: area:frontend, category:ui

#1849 fix: fixes tour not resetting on different pages
  frontend/amundsen_application/static/js/components/Tour/index.tsx
Labels: area:frontend, category:ui

#1852 fix: better behavior for search filters
  search/search_service/proxy/es_search_proxy.py
Labels: area:search, category:proxy

#1854 fix: fixes state sharing between tours of different pages
  frontend/amundsen_application/static/js/components/Tour/index.tsx
  frontend/amundsen_application/static/js/features/NavBar/index.tsx
Labels: area:frontend, category:ui

#1853 fix: avoid extra load url search call when default filters are applied
  frontend/amundsen_application/static/js/ducks/search/filters/reducer.ts
Labels: area:frontend, category:ui

#1830 feat: enable UI config overrides post build
  frontend/amundsen_application/api/__init__.py
  frontend/amundsen_application/config.py
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config.ts
  frontend/amundsen_application/static/templates/index.html
Labels: area:frontend, category:api, category:ui

#1855 fix: fix misaligned source icon
  frontend/amundsen_application/static/css/_layouts.scss
Labels: area:frontend, category:ui

#1862 chore: bump release versions for search and frontend
  frontend/setup.py
  search/setup.py
Labels: area:frontend, area:search

#1863 chore: updated company list in readme
  README.md
Labels: area:dev-tools

#1861 docs: Update docs for Windows workaround to solve databuilder extras_require error.
  docs/installation.md
  docs/windows_troubleshooting.md
Labels: area:docs

#1865 feat: Adding nested columns to be displayed in the column dropdowns as rows
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/Table/constants.ts
  frontend/amundsen_application/static/js/components/Table/index.spec.tsx
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/components/Table/styles.scss
  frontend/amundsen_application/static/js/components/Table/testDataBuilder.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/styles.scss
  frontend/amundsen_application/static/js/features/ColumnList/testDataBuilder.ts
  frontend/amundsen_application/static/js/interfaces/ColumnList.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Labels: area:frontend, category:ui

#1459 feat: Allow dangerous html based on config variable
  frontend/amundsen_application/static/js/components/EditableText/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Labels: keep fresh, area:common, area:frontend, area:dev-tools, category:ui, category:models, area:helm

#1859 chore: updated search readme
  search/README.md
Labels: area:search, area:dev-tools, area:docs

#1872 feat: Nested columns special type rows and expand by default
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_typography-default.scss
  frontend/amundsen_application/static/js/components/Table/constants.ts
  frontend/amundsen_application/static/js/components/Table/index.spec.tsx
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/components/Table/styles.scss
  frontend/amundsen_application/static/js/components/Table/testDataBuilder.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/interfaces/ColumnList.ts
Labels: area:frontend, category:ui
