Repository amundsen-io/amundsen, pull requests merged in 2022-08, with the labels that each got.

#1948 fix: session db name
  databuilder/databuilder/extractor/bigquery_metadata_extractor.py
  databuilder/databuilder/extractor/neo4j_extractor.py
  databuilder/databuilder/publisher/neo4j_csv_publisher.py
  databuilder/setup.py
Labels: area:databuilder

#1879 fix: Add postgres compatibility in HiveTableLastUpdatedExtractor
  databuilder/databuilder/extractor/hive_table_last_updated_extractor.py
Labels: area:databuilder

#1878 fix: Add postgres compatibility in PrestoViewMetadataExtractor
  databuilder/databuilder/extractor/presto_view_metadata_extractor.py
Labels: area:databuilder

#1950 fix: Fix handling of big ints in preview data
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/v0.ts
  frontend/amundsen_application/static/js/features/PreviewData/index.tsx
  frontend/amundsen_application/static/package-lock.json
  frontend/amundsen_application/static/package.json
Labels: area:frontend, category:ui

#1937 fix: Fix column description overflow-y value
  frontend/amundsen_application/static/js/features/ColumnList/styles.scss
Labels: area:frontend, category:ui

#1943 feat: Add config to hide non-clickable badges
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.tsx
  frontend/amundsen_application/static/js/config/config-custom.ts
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/docs/application_config.md
Labels: area:frontend, category:ui, area:docs

#1956 fix: Don't retrieve column lineage when it is not enabled
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Labels: area:frontend, category:ui

#1934 fix: Fix links in Announcements
  frontend/amundsen_application/static/js/components/Announcements/AnnouncementsList/index.tsx
Labels: area:databuilder, area:frontend, category:ui

#1958 feat: Add optional configuration to disable Lineage list view links
  frontend/amundsen_application/static/css/_list-group.scss
  frontend/amundsen_application/static/js/components/ResourceListItem/TableListItem/index.tsx
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageList/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageList/index.tsx
Labels: area:frontend, category:ui

#1957 perf: New neo4j csv publisher to improve performance using batched params
  databuilder/databuilder/extractor/hive_table_last_updated_extractor.py
  databuilder/databuilder/publisher/neo4j_csv_publisher.py
  databuilder/databuilder/publisher/neo4j_csv_unwind_publisher.py
  databuilder/databuilder/publisher/publisher_config_constants.py
  databuilder/databuilder/utils/publisher_utils.py
  databuilder/setup.py
  databuilder/tests/unit/publisher/test_neo4j_csv_unwind_publisher.py
Labels: area:databuilder

#1952 feat: Neo4j driver 4.4.5 on metadata
  metadata/metadata_service/config.py
  metadata/metadata_service/proxy/__init__.py
  metadata/metadata_service/proxy/atlas_proxy.py
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/requirements.txt
  metadata/setup.py
  metadata/tests/conftest.py
  metadata/tests/unit/proxy/test_create_proxy.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
  metadata/tests/unit/proxy/test_statsd_utilities.py
Labels: area:metadata, category:api, category:proxy

#1963 fix: For new publisher fix error handling for already created constraints/indices
  databuilder/databuilder/utils/publisher_utils.py
  databuilder/setup.py
Labels: area:databuilder

#1964 fix: no reason to raise a 404 when a user has no bookmarks or reads
  metadata/metadata_service/proxy/neo4j_proxy.py
Labels: area:metadata, category:proxy

#1965 fix: Dashboard User relationships raised 404s also
  metadata/metadata_service/api/user.py
  metadata/metadata_service/proxy/neo4j_proxy.py
Labels: area:metadata, category:api, category:proxy

#1959 Feat/kafka schema registry integration
  README.md
  databuilder/README.md
  databuilder/databuilder/extractor/kafka_schema_registry_extractor.py
  databuilder/setup.py
  databuilder/tests/unit/extractor/test_kafka_schema_registry_extractor.py
Labels: area:databuilder, area:dev-tools, area:docs

#1968 Get the first item from the healthcheck response
  metadata/metadata_service/proxy/neo4j_proxy.py
Labels: area:metadata, category:proxy

#1961 feat: Extend Lineage list view configuration
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageList/index.tsx
Labels: area:frontend, category:ui

#1973 chore: Update 'Who uses Amundsen?'
  README.md
Labels: area:dev-tools

#1974 fix: Fix hideNonClickableBadges configuration
  frontend/amundsen_application/static/js/components/Badges/BadgeBrowseList/index.tsx
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.spec.tsx
  frontend/amundsen_application/static/js/components/Badges/BadgeList/index.tsx
Labels: area:frontend, category:ui
