Repository amundsen-io/amundsen, pull requests merged in 2022-10, with the labels that each got.

#2006 feat: use different internal link than the table details page on lineage
  common/amundsen_common/models/api/health_check.py
  common/amundsen_common/models/lineage.py
  common/setup.py
  frontend/amundsen_application/static/js/components/ResourceListItem/TableListItem/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/TableListItem/index.tsx
  frontend/amundsen_application/static/js/interfaces/Lineage.ts
  frontend/amundsen_application/static/js/interfaces/Resources.ts
  requirements-common.txt
Labels: area:common, area:frontend, category:ui, category:models

#2010 feat: added optional in_amundsen bool to lineage items
  common/amundsen_common/models/lineage.py
  common/setup.py
  frontend/amundsen_application/static/js/interfaces/Lineage.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageList/index.tsx
  requirements-common.txt
Labels: area:common, area:frontend, category:api, category:ui, category:models

#2014 fix: better styling for disabled items
  frontend/amundsen_application/static/css/_list-group.scss
  frontend/amundsen_application/static/js/components/ResourceListItem/TableListItem/index.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/styles.scss
Labels: area:frontend, category:ui

#2016 fix: adds loading spinners to table lineage tabs
  frontend/amundsen_application/static/js/components/ResourceList/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageList/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/LineageList/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Labels: area:frontend, category:ui
