Repository amundsen-io/amundsen, pull requests merged in 2022-11, with the labels that each got.

#2017 fix: fixes storybook installation
  .github/CODEOWNERS
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/.storybook/main.ts
  frontend/amundsen_application/static/.storybook/webpack.config.js
  frontend/amundsen_application/static/js/components/Announcements/AnnouncementsList/index.tsx
  frontend/amundsen_application/static/js/components/InfoButton/infoButton.story.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/svgIcons.story.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/ResultItemList/tests/index.spec.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/SearchItemList/SearchItem/index.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/index.tsx
  frontend/amundsen_application/static/js/components/SearchBar/InlineSearchResults/tests/index.spec.tsx
  frontend/amundsen_application/static/js/components/ShimmeringResourceLoader/index.tsx
  frontend/amundsen_application/static/js/components/ShimmeringTagListLoader/index.tsx
  frontend/amundsen_application/static/js/components/Table/index.spec.tsx
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/components/Table/table.story.tsx
  frontend/amundsen_application/static/js/components/Table/testDataBuilder.tsx
  frontend/amundsen_application/static/js/components/Tags/TagsList/index.spec.tsx
  frontend/amundsen_application/static/js/components/Tags/index.tsx
  frontend/amundsen_application/static/js/components/Tour/index.tsx
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/config.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/middlewares/analyticsMiddleware.ts
  frontend/amundsen_application/static/js/ducks/search/reducer.spec.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/v0.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/ducks/tags/api/v0.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.spec.tsx
  frontend/amundsen_application/static/js/features/NavBar/index.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/QueryList/index.spec.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/InputFilter/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ListSortingDropdown/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/RequestMetadataForm/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableDashboardResourceList/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/js/utils/index.spec.ts
  frontend/amundsen_application/static/js/utils/navigationUtils.ts
  frontend/amundsen_application/static/package-lock.json
  frontend/amundsen_application/static/package.json
  frontend/amundsen_application/static/webpack.common.ts
  frontend/amundsen_application/static/webpack.dev.ts
  frontend/amundsen_application/static/webpack.prod.ts
Labels: area:frontend, area:dev-tools, category:ui

#2019 fix: fixes Collapse text button overlapping lineage tabs
  frontend/amundsen_application/static/js/pages/TableDetailPage/styles.scss
Labels: area:frontend, category:ui

#2020 fix: fixes cached lineage list content
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/pages/TableDetailPage/RequestMetadataForm/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/RequestMetadataForm/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableOwnerEditor/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableQualityChecks/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/WatermarkLabel/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/package-lock.json
  frontend/amundsen_application/static/package.json
Labels: area:frontend, category:ui

#2021 fix: fixes scrolling issue after tab changes
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/.betterer.ts
  frontend/amundsen_application/static/js/components/Tour/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/js/utils/navigationUtils.ts
Labels: area:frontend, category:ui

#2024 chore: updates logging to cover tour and feedback widget
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/.betterer.ts
  frontend/amundsen_application/static/js/components/Tour/index.tsx
  frontend/amundsen_application/static/js/features/Feedback/FeedbackForm/BugReportFeedbackForm/index.tsx
  frontend/amundsen_application/static/js/features/Feedback/FeedbackForm/RatingFeedbackForm/index.spec.tsx
  frontend/amundsen_application/static/js/features/Feedback/FeedbackForm/RatingFeedbackForm/index.tsx
  frontend/amundsen_application/static/js/features/Feedback/FeedbackForm/RequestFeedbackForm/index.tsx
  frontend/amundsen_application/static/js/features/Feedback/constants.ts
  frontend/amundsen_application/static/js/features/Feedback/index.tsx
  frontend/amundsen_application/static/js/features/Feedback/styles.scss
  frontend/amundsen_application/static/js/features/NavBar/index.tsx
  frontend/amundsen_application/static/js/utils/analytics.ts
Labels: area:frontend, category:ui

#2022 chore: support amundsen-rds == 0.0.7 for mysql_proxy in metadata_service
  metadata/metadata_service/proxy/mysql_proxy.py
  metadata/setup.py
Labels: area:metadata, category:proxy

#2012 fix: Use isColumnLineagePageEnabled
  frontend/amundsen_application/static/js/features/ColumnList/ColumnLineage/index.tsx
Labels: area:frontend, category:ui

#2034 Fix: Change default value for 'description' in BigQuery_metadata_extractor results
  databuilder/databuilder/extractor/bigquery_metadata_extractor.py
  databuilder/tests/unit/extractor/test_bigquery_metadata_extractor.py
Labels: area:databuilder

#2039 feat: Add lineage item counts to lineage response
  common/amundsen_common/models/lineage.py
  common/setup.py
  requirements-common.txt
Labels: area:common, category:models
