Repository amundsen-io/amundsen, pull requests merged in 2022-01, with the labels that each got.

#1648 feat: Support for ES 7, ES field names containing dots, ES field sort order
  databuilder/README.md
  databuilder/databuilder/extractor/es_base_extractor.py
  databuilder/databuilder/extractor/es_metadata_extractor.py
  databuilder/setup.py
  databuilder/tests/unit/extractor/test_es_column_stats_extractor.py
  databuilder/tests/unit/extractor/test_es_metadata_extractor.py
Labels: area:databuilder, area:dev-tools, area:docs

#1649 feat: more flexible ES search proxy implementation
  search/search_service/proxy/es_search_proxy.py
  search/tests/unit/proxy/fixtures.py
Labels: area:search, category:proxy

#1614 fix: Added support in helm chart for air-gapped deployment
  amundsen-kube-helm/README.md
  amundsen-kube-helm/templates/helm/templates/deployment-neo4j.yaml
  amundsen-kube-helm/templates/helm/values.yaml
Labels: keep fresh, area:dev-tools, area:helm

#1574 fix: database mapping superset extract
  databuilder/databuilder/extractor/dashboard/apache_superset/apache_superset_table_extractor.py
  databuilder/setup.py
Labels: keep fresh, area:databuilder

#1656 feat: Add Trino icon to frontend
  frontend/amundsen_application/static/css/_icons-default.scss
  frontend/amundsen_application/static/images/icons/logo-trino.svg
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/interfaces/Enums.ts
Labels: area:frontend, category:ui

#1661 feat: add partition column badge
  databuilder/databuilder/extractor/delta_lake_metadata_extractor.py
  databuilder/tests/unit/extractor/test_deltalake_extractor.py
Labels: area:databuilder

#1660 fix: bigquery preview with numeric data type - issue #1658
  frontend/amundsen_application/base/base_bigquery_preview_client.py
Labels: area:frontend

#1664 feat: refactor hive extractor sql query refs
  databuilder/databuilder/extractor/hive_table_last_updated_extractor.py
  databuilder/databuilder/extractor/hive_table_metadata_extractor.py
  databuilder/setup.py
Labels: area:databuilder

#1669 feat: refactor generic usage extractor
  databuilder/databuilder/extractor/generic_usage_extractor.py
  databuilder/setup.py
Labels: area:databuilder, area:metadata, category:proxy

#1670 feat: introduce resource reports client in neo4j proxy
  metadata/metadata_service/proxy/neo4j_proxy.py
Labels: area:metadata, category:proxy

#1663 chore: Log searches and add tag to filter for features when clicking from the homepage
  frontend/amundsen_application/api/search/v1.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/Tags/TagInfo/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/FilterOperationSelector/index.tsx
Labels: area:frontend, category:api, category:ui

#1662 feat: Add config to prevent neo4j staleness removal task from removing data with missing publisher metadata
  databuilder/README.md
  databuilder/databuilder/task/neo4j_staleness_removal_task.py
  databuilder/setup.py
  databuilder/tests/unit/task/test_neo4j_staleness_removal_task.py
Labels: area:databuilder, area:dev-tools, area:docs

#1675 fix: Update amundsen services versions on ECS installation
  docs/installation-aws-ecs/docker-ecs-amundsen.yml
Labels: area:dev-tools, area:docs

#1673 chore: remove py36 from github workflows
  .github/workflows/common_pull_request.yml
  .github/workflows/databuilder_pull_request.yml
  .github/workflows/deploy_release.yml
  .github/workflows/frontend_pull_request.yml
  .github/workflows/metadata_pull_request.yml
  .github/workflows/monthly_release.yml
  .github/workflows/search_pull_request.yml
  common/setup.py
  databuilder/setup.py
  frontend/setup.py
  metadata/setup.py
  search/setup.py
Labels: area:common, area:databuilder, area:frontend, area:metadata, area:search, area:dev-tools

#1676 feat: refactor must fields for new es proxy
  search/search_service/proxy/es_search_proxy.py
Labels: area:search, category:proxy

#1677 feat: remove jira and asana from primary deps in frontend
  frontend/requirements.txt
  frontend/setup.py
Labels: area:frontend

#1528 feat: Upgrade feast to 0.17
  databuilder/databuilder/extractor/feast_extractor.py
  databuilder/example/scripts/sample_feast_loader.py
  databuilder/setup.cfg
  databuilder/setup.py
  databuilder/tests/unit/extractor/test_feast_extractor.py
  databuilder/tests/unit/resources/extractor/feast/fs/feature_store.yaml
  databuilder/tests/unit/resources/extractor/feast/fs/feature_view.py
Labels: keep fresh, area:common, area:databuilder, area:dev-tools, category:models, area:docs, area:helm

#1681 chore: remove gremlin from core dependencies of metadata proxy
  metadata/metadata_service/config.py
  metadata/requirements.txt
  metadata/setup.py
Labels: area:metadata

#1684 feat: Add ElasticsearchWatermarkExtractor
  databuilder/README.md
  databuilder/databuilder/extractor/es_base_extractor.py
  databuilder/databuilder/extractor/es_watermark_extractor.py
  databuilder/databuilder/models/watermark.py
  databuilder/tests/unit/extractor/test_es_watermark_extractor.py
Labels: area:databuilder, area:dev-tools, category:models, area:docs

#1687 fix: add region parameter to glue extractor boto3 client instantiation
  databuilder/README.md
  databuilder/databuilder/extractor/glue_extractor.py
Labels: area:databuilder, area:dev-tools, area:docs
