Repository amundsen-io/amundsen, pull requests merged in 2022-09, with the labels that each got.

#1980 fix: Correct sharded table prefix extraction in Bigquery Usage Extractor
  databuilder/databuilder/extractor/bigquery_usage_extractor.py
Labels: area:databuilder

#1941 feat-use-retryable-query-executor
  metadata/metadata_service/proxy/gremlin_proxy.py
Labels: area:metadata, category:proxy

#1984 fix: add f to search filter logging
  search/search_service/proxy/es_proxy_v2.py
Labels: area:search, category:proxy

#1983 feat: Allow null values set for empty props in neo4j unwind publisher and multiple rels between nodes
  databuilder/databuilder/loader/file_system_neo4j_csv_loader.py
  databuilder/databuilder/publisher/neo4j_csv_unwind_publisher.py
  databuilder/databuilder/publisher/publisher_config_constants.py
Labels: area:databuilder

#1985 chore: Bump databuilder version to 7.3.0
  databuilder/setup.py
Labels: area:databuilder

#1991 fix: more logging for badges
  metadata/metadata_service/api/badge.py
  metadata/metadata_service/proxy/neo4j_proxy.py
Labels: area:metadata, category:api, category:proxy

#1993 feat: Add configurable prop types to neo4j csv publisher
  databuilder/databuilder/publisher/neo4j_csv_unwind_publisher.py
  databuilder/databuilder/publisher/publisher_config_constants.py
  databuilder/setup.py
Labels: area:databuilder

#1995 Fix toggle filter and styling; update tests
  frontend/amundsen_application/static/js/components/ToggleSwitch/ToggleSwitch.tsx
  frontend/amundsen_application/static/js/components/ToggleSwitch/styles.scss
  frontend/amundsen_application/static/js/pages/SearchPage/ResourceSelector/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/CheckBoxFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/ToggleFilter/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/ToggleFilter/index.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/SearchFilter/ToggleFilter/styles.scss
  frontend/amundsen_application/static/js/pages/SearchPage/SearchPanel/styles.scss
Labels: area:frontend, category:ui

#1997 docs: Fix typo on BigQuery's instructions
  databuilder/README.md
Labels: area:databuilder, area:dev-tools, area:docs

#2000 chore: remove sqlalchemy dependency upper bound
  databuilder/requirements.txt
  databuilder/setup.py
Labels: area:databuilder
