Repository amundsen-io/amundsen, pull requests merged in 2022-02, with the labels that each got.

#1697 feat: Sort UserFollowsAPI response alphabetically
  metadata/metadata_service/api/user.py
  metadata/tests/unit/api/test_user.py
Labels: area:metadata, category:api

#1696 feat: new option added for column stats info text
  frontend/amundsen_application/static/js/utils/index.spec.ts
  frontend/amundsen_application/static/js/utils/stats.ts
Labels: area:frontend, category:ui

#1700 docs: Fix broken link to frontend installation
  docs/developer_guide.md
Labels: area:docs

#1704 docs: Fix broken links from docs home page
  README.md
Labels: area:dev-tools, area:docs

#1685 fix: Updating dbt extractor - to work on all json files
  databuilder/databuilder/extractor/dbt_extractor.py
  databuilder/tests/unit/extractor/test_dbt_extractor.py
Labels: area:databuilder

#1693 feat: Add column statistics indicator for columns with TableColumnStats available
  frontend/amundsen_application/static/js/components/SVGIcons/GraphIcon.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/constants.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/setup.py
Labels: area:frontend, category:ui

#1637 feat: general document mappings for ES
  databuilder/databuilder/task/search/__init__.py
  databuilder/databuilder/task/search/document_mappings.py
  databuilder/databuilder/task/search/search_data_queries.py
  databuilder/databuilder/task/search/search_metadata_to_elasticsearch_task.py
  databuilder/setup.py
Labels: area:databuilder, area:search, category:models

#1711 fix: wrap table column description text
  frontend/amundsen_application/static/js/components/EditableText/styles.scss
Labels: area:frontend, category:ui

#1713 fix: metadata-section and markdown-wrapper style
  frontend/amundsen_application/static/css/_layouts.scss
  frontend/amundsen_application/static/js/components/EditableText/styles.scss
Labels: area:frontend, category:ui

#1715 fix: small error when using given queries
  databuilder/databuilder/task/search/search_data_queries.py
  databuilder/setup.py
Labels: area:databuilder

#1717 fix: finalized cypher queries for new ES publishing task
  databuilder/databuilder/task/search/search_data_queries.py
  databuilder/setup.py
Labels: area:databuilder

#1716 feat: product tour in homepage
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/.betterer.ts
  frontend/amundsen_application/static/css/_buttons-default.scss
  frontend/amundsen_application/static/js/components/Alert/index.tsx
  frontend/amundsen_application/static/js/components/Badges/BadgeBrowseList/styles.scss
  frontend/amundsen_application/static/js/components/Badges/BadgeList/styles.scss
  frontend/amundsen_application/static/js/components/SVGIcons/Binoculars.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/Chat.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/index.tsx
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/components/Tour/index.spec.tsx
  frontend/amundsen_application/static/js/components/Tour/index.tsx
  frontend/amundsen_application/static/js/components/Tour/styles.scss
  frontend/amundsen_application/static/js/config/config-custom.ts
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/features/Feedback/index.spec.tsx
  frontend/amundsen_application/static/js/features/Feedback/index.tsx
  frontend/amundsen_application/static/js/features/Feedback/styles.scss
  frontend/amundsen_application/static/js/features/NavBar/index.spec.tsx
  frontend/amundsen_application/static/js/features/NavBar/index.tsx
  frontend/amundsen_application/static/js/features/NavBar/styles.scss
  frontend/amundsen_application/static/js/pages/BrowsePage/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/ListSortingDropdown/index.tsx
  frontend/amundsen_application/static/package-lock.json
  frontend/amundsen_application/static/package.json
  frontend/docs/application_config.md
  frontend/docs/developer_guide.md
Labels: area:frontend, category:ui, area:docs

#1720 docs: Fix deprecated variable name, dockerfile formatting
  docs/authentication/oidc.md
Labels: area:docs

#1722 feat: Elasticsearch 8 compatiblity
  common/amundsen_common/models/index_map.py
  common/setup.py
  databuilder/databuilder/publisher/elasticsearch_publisher.py
  databuilder/databuilder/task/search/document_mappings.py
  databuilder/databuilder/task/search/search_metadata_to_elasticsearch_task.py
  databuilder/example/scripts/sample_search_metadata_task.py
  databuilder/setup.py
  databuilder/tests/unit/publisher/test_elasticsearch_publisher.py
  docker-amundsen-local.yml
  docker-amundsen.yml
  search/README.md
  search/search_service/proxy/elasticsearch.py
  search/search_service/proxy/es_search_proxy.py
  search/setup.py
  search/tests/unit/proxy/fixtures.py
  search/tests/unit/proxy/test_elasticsearch.py
  search/tests/unit/proxy/test_es_search_proxy.py
Labels: area:common, area:databuilder, area:search, area:dev-tools, category:proxy, category:models, area:docs

#1728 chore: cleanup print statements
  search/search_service/proxy/es_search_proxy.py
Labels: area:search, category:proxy

#1695 feat: Backend support for nested columns
  databuilder/databuilder/extractor/neptune_search_data_extractor.py
  databuilder/databuilder/models/description_metadata.py
  databuilder/databuilder/models/feature/feature_metadata.py
  databuilder/databuilder/models/schema/schema.py
  databuilder/databuilder/models/table_metadata.py
  databuilder/databuilder/models/type_metadata.py
  databuilder/databuilder/transformer/complex_type_transformer.py
  databuilder/databuilder/utils/hive_complex_type_parser.py
  databuilder/example/dags/hive_sample_dag.py
  databuilder/example/scripts/sample_deltalake_metadata.py
  databuilder/tests/unit/extractor/test_feast_extractor.py
  databuilder/tests/unit/models/test_description_metadata.py
  databuilder/tests/unit/models/test_fixtures/table_metadata_fixtures.py
  databuilder/tests/unit/models/test_table_metadata.py
  databuilder/tests/unit/models/test_type_metadata.py
  databuilder/tests/unit/transformer/test_complex_type_transformer.py
  databuilder/tests/unit/utils/__init__.py
  databuilder/tests/unit/utils/test_hive_complex_type_parser.py
Labels: area:databuilder, area:dev-tools, category:models, area:docs

#1730 chore: Bump databuilder version for backend support for nested columns
  databuilder/setup.py
Labels: area:databuilder

#1735 chore: Fixing license headers
  metadata/metadata_service/proxy/neptune_proxy.py
  metadata/tests/unit/proxy/roundtrip/roundtrip_janusgraph_proxy.py
  metadata/tests/unit/proxy/roundtrip/roundtrip_neptune_proxy.py
Labels: area:metadata, category:proxy

#1739 fix: moving method to get index to ES client
  search/search_service/proxy/es_search_proxy.py
Labels: area:search, category:proxy
