Repository amundsen-io/amundsen, pull requests merged in 2022-06, with the labels that each got.

#1876 feat: Use type metadata description get/update apis
  frontend/amundsen_application/api/metadata/v0.py
  frontend/amundsen_application/api/utils/metadata_utils.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/EditableText/index.tsx
  frontend/amundsen_application/static/js/ducks/rootSaga.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/v0.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/reducer.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/sagas.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/types.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDescEditableText/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDescEditableText/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.spec.tsx
  frontend/tests/unit/api/metadata/test_v0.py
Labels: area:frontend, category:api, category:ui

#1884 fix: typos in search proxy impl
  search/search_service/proxy/es_proxy_v2.py
  search/search_service/proxy/es_proxy_v2_1.py
  search/tests/unit/proxy/test_es_proxy_utils.py
Labels: area:search, category:proxy

#1887 fix: Highlighting styling improvement
  frontend/amundsen_application/static/js/components/ResourceListItem/styles.scss
Labels: area:frontend, category:ui

#1891 test: Fix databuilder PR unit test import error
  databuilder/setup.py
Labels: area:databuilder

#1888 feat: Adding expand all/collapse all functionality for nested columns
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/SVGIcons/DoubleChevronDown.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/DoubleChevronUp.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/index.tsx
  frontend/amundsen_application/static/js/components/Table/index.spec.tsx
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/components/Table/styles.scss
  frontend/amundsen_application/static/js/features/ColumnList/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/styles.scss
Labels: area:frontend, category:ui

#1858 fix: relax pandas version requirements for databuilder
  databuilder/requirements.txt
Labels: area:databuilder

#1901 fix: Various fixes to nested columns based on feedback
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_layouts.scss
  frontend/amundsen_application/static/js/components/Badges/BadgeList/styles.scss
  frontend/amundsen_application/static/js/components/SVGIcons/DownTriangleIcon.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/RightTriangleIcon.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/constants.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnDetailsPanel/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/constants.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/styles.scss
Labels: area:frontend, category:ui

#1904 fix: Updating tour feature to store wildcard path instead of the url path
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/features/NavBar/index.tsx
Labels: area:frontend, category:ui

#1869 fix: Handle qualified tableau datasources more gracefully
  databuilder/databuilder/extractor/dashboard/tableau/tableau_dashboard_table_extractor.py
Labels: keep fresh, area:databuilder

#1881 feat: Amazon EventBridge Extractor
  README.md
  databuilder/README.md
  databuilder/databuilder/extractor/eventbridge_extractor.py
  databuilder/requirements.txt
  databuilder/tests/unit/extractor/test_eventbridge_extractor.py
Labels: keep fresh, area:databuilder, area:dev-tools, area:docs

#1907 feat: Enable new nested columns
  databuilder/README.md
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/setup.py
Labels: area:databuilder, area:frontend, area:dev-tools, category:ui, area:docs

#1898 feat: added addition fields config to publisher
  databuilder/databuilder/publisher/neo4j_csv_publisher.py
  databuilder/setup.py
Labels: area:databuilder

#1913 fix: Handle BigQuery 404s gracefully
  databuilder/databuilder/extractor/bigquery_metadata_extractor.py
Labels: area:databuilder

#1916 chore: Bump databuilder to 6.10.0
  databuilder/setup.py
Labels: area:databuilder
