Repository amundsen-io/amundsen, pull requests merged in 2022-07, with the labels that each got.

#1919 refactor: Remove all old frontend parsing for nested columns
  frontend/amundsen_application/api/utils/metadata_utils.py
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/components/SVGIcons/DoubleChevronDown.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/DoubleChevronUp.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/NestingArrow.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/index.tsx
  frontend/amundsen_application/static/js/components/Table/index.tsx
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.spec.ts
  frontend/amundsen_application/static/js/ducks/tableMetadata/api/helpers.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.spec.ts
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
  frontend/amundsen_application/static/js/features/ColumnList/styles.scss
  frontend/amundsen_application/static/js/interfaces/ColumnList.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
Labels: area:frontend, category:api, category:ui

#1921 docs: Improves the frontend documentation on announcements
  frontend/amundsen_application/static/js/config/config-custom.ts
  frontend/docs/application_config.md
Labels: area:frontend, category:ui, area:docs

#1922 feat: Extract search results per page into a config variable
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/search/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/js/pages/SearchPage/constants.ts
  frontend/amundsen_application/static/js/pages/SearchPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/index.tsx
Labels: area:frontend, category:ui

#1923 chore: bumped databuilder to 6.11.0
  databuilder/setup.py
Labels: area:databuilder

#1924 feat: Sticky TabsComponent and Table headers
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/css/_layouts.scss
  frontend/amundsen_application/static/css/_variables-default.scss
  frontend/amundsen_application/static/js/components/Table/styles.scss
  frontend/amundsen_application/static/js/components/TabsComponent/index.spec.tsx
  frontend/amundsen_application/static/js/components/TabsComponent/index.tsx
  frontend/amundsen_application/static/js/components/TabsComponent/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/constants.ts
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/styles.scss
Labels: area:frontend, category:ui

#1915 feat: add get_lineage support for neptune backend
  metadata/metadata_service/proxy/gremlin_proxy.py
Labels: area:metadata, category:proxy

#1918 fix: Update bounds for databuilder google-auth versions
  databuilder/setup.py
Labels: area:databuilder, area:frontend, category:ui

#1925 fix: Change TabsComponent styling to only be sticky in certain cases
  frontend/amundsen_application/static/js/components/TabsComponent/styles.scss
Labels: area:frontend, category:ui

#1927 feat: add get_dashbaord support for neptune
  metadata/metadata_service/proxy/gremlin_proxy.py
Labels: area:metadata, category:proxy

#1912 fix: Fix nested UI for eventbridge metadata
  frontend/amundsen_application/static/js/features/ColumnList/ColumnType/parser.ts
Labels: area:frontend, category:ui

#1938 chore: migrate databuilder to neo4j-driver 4.4.5
  databuilder/databuilder/extractor/neo4j_extractor.py
  databuilder/databuilder/publisher/neo4j_csv_publisher.py
  databuilder/databuilder/task/neo4j_staleness_removal_task.py
  databuilder/requirements.txt
  databuilder/setup.py
  docker-amundsen.yml
Labels: area:databuilder, area:dev-tools

#1939 feat: Exclude stats icon if configured stat types are the only ones present
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/features/ColumnList/index.spec.tsx
  frontend/amundsen_application/static/js/features/ColumnList/index.tsx
Labels: area:frontend, category:ui

#1940 fix: Show the column in the center of the table when navigating to a column link
  frontend/amundsen_application/static/js/components/Table/constants.ts
  frontend/amundsen_application/static/js/components/Table/index.tsx
Labels: area:frontend, category:ui

#1942 feat: Neo4j 4.x support
  databuilder/databuilder/extractor/neo4j_extractor.py
  databuilder/databuilder/publisher/neo4j_csv_publisher.py
  databuilder/databuilder/task/neo4j_staleness_removal_task.py
  databuilder/setup.py
  databuilder/tests/unit/extractor/test_neo4j_extractor.py
  databuilder/tests/unit/extractor/test_neo4j_search_data_extractor.py
  databuilder/tests/unit/publisher/test_neo4j_csv_publisher.py
  databuilder/tests/unit/task/test_neo4j_staleness_removal_task.py
Labels: area:databuilder

#1944 fix: driver object pickle error
  databuilder/databuilder/extractor/neo4j_extractor.py
  databuilder/databuilder/publisher/neo4j_csv_publisher.py
  databuilder/databuilder/task/neo4j_staleness_removal_task.py
  databuilder/setup.py
Labels: area:databuilder
