Repository amundsen-io/amundsen, pull requests merged in 2023-12, with the labels that each got.

#2213 [ADD] Make sqlalchemy_extractor compatible with sqlalchemy>=1.4
  databuilder/databuilder/extractor/sql_alchemy_extractor.py
  databuilder/setup.py
Labels: area:databuilder

#2221 fix: Do not attempt to retrieve feature lineage when it is not enabled
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
Labels: area:frontend

#2222 amend typos in get_dashboard_tables
  metadata/metadata_service/proxy/gremlin_proxy.py
  metadata/setup.py
Labels: area:metadata

#2223 chore: Add method get_resources_using_table to metadata gremlin_proxy
  metadata/metadata_service/proxy/gremlin_proxy.py
Labels: area:metadata
