Repository amundsen-io/amundsen, pull requests merged in 2023-08, with the labels that each got.

#2182 Refactor Neo4jProxy table owners query for easier customization
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/setup.py
  metadata/tests/unit/proxy/test_neo4j_proxy.py
Labels: area:metadata

#2179 Fix: Add rds badge association records
  databuilder/databuilder/models/badge.py
  databuilder/tests/unit/models/test_badge.py
Labels: area:databuilder

#2184 Chore: Bump databuilder version to 7.4.5
  databuilder/setup.py
Labels: area:databuilder

#2188 Move dorianj to Emeritus contributor
  .github/CODEOWNERS
  OWNERS.md
Labels: area:dev-tools
