Repository amundsen-io/amundsen, pull requests merged in 2023-01, with the labels that each got.

#2078 feat: Make default depth configurable for table lineage graph view (commanded)
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/ducks/lineage/index.spec.ts
  frontend/amundsen_application/static/js/ducks/lineage/reducer.ts
  frontend/amundsen_application/static/js/pages/LineagePage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
Labels: area:frontend, category:ui

#2079 fix: int is too small for a unix timestamp
  common/amundsen_common/models/dashboard.py
  common/setup.py
  requirements-common.txt
Labels: type:bug, status:completed, area:common, category:models

#2080 fix: cleans ESLint issues with unused variables
  .github/boring-cyborg.yml
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/.betterer.ts
  frontend/amundsen_application/static/js/components/EditableSection/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceList/PaginatedApiResourceList/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceList/PaginatedResourceList/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceList/PaginatedResourceList/index.tsx
  frontend/amundsen_application/static/js/components/ResourceList/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/DashboardListItem/index.spec.tsx
  frontend/amundsen_application/static/js/components/ResourceListItem/UserListItem/index.spec.tsx
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/ducks/bookmark/api/tests/index.spec.ts
  frontend/amundsen_application/static/js/ducks/bookmark/index.spec.ts
  frontend/amundsen_application/static/js/ducks/bookmark/sagas.ts
  frontend/amundsen_application/static/js/ducks/dashboard/api/api.spec.ts
  frontend/amundsen_application/static/js/ducks/lastIndexed/sagas.ts
  frontend/amundsen_application/static/js/ducks/middlewares/analyticsMiddleware.ts
  frontend/amundsen_application/static/js/features/BadgeList/index.tsx
  frontend/amundsen_application/static/js/features/MyBookmarks/index.spec.tsx
  frontend/amundsen_application/static/js/features/SearchBar/InlineSearchResults/SearchItemList/tests/index.spec.tsx
  frontend/amundsen_application/static/js/features/Tags/TagInput/index.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/ChartList/index.spec.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/DashboardOwnerEditor/index.spec.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/ImagePreview/index.spec.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/ImagePreview/index.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/QueryListItem/index.spec.tsx
  frontend/amundsen_application/static/js/pages/ProfilePage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/SearchPage/ResourceSelector/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/DataPreviewButton/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/ListSortingDropdown/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/RequestMetadataForm/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableHeaderBullets/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/TableOwnerEditor/index.spec.tsx
  frontend/amundsen_application/static/package.json
Labels: area:frontend, area:dev-tools, category:ui

#2077 feat: support table/column lineage for mysql backend
  databuilder/databuilder/models/table_lineage.py
  databuilder/example/scripts/sample_data_loader_mysql.py
  databuilder/requirements.txt
  databuilder/tests/unit/models/test_table_lineage.py
  metadata/metadata_service/proxy/mysql_proxy.py
  metadata/setup.py
  metadata/tests/unit/proxy/test_mysql_proxy.py
Labels: area:databuilder, area:metadata

#2086 Fix: Enable neptune proxy custom sts endpoint
  docs/tutorials/how-to-use-amundsen-with-aws-neptune.md
  metadata/metadata_service/config.py
  metadata/metadata_service/proxy/neptune_proxy.py
Labels: area:metadata, area:docs

#2088 chore: updates betterer; cleans some eslint issues
  frontend/amundsen_application/static/.betterer.results
  frontend/amundsen_application/static/.betterer.ts
  frontend/amundsen_application/static/js/components/EditableSection/index.tsx
  frontend/amundsen_application/static/js/components/EntityCard/EntityCardSection/index.tsx
  frontend/amundsen_application/static/js/components/ScrollTracker/index.tsx
  frontend/amundsen_application/static/js/ducks/search/sagas.ts
  frontend/amundsen_application/static/package-lock.json
  frontend/amundsen_application/static/package.json
Labels: area:frontend, javascript

#2089 Fix: added newline so that bullet points can render properly
  docs/tutorials/how-to-use-amundsen-with-aws-neptune.md
Labels: area:docs

#2091 feat: adds dynamic notices flag on config
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/docs/application_config.md
Labels: area:frontend, area:docs

#2092 fix: rendering of bullet on the Features page
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
Labels: area:frontend

#1573 fix: #1572 - make where_clause_suffix an actual suffix
  databuilder/databuilder/extractor/redshift_metadata_extractor.py
  databuilder/tests/unit/extractor/test_redshift_metadata_extractor.py
Labels: keep fresh, area:databuilder

#2023 fix: open file in read mode and close on cleanup for ElasticsearchPublisher
  databuilder/databuilder/publisher/elasticsearch_publisher.py
Labels: keep fresh, area:databuilder
