Repository amundsen-io/amundsen, pull requests merged in 2023-03, with the labels that each got.

#2110 doc: update readme
  README.md
Labels: area:dev-tools

#2112 feat: adds light themed header option
  docs/img/header-dark-custom-logo.png
  docs/img/header-dark-default-logo.png
  docs/img/header-light-default-logo.png
  frontend/amundsen_application/static/.storybook/webpack.config.js
  frontend/amundsen_application/static/css/_buttons-default.scss
  frontend/amundsen_application/static/css/_variables-default.scss
  frontend/amundsen_application/static/images/icons/amundsen-logo-dark.svg
  frontend/amundsen_application/static/images/icons/amundsen-logo-light.svg
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/features/Feedback/index.spec.tsx
  frontend/amundsen_application/static/js/features/Feedback/index.tsx
  frontend/amundsen_application/static/js/features/NavBar/index.spec.tsx
  frontend/amundsen_application/static/js/features/NavBar/index.tsx
  frontend/amundsen_application/static/js/features/NavBar/navBar.story.tsx
  frontend/amundsen_application/static/js/features/NavBar/styles.scss
  frontend/docs/application_config.md
Labels: area:frontend, area:docs

#2113 feat: adds support for app suite links dropdown menu
  docs/img/app-suite.png
  docs/img/nav-links.png
  frontend/amundsen_application/static/css/_dropdowns.scss
  frontend/amundsen_application/static/css/_variables-default.scss
  frontend/amundsen_application/static/js/components/SVGIcons/GridIcon.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/index.tsx
  frontend/amundsen_application/static/js/components/SVGIcons/svgIcons.story.tsx
  frontend/amundsen_application/static/js/components/Tour/styles.scss
  frontend/amundsen_application/static/js/config/config-default.ts
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/config/index.spec.ts
  frontend/amundsen_application/static/js/features/Breadcrumb/index.spec.tsx
  frontend/amundsen_application/static/js/features/Feedback/styles.scss
  frontend/amundsen_application/static/js/features/MyBookmarks/index.spec.tsx
  frontend/amundsen_application/static/js/features/NavBar/index.spec.tsx
  frontend/amundsen_application/static/js/features/NavBar/index.tsx
  frontend/amundsen_application/static/js/features/NavBar/navBar.story.tsx
  frontend/amundsen_application/static/js/features/NavBar/styles.scss
  frontend/amundsen_application/static/js/features/SearchBar/index.spec.tsx
  frontend/amundsen_application/static/js/features/SearchBar/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/ReportTableIssue/styles.scss
  frontend/amundsen_application/static/js/pages/TableDetailPage/RequestMetadataForm/styles.scss
  frontend/docs/application_config.md
Labels: area:frontend, area:docs

#2114 chore: adds page view tracking via logAction
  .github/PULL_REQUEST_TEMPLATE.md
  .github/prLint.json
  .github/titleLint.yml
  frontend/amundsen_application/static/js/index.tsx
Labels: area:frontend, area:dev-tools

#2115 feat: add programmatic descriptions to feature details page
  frontend/amundsen_application/static/js/ducks/feature/reducer.ts
  frontend/amundsen_application/static/js/fixtures/globalState.ts
  frontend/amundsen_application/static/js/fixtures/metadata/feature.ts
  frontend/amundsen_application/static/js/interfaces/Feature.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/constants.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
Labels: area:frontend

#2116 feat: thins out the global header to gain vertical space
  frontend/amundsen_application/static/css/_buttons-default.scss
  frontend/amundsen_application/static/css/_variables-default.scss
  frontend/amundsen_application/static/js/features/NavBar/styles.scss
Labels: area:frontend

#2118 fix: clean up ML features page
  frontend/amundsen_application/static/js/pages/FeaturePage/constants.ts
  frontend/amundsen_application/static/js/pages/FeaturePage/index.tsx
Labels: area:frontend

#2119 fix: Use managed read transactions for queries in metadata service
  metadata/metadata_service/proxy/neo4j_proxy.py
  metadata/setup.py
Labels: area:metadata

#2123 docs: updates the missing application configuration docs
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/docs/application_config.md
Labels: area:frontend, area:docs

#2124 docs: updates frontend docs with styleguide and consolidation
  frontend/README.md
  frontend/amundsen_application/static/package.json
  frontend/docs/developer_guide.md
  frontend/docs/react_naming_conventions.md
  frontend/docs/recommended_practices.md
  mkdocs.yml
Labels: area:frontend, area:docs, area:dev-tools

#2121 fix: filters affected by mapping inheritance issue
  search/search_service/proxy/es_proxy_v2.py
  search/setup.py
Labels: area:search

#2127 test: Add unit test for quality endpoint, improve message for not-implemented
  frontend/amundsen_application/api/quality/v0.py
  frontend/tests/unit/api/quality/__init__.py
  frontend/tests/unit/api/quality/test_v0.py
Labels: area:frontend

#2087 Feature: Dynamic resource notices
  frontend/amundsen_application/__init__.py
  frontend/amundsen_application/api/notice/__init__.py
  frontend/amundsen_application/api/notice/v0.py
  frontend/amundsen_application/base/base_notice_client.py
  frontend/amundsen_application/config.py
  frontend/amundsen_application/models/notice.py
  frontend/amundsen_application/static/css/_popovers.scss
  frontend/amundsen_application/static/js/components/Alert/Alert.tsx
  frontend/amundsen_application/static/js/components/Alert/AlertList.tsx
  frontend/amundsen_application/static/js/components/Alert/alert.story.tsx
  frontend/amundsen_application/static/js/components/Alert/index.spec.tsx
  frontend/amundsen_application/static/js/components/Alert/index.tsx
  frontend/amundsen_application/static/js/components/Alert/styles.scss
  frontend/amundsen_application/static/js/components/DefinitionList/styles.scss
  frontend/amundsen_application/static/js/components/ResourceListItem/styles.scss
  frontend/amundsen_application/static/js/components/Table/styles.scss
  frontend/amundsen_application/static/js/config/config-types.ts
  frontend/amundsen_application/static/js/config/config-utils.ts
  frontend/amundsen_application/static/js/ducks/notices/api/api.spec.ts
  frontend/amundsen_application/static/js/ducks/notices/api/v0.ts
  frontend/amundsen_application/static/js/ducks/notices/index.ts
  frontend/amundsen_application/static/js/ducks/notices/types.ts
  frontend/amundsen_application/static/js/fixtures/notices/testDataBuilder.ts
  frontend/amundsen_application/static/js/interfaces/Analytics.ts
  frontend/amundsen_application/static/js/interfaces/Announcements.ts
  frontend/amundsen_application/static/js/interfaces/Dashboard.ts
  frontend/amundsen_application/static/js/interfaces/Notices.ts
  frontend/amundsen_application/static/js/interfaces/Notifications.ts
  frontend/amundsen_application/static/js/interfaces/Resources.ts
  frontend/amundsen_application/static/js/interfaces/TableMetadata.ts
  frontend/amundsen_application/static/js/interfaces/Tags.ts
  frontend/amundsen_application/static/js/interfaces/User.ts
  frontend/amundsen_application/static/js/interfaces/Widgets.ts
  frontend/amundsen_application/static/js/interfaces/index.ts
  frontend/amundsen_application/static/js/pages/DashboardPage/index.tsx
  frontend/amundsen_application/static/js/pages/DashboardPage/styles.scss
  frontend/amundsen_application/static/js/pages/LineagePage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.spec.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/index.tsx
  frontend/amundsen_application/static/js/pages/TableDetailPage/styles.scss
  frontend/tests/unit/api/notice/test_v0.py
Labels: area:databuilder, area:frontend, area:docs, area:dev-tools
